<div id="topbar" class="d-none d-sm-flex align-items-center fixed-top">
  <div class="container d-flex">
    <!-- Session Bar -->
    <div *ngIf="isSessionExpiring() && isLoggedIn" class="sessionBarShow">
      <div class="row">
          <div class="warningIcon">
              <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div *ngIf="!sessionIsExpired" class="col d-flex justify-content-center">
              {{ 'Information_messages.Session_expiration_message_start' | translate }} &nbsp;<span class="countdown">{{ sessionTimeLeftToShow }}</span>&nbsp; {{ 'Common_labels.Seconds' | translate }}.&nbsp;
              <span class="clickToExtend" (click)="extendSession()">{{ 'Common_labels.Click_here' | translate }}</span>&nbsp; {{ 'Information_messages.Session_expiration_message_end' | translate }}
          </div>
          <div *ngIf="sessionIsExpired" class="col d-flex justify-content-center"> {{ 'Information_messages.Session_expired' | translate }} </div>
          
      </div>
    </div>
      <div class="contact-info mr-auto">

      </div>
      <app-language-selector></app-language-selector>
      <div class="social-links btn-registration" *ngIf="(!isLoggedIn)">
          <a class="user" routerLink="/login"><i class='bx bx-log-in-circle'></i><span>{{ 'Common_labels.Login' | translate }}</span></a>
          <a class="facebook" (click)='goToRegistrationPage()'><i class='bx bxs-lock-alt'></i><span>{{ 'Common_labels.Register' | translate }}</span></a>
      </div>
      <div class="ml-3 header-user-info" *ngIf="(isLoggedIn)">
        <i class='bx bx-user mr-2'></i><span>{{ username }}</span>
        <a class="ml-2" (click)="navigateToPrivatePages()"><span class="loggedFarmLink"><i class="bx bx-log-in"></i>
          {{ 'Home.IPM_Private' | translate }}</span></a>
      </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">

      <nav class="ml-2 d-none d-sm-block"><!-- Removed nav-menu from class -->
          <ul>
              <li class="active"><a routerLink="/">{{ 'Common_labels.Home' | translate }}</a></li>
          </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<section class="clients-section spad">
  <div class="container">
    <div class="client-text">
      <h2>{{ 'Common_labels.Farmers_and_Advisors' | translate }}</h2>
      <img class="article-image" src="img/farming.png">
      <span [innerHtml]="articleContent"></span>
    </div>
  </div>
</section>
<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container py-4">
    <div class="row">
      <div class="col-md-5 eu-flag">
        <p>{{ 'Common_labels.EU_footer_further_information' | translate }} <a href="mailto:contact@ipmdecisions.net" target="_blank">contact@ipmdecisions.net</a>.</p>
        <p>{{ 'Common_labels.EU_footer_further_details_on_project' | translate }} <a href="https://www.ipmdecisions.net" target="_blank">https://www.ipmdecisions.net</a>.</p>
        <img src="img/logo-euro.jpg" style="float: left; display: inline-grid; margin-right: 5px;">
        <p>
          {{ 'Common_labels.Cofundend_by_the_Horizon_2020' | translate }}
          <br>{{ 'Common_labels.Framework_programme' | translate }}
          <br>{{ 'Common_labels.Under_grant_agreement' | translate }}
        </p>
      </div>
      <div class="col-md-3 ">
      </div>

      <div class="col-md-4 ">
        <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2022 <b>{{ 'Common_labels.All_rights_reserved' | translate }} Engineering</b> <br>VAT: 05724831002
  </div>
</footer><!-- End Footer -->
<div>

</div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
