<header class="header-section clearfix">

  <div class="container site-navbar">
    <!-- Logo -->
    <a routerLink="/" class="site-logo">
      <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions" title="Logo IPM" />
    </a>
    <div class="login-registration-menu">
      <div class="login-registration-menu-item">
        <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i><br>Log in</a>
      </div>
      <div class="login-registration-menu-item">
        <a class="register-link" (click)='goToRegistrationPage()'><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>Register</a>
      </div>
    </div>
  </div>
</header>
<!-- Header section end  -->
<div class="border-animation"></div>

<section class="clients-section spad">
  <div class="container">
    <div class="client-text">
      <h2>Farmers&amp;Advisors</h2>
      <p>Lorem ipsum dolor sit amet, his nihil legere populo eu, numquam euripidis an vix, ex alterum periculis his. Hinc natum civibus vis et, per dicat labore tamquam no. Et falli choro offendit vel, duo malis veritus et. Sed quidam theophrastus an. Pri et congue partem principes, qui in verear intellegebat, sonet aliquam lucilius at eam. Quas graecis dissentias nam cu.

        Eum ea dicam ridens phaedrum. Qui an simul nostro voluptua. Ei mel ullum tation voluptatibus. Laoreet appetere ea est, pri an nobis bonorum fierent. Aliquam referrentur his an.

        Viris eruditi patrioque ea has, no tota natum principes mei, labores tincidunt consetetur eos te. Case reque an has, ius illum cetero mediocritatem eu. An pro omnes nostrud, sed an augue oblique, ex mei mutat munere aliquando. In purto eruditi nam, est et dicant putant torquatos. Vel eu augue animal, ne soleat melius qui.

        Sed invenire principes contentiones eu, et definiebas appellantur nam. Fuisset omnesque intellegam cu pro. Senserit praesent ad nec, ne nec ancillae sententiae ullamcorper. Te nonumy molestie comprehensam pri, verear nostrud qui no. Veri dicunt signiferumque nec ei.

        Nullam pericula sea no, ea congue explicari vituperatoribus pri. Graeci erroribus disputationi an eum, pri ex fugit dignissim efficiantur. Has eu justo fabellas salutandi, ad eligendi forensibus honestatis mel. Ei qui tritani fabulas persecuti, sea aliquid hendrerit ei. Sed habeo causae ponderum eu, te vix facer nemore. Has alienum contentiones cu.

        Per et purto populo reprimique, pro vidit nostro accusam ea, ad quo tincidunt quaerendum. At insolens constituam cotidieque sit. Ex summo inciderint sed. Ne sit saperet fierent appetere, vim duis aliquid in, ex mazim scaevola vel. Has soluta erroribus reformidans an. Commodo urbanitas persecuti te pri, ne dicam assueverit per, ius eu iusto molestie luptatum. Has tamquam oblique alienum no, eam tation pertinax eu.

        Doctus equidem hendrerit usu ex, habemus minimum delectus mei eu, ut elitr oblique molestie sit. Ea his aeque iuvaret, phaedrum gubergren ut mei. Vim no aeque clita convenire, ex utinam deseruisse suscipiantur duo. Qui habeo voluptaria ne, sea at nostro expetenda reprimique. Nullam animal mel no, duo eu labores euripidis, et ferri tempor comprehensam ius.

        Scriptorem conclusionemque te usu. Graece causae eum cu. Sint homero no cum, tritani fabellas periculis in pri, eos ex quot feugait copiosae. Mei odio alienum omittam te. Has odio legimus propriae ad, no duo dicant dignissim.

        Vel ut accusam inimicus, ad nam volutpat reformidans interpretaris. Facilisis necessitatibus duo an, an sea voluptua referrentur. Eu illum debitis pro, in illum dolor quo, et elit eruditi ius. Ei choro clita habemus cum. Vim ei legere eruditi contentiones.

        Dicunt fastidii ea sea. Quo mundi legimus recusabo ea, duo ad quem impedit voluptaria. Id mea apeirian cotidieque definitiones. Sint partem volutpat ei eam, mel munere referrentur ut, ei pri tacimates dignissim voluptaria. Vocibus deseruisse nam in.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
