<div id="login-background"></div>
<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column">
        <div id="login-box" class="col-md-12">

          <div class="tab-content">
            <br>
            <a routerLink="/"><img style="margin: 0 auto; display: block;" alt="Logo Ipm Decisions" src="img/logo-ipm-decision.png" title="Logo IPM" class="text-center"></a>
            <br>
            <div class="tab-pane active" id="login-form" role="tabpanel">
              <div *ngIf="!forgotPass">
                <!-- <div class="alert alert-danger" *ngIf="errors.length">
                      <p *ngFor="let error of errors">{{ error }}</p>
                    </div> -->
                <!-- <div class="alert alert-success" *ngIf="isVerified">
                      <span>Account successfully verified! Please, log in into your account.</span>
                    </div> -->
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" id="login-form" class="form">
                  <div class="form-group">
                    <label class="text-info">{{ 'Common_labels.Email' | translate }}</label>
                    <input id="login-email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
                    <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">{{ 'Error_messages.Email_required' | translate }}</div>
                      <div *ngIf="f.email.errors.pattern">{{ 'Error_messages.Email_must_be_valid' | translate }}</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="text-info">{{ 'Common_labels.Password' | translate }}</label>
                    <input id="login-password" type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />

                    <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">{{ 'Error_messages.Password_required' | translate }}</div>
                      <div *ngIf="f.password.errors.minlength">{{ 'Error_messages.Password_must_be_at_least_6_characters_lenght' | translate }}</div>
                      <div *ngIf="f.password.errors?.pattern">{{ 'Error_messages.Password_must_have_at_least_one_non_alphanumeric_character' | translate }}</div>
                      <div *ngIf="f.password.errors?.pattern">{{ 'Error_messages.Password_must_have_at_least_one_digit' | translate }}</div>
                    </div>
                  </div>
                  <div class="text-center col" id="register-link" class="text-center">
                    <button class="text-info btn btn-login">{{ 'Common_labels.Login' | translate }}</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="registrer-form" role="tabpanel">
              <register></register>
            </div>
            <div class="tab-pane" id="forgot-password" role="tabpanel">
              <forget-password></forget-password>
            </div>
            <div class="tab-pane" id="resend-confirmation-email" role="tabpanel">
              <resend-confirmation-email></resend-confirmation-email>
            </div>
          </div>
          <ul class="nav nav-justified" id="login-register-nav">
            <li class="nav-item"><a data-toggle="tab" href="#login-form" class="active nav-link"><i class="fa fa-user"
                  aria-hidden="true"></i> {{ 'Common_labels.Login' | translate }} </a></li>
            <li class="nav-item"><a id="register-button" data-toggle="tab" href="#registrer-form" class="nav-link"><i
                  class="fa fa-address-book" aria-hidden="true"></i> {{ 'Common_labels.Register' | translate }}</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#forgot-password" class="nav-link"> <i
                  class="fa fa-question-circle" aria-hidden="true"></i> {{ 'Common_labels.Forgot_password' | translate }}</a></li>
            <li *ngIf="emailNotConfirmed" class="nav-item"><a data-toggle="tab" href="#resend-confirmation-email" class="nav-link"> <i
                  class="fa fa-redo" aria-hidden="true"></i> {{ 'Common_labels.Resend_confirmation_email' | translate }}</a></li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loginModal>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="true">
      <p>{{ errorMessage | translate }}</p>
      <p *ngIf="emailNotConfirmed" [innerHtml]="('Information_messages.Email_not_validated_Message'| translate)"></p>
    </div>
    <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()">{{ 'Common_labels.Ok' | translate }}</button>
  </div>
</ng-template>
