<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
    <admin-header></admin-header>

    <div class="app-main">
        <div class="app-sidebar sidebar-shadow bg-happy-green sidebar-text-light">
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <admin-header-sx></admin-header-sx>
                </div>
            </div>
        </div>
        <div class="app-main__outer">
            <admin-breadcumbs></admin-breadcumbs>
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Dropdowns</div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
