<div id="login-background"></div>
<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column">
        <div id="login-box" class="col-md-12 text-center mb-5">
          <br>
            <a routerLink="/"><img style="margin: 0 auto; display: block;" alt="Logo Ipm Decisions" src="img/logo-ipm-decision.png" title="Logo IPM" class="text-center"></a>
          <br>
          <h4 class="text-muted mt-3 mb-4">{{ 'Reset_password.Account_password_reset' | translate }}</h4>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
            <div class="form-group col">
              <label class="text-info">{{ 'Reset_password.New_password' | translate }}</label>
              <input
                type="password"
                formControlName="newPassword"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.newPassword.errors && f.newPassword.touched }"
                placeholder=""
              />
              <div *ngIf="f.newPassword.errors && f.newPassword.touched" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors?.required">{{ 'Error_messages.Password_required' | translate }}</div>
                <div *ngIf="f.newPassword.errors?.minlength">{{ 'Error_messages.Password_must_be_at_least_6_characters_lenght' |
                  translate }}</div>
                <!--<div *ngIf="f.newPassword.errors?.pattern">{{ 'Error_messages.Password_must_have_at_least_one_digit' | translate
                  }}</div>-->
                <div *ngIf="f.newPassword.errors?.pattern">{{
                  'Error_messages.Password_must_have_at_least_one_non_alphanumeric_character' | translate }}</div>
              </div>
            </div>
            <div class="form-group col">
              <label class="text-info">{{ 'Reset_password.Confirm_new_password' | translate }}</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" />
              <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">
                  {{ 'Error_messages.Confirm_password_required' | translate }}
                </div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                  {{ 'Error_messages.Passwords_must_match' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!(f.newPassword.errors && f.newPassword.touched) && !(f.confirmPassword.errors && f.confirmPassword.touched)" class="form-row passwordSubLabel">
            <label>{{ 'Register.Password_sublabel' | translate }}</label>
          </div>
            <div class="text-center form-group col">
              <button class="btn btn-login btn-block" [disabled]="!resetPasswordForm.valid">{{ 'Reset_password.Send_password' | translate }}</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #resetPasswordModal>
  <div class="modal-body">
    <div class="alert alert-success" *ngIf="!errorDescription">
        <p>{{ 'Information_messages.Account_password_changed' | translate }}</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorDescription">
      <p>{{ 'Common_labels.Error' | translate }}: {{ errorDescription }}</p>
  </div>
    <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()" routerLink="/login">{{ 'Common_labels.Back_to_login' | translate }}</button>
  </div>
</ng-template>