<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
    <user-header></user-header>
    <div class="app-main">
        <sidebar></sidebar>
        <div class="app-main__outer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/user/farm">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/user/farm/list">Farm List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Farm Details</li>
                </ol>
            </nav>

            <div class="app-main__inner">

                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>Farm Details</div>
                        </div>
                    </div>
                </div>


                <div class="container mx-auto page-box">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-3 pr-0" [formGroup]="farmForm">
                            <div class="col-md border details-legend">
                                <h1 class="details-legend-title">Farm information</h1>

                                <div class="row">
                                    <div class="col-md-12 mt-4 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Farm Name</span>
                                            </div>
                                            <input type="text" aria-label="Farm Name" formControlName="name"
                                                class="form-control form-control-sm" [readonly]="!canEdit">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <h3 class="component-title">Select farm location on map</h3>
                                        <div class="map-container" #map></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 my-3">
                                        <h3 class="component-title">Select met. station</h3>

                                        <select name="met-stations" id="met-stations"
                                            class="form-control form-control-sm">
                                            <option value="met-station1">Met Station 1(x km)</option>
                                            <option value="met-station2">Met Station 2(y km)</option>
                                            <option value="met-station3">Met Station 3(z km)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row pull-right">
                                    <div class="col-md-12 mb-2">
                                        <button class="btn btn-info" (click)="editFarm(farm.id)">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end left column -->
                        
                        <!-- right column -->
                        <div class="col-md-9">
                            <div class="col-md border details-legend">
                                <h1 class="details-legend-title">Select crops and pests</h1>

                                <div class="row mt-3" [formGroup]="cropPestForm">
                                    <div class="col-md-3">

                                        <h3 class="component-title">Step 1: Select</h3>

                                        <select id="crops" class="form-control form-control-sm" formControlName="crop"
                                            [ngClass]="{'is-invalid': f.crop.errors && f.crop.touched}">
                                            <option value="brassica">Brassica</option>
                                            <option value="oilseed">Oilseed</option>
                                            <option value="wheat">Wheat</option>
                                        </select>

                                        <small class="invalid-feedback help-block">Select a crop!</small>
                                    </div>

                                    <div class="col-md-3">

                                        <h3 class="component-title">Step 2: Select pests and diseases</h3>

                                        <select id="pests" multiple class="form-control form-control-sm"
                                            formControlName="pest" [ngClass]="{'is-invalid': f.pest.errors &&
                                                f.pest.touched}">
                                            <option value="pest1">Pest 1</option>
                                            <option value="disease1">Disease 1</option>
                                            <option value="pest1">Pest 2</option>
                                            <option value="disease1">Wheat 1</option>
                                        </select>

                                        <small class="invalid-feedback help-block">Select pest/s!</small>
                                    </div>

                                    <div class="col-md-6">

                                        <h3 class="component-title">Step 3: Field name, variety &amp; sowing date
                                        </h3>
                                        <div class="row">
                                            <div class="col-md-4 input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm"
                                                    formControlName="fieldName"
                                                    [ngClass]="{'is-invalid': f.fieldName.errors && f.fieldName.touched}">


                                                <div *ngIf="f.fieldName.errors && f.fieldName.touched"
                                                    class="invalid-feedback">
                                                    <small class="help-block" *ngIf="f.fieldName.errors?.required">Enter
                                                        field name!</small>
                                                    <small class="help-block" *ngIf="f.fieldName.errors?.minlength">Must
                                                        be at least 3 character long!</small>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <select id="variety" class="form-control form-control-sm"
                                                    formControlName="variety"
                                                    [ngClass]="{'is-invalid': f.variety.errors && f.variety.touched}">
                                                    <option value="elotion">Elotion</option>
                                                    <option value="kws">KWS</option>
                                                    <option value="leeds">Leeds</option>
                                                    <option value="zulu">Zulu</option>
                                                </select>

                                                <small class="invalid-feedback help-block">Select a variety!</small>
                                            </div>

                                            <div class="col-md-4 input-group input-group-sm">
                                                <input type="text" placeholder="" formControlName="sowingDate"
                                                    class="form-control form-control-sm" bsDatepicker [bsConfig]="{ 
                                                         dateInputFormat: 'DD/MM/YYYY',
                                                         adaptivePosition: true 
                                                    }"
                                                    [ngClass]="{'is-invalid': f.sowingDate.errors && f.sowingDate.touched}">

                                                <small class="invalid-feedback help-block">Select a sowing date!</small>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row my-5 button-right">
                                    <div class="col-md">
                                        <button class="btn btn-success pull-right" (click)="addToFarm()"
                                            [disabled]="cropPestForm.invalid">Add to farm</button>
                                    </div>
                                </div>


                                <!-- table -->
                                <div class="row">
                                    <div class="col-md">
                                        <h3 class="component-title">Crop information table</h3>

                                        <div class="table-responsive">
                                            <table id="farm-table" mdbTable class="z-depth-1" small="true"
                                                striped="true">
                                                <thead class="btn-success white-text">
                                                    <tr>
                                                        <th *ngFor="let head of headElements; let i = index"
                                                            aria-controls="farm-table" scope="col"
                                                            [mdbTableSort]="elements" [sortBy]="headElements[i]">
                                                            {{head | titlecase}}
                                                            <mdb-icon fas icon="sort"></mdb-icon>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="elements.length > 0; else noDetails">
                                                    <tr *ngFor="let el of elements; let i = index">
                                                        <th scope="row">{{el.field}}</th>
                                                        <td>{{el.type}}</td>
                                                        <td>{{el.variety}}</td>
                                                        <td>{{el.sowing_date}}</td>
                                                    </tr>
                                                </tbody>
                                                <ng-template #noDetails>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="4">No data available.</td>
                                                        </tr>
                                                    </tbody>
                                                </ng-template>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end table -->



                            </div> <!-- end right column with legend-->





                        </div>
                        <!-- end right column -->

                    </div>

                </div>
            </div>
        </div>
    </div>