<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
    <user-header></user-header>
    <div class="app-main">
        <sidebar></sidebar>
        <div class="app-main__outer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/user/farm">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/user/farm/list">Farm List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Farm Details</li>
                </ol>
            </nav>

            <div class="app-main__inner">

                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>Farm Details</div>
                        </div>
                    </div>
                </div>


                <div class="container page-box p-5">
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-md-6 details-text">Farm name:</div>
                                <div class="col-md-6">{{ mock.name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">Address:</div>
                                <div class="col-md-6">{{ mock.address }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">Nearest met. station:</div>
                                <div class="col-md-6">{{ mock.nearestMetStation }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">Weather forecasting service:</div>
                                <div class="col-md-6">{{ mock.weatherForecast }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Field</th>
                                            <th class="text-center" scope="col">Crop</th>
                                            <th class="text-center" scope="col">Pest</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let field of mock.fields">
                                            <td class="text-center">{{ field.field }}</td>
                                            <td class="text-center"><a routerLink="/user/farm/details"
                                                    (click)="showFieldDetails(field)">{{ field.crop }}</a></td>
                                            <td class="text-center">{{ field.pest }}</td>
                                            <td class="td-actions text-center py-1">

                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Copy" title="Copy"
                                                    routerLink="/user/crop/edit">
                                                    <i class="action-icon size-11 fas fa-copy"></i>
                                                </button>

                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Edit" title="Edit"
                                                    routerLink="/user/crop/edit">
                                                    <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="text-center">Field 2</td>
                                            <td class="text-center"><a routerLink="/user/farm/details">Crop 2</a></td>
                                            <td class="text-center">Pest 2</td>
                                            <td class="td-actions text-center">
                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Copy" title="Copy"
                                                    routerLink="/user/farm/list">
                                                    <i class="action-icon size-11 fas fa-copy"></i>
                                                </button>

                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Update" title="Update"
                                                    routerLink="/user/farm/manage">
                                                    <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Field 3</td>
                                            <td class="text-center"><a routerLink="/user/farm/details">Crop 3</a></td>
                                            <td class="text-center">Pest 3</td>
                                            <td class="td-actions text-center">
                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Copy" title="Copy"
                                                    routerLink="/user/farm/list">
                                                    <i class="action-icon size-11 fas fa-copy"></i>
                                                </button>

                                                <button type="button" rel="tooltip" class="btn btn-link"
                                                    data-original-title="Update" title="Update"
                                                    routerLink="/user/farm/manage">
                                                    <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div> <!-- end table row -->

                    <div class="row mt-3" *ngIf="showDetails">
                        <div class="col-6">
                            <div class="row mb-4">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-md-6 details-text">Variety:</div>
                                        <div class="col-md-6">{{ selectedCrop.variety }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 details-text">Sowing date:</div>
                                        <div class="col-md-6">{{ selectedCrop.sowingDate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- table row -->

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <h6 class="text-muted size-09">Sprays applied:</h6>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">Spray</th>
                                                    <th class="text-center" scope="col">Date</th>
                                                    <th class="text-center" scope="col">Rate (kg/ha)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let spray of selectedCrop.spraysApplied">
                                                    <td class="text-center">{{ spray.spray }}</td>
                                                    <td class="text-center">{{ spray.date }}</td>
                                                    <td class="text-center">{{ spray.rate }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- end table row -->


                            <div class="row">
                                <!-- table row -->

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <h6 class="text-muted size-09">List of DSS:</h6>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">Name</th>
                                                    <th class="text-center" scope="col">Parameters</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let dss of selectedCrop.listDss">
                                                    <td class="text-center">{{ dss.name }}</td>
                                                    <td class="text-center">{{ dss.parameter }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- end table row -->


                            <div class="row">
                                <!-- table row -->

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <h6 class="text-muted size-09">Pest Observations</h6>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">Pest</th>
                                                    <th class="text-center" scope="col">Date</th>
                                                    <th class="text-center" scope="col">Severity (%)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let observation of selectedCrop.pestObservation">
                                                    <td class="text-center">{{ observation.pest }}</td>
                                                    <td class="text-center">{{ observation.date }}</td>
                                                    <td class="text-center">{{ observation.severity }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- end table row -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>