<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div class="app-main__outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/user/farm">{{ 'Common_labels.Home' | translate }}</a></li>
          <li class="breadcrumb-item"><a routerLink="/user/account">{{ 'Common_labels.Account' | translate }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ 'Edit_user_account.Title' | translate }}</li>
        </ol>
      </nav>
      <div class="app-main__inner profile-container">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <em class="pe-7s-user icon-gradient bg-mean-fruit">
                </em>
              </div>
              <div>{{ 'Edit_user_account.Title' | translate }}</div>
            </div>
          </div>
        </div>

        <div class="container mx-auto my-5 page-box">
          <div class="container page-box">
            <div class="row">
              <!-- left column -->
              <div class="col-md-4">
                <!--<div class="text-center">
                  <img src="img/profile.png" class="avatar img-circle" alt="avatar" />
                  <h6>Upload a different photo...</h6>

                  <input type="file"class="form-control" />
                  <!- - <input type="file" #profileImage class="form-control" (change)="uploadProfileImage($event.target.files)" /> - ->
                </div>-->
              </div>

              <!-- edit form column -->
              <div class="col-md-8 personal-info">
                <div class="alert alert-danger" *ngIf="errors && errors.length">
                  <p *ngFor="let error of errors">{{ error }}</p>
                  <!-- <p *ngFor="let error of errors">{{ error.description }}</p> -->
                </div>
                <div class="alert alert-success" *ngIf="isCreated">
                  <span>{{ 'Edit_user_account.User_account_created' | translate }}</span>
                </div>
                <div class="alert alert-success" *ngIf="isUpdated">
                  <span>{{ 'Edit_user_account.User_account_updated' | translate }}</span>
                </div>

                <h3>{{ 'Edit_user_account.Personal_info' | translate }}</h3>
                
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-lg-3 control-label">{{ 'Edit_user_account.First_name' | translate }}</label>
                    <div class="col-lg-8">
                      <input formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched }" />
                      <div *ngIf="f.firstName.errors && f.firstName.touched" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">{{ 'Error_messages.First_name_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">{{ 'Edit_user_account.Last_name' | translate }}</label>
                    <div class="col-lg-8">
                      <input formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }" />

                      <div *ngIf="f.lastName.errors && f.lastName.touched" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">{{ 'Error_messages.Last_name_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">{{ 'Common_labels.Email' | translate }}</label>
                    <div class="col-lg-8">
                      <input formControlName="email" class="form-control" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.Phone_number' | translate }}</label>
                    <div class="col-md-8">
                      <input type="number" formControlName="phoneNumber" class="form-control"
                        [ngClass]="{'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched}" />

                      <div *ngIf="f.phoneNumber.errors && f.phoneNumber.touched" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">{{ 'Error_messages.Phone_number_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.Mobile_number' | translate }}</label>
                    <div class="col-md-8">
                      <input type="number" formControlName="mobileNumber" class="form-control"
                        [ngClass]="{'is-invalid': f.mobileNumber.errors && f.mobileNumber.touched}" />

                      <div *ngIf="f.mobileNumber.errors && f.mobileNumber.touched" class="invalid-feedback">
                        <div *ngIf="f.mobileNumber.errors.required">{{ 'Error_messages.Mobile_number_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.Street' | translate }}</label>
                    <div class="col-md-8">
                      <input type="text" formControlName="street" class="form-control"
                        [ngClass]="{'is-invalid': f.street.errors && f.street.touched}" />

                      <div *ngIf="f.street.errors && f.street.touched" class="invalid-feedback">
                        <div *ngIf="f.street.errors.required">{{ 'Error_messages.Street_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.City' | translate }}</label>
                    <div class="col-md-8">
                      <input type="text" formControlName="city" class="form-control"
                        [ngClass]="{'is-invalid': f.city.errors && f.city.touched}" />
                      
                      <div *ngIf="f.city.errors && f.city.touched" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">{{ 'Error_messages.City_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.Post_code' | translate }}</label>
                    <div class="col-md-8">
                      <input type="text" formControlName="postcode" class="form-control"
                        [ngClass]="{'is-invalid': f.postcode.errors && f.postcode.touched}" />
                      <div *ngIf="f.postcode.errors && f.postcode.touched" class="invalid-feedback">
                        <div *ngIf="f.postcode.errors.required">{{ 'Error_messages.Post_code_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'Edit_user_account.Country' | translate }}</label>
                    <div class="col-md-8">
                      <select formControlName="country" class="form-control"
                        [ngClass]="{ 'is-invalid': f.country.errors && f.country.touched }">
                        <option *ngFor="let country of countries" [value]="country.value">
                          {{ country.label | translate }}
                        </option>
                      </select>

                      <div *ngIf="f.country.errors && f.country.touched" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">{{ 'Error_messages.Country_required' | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                      <button class="btn btn-primary" [disabled]="accountForm.invalid || false"
                        style=" background-color:#249fa5 !important">{{ 'Common_labels.Save_changes' | translate }}</button>
                      <span></span>
                      <input type="reset" class="btn btn-default" [value]="('Common_labels.Cancel' | translate)" [routerLink]="['/user/account']"
                        routerLinkActive="router-link-active" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
