.fa-circle {
    color: white;
}

.fa-square {
    color: white;
    bottom: -2px;
    transform: scale(0.5, 0.7);
}

.errorIcon-red {
    font-size: 100%;
    color: red;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(255, 255, 255)
}

.errorIcon-yellow {
    font-size: 100%;
    color: rgb(247 165 43);
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(255, 255, 255)
}

.errorIcon-green {
    font-size: 100%;
    color: rgb(105 197 4);
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(255, 255, 255)
}

.infoIcon {
    font-size: 100%;
    color: blue;
}

.syncIcon {
    font-size: 100%;
    color: rgb(247, 226, 112);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.scheduledIcon {
    font-size: 100%;
    color: rgb(255, 198, 91);
}