<div class="main-card mb-3 card">
  <div class="card-body">
    <table class="mb-0 table table-cover">
      <!-- requesterName requestStatus -->
      <tr>
        <th>{{ 'Farm_share.Requester_name' | translate }}</th>
        <th>{{ 'Farm_share.Request_status' | translate }}</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{item.requesterName}}</td>
        <td>{{item.requestStatus}}</td>
        <td style="font-size: 20px; min-width: 70px;">
          <div *ngIf="item.requestStatus == 'Pending'">
            <i class="fas fa-check-circle" style="color: green; cursor: pointer;"
              (click)="makeRequest(item.requesterId, 'Accepted')"
            ></i>&nbsp;
            <i class="fas fa-times-circle" style="color: red; cursor: pointer;"
              (click)="makeRequest(item.requesterId, 'Declined')"
            ></i>
          </div>
        </td>
      </tr>
    </table>
    <button
      [disabled]="!hasPreviousPage()"
      (click)="getPreviousPage()"
      class="mb-2 mr-2 btn btn-primary previous"
    >&lt;</button>
    <button
      [disabled]="!hasNextPage()"
      (click)="getNextPage()"
      class="mb-2 mr-2 btn btn-primary next"
    >&gt;</button>
  </div>
</div>

<ng-template #farmShareModal>
  <div class="modal-body">
    <div class="alert">
      <span>
        {{message}}
      </span>
    </div>
    <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()">{{ 'Common_labels.Ok' | translate }}</button>
  </div>
</ng-template>
