.data-selected{
    background-color: #ff0000;
    border-color: #ff0000;
}

.data-notSelected{
  display: none;
}

.row-selected {
  background-color: #c1f3c2;
  border-radius: 16px;
  font-weight: bold;
}

.row-notSelected {
  background-color: #ffffff;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #797f83;
  border-color: #797f83;
}