.page-box {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1rem;
    background: #fff;
    border-style: solid;
    border-color: #7abc2a;
  }
  .button-custom {
    margin: 2px;
  }
  
  .add-farm {
    bottom: 12px;
  }
  