<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div class="app-main__outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/user/farm">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
      </nav>
      <div class="app-main__inner">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading pr-4">
              <div class="page-title-icon">
                <i class="pe-7s-config icon-gradient bg-mean-fruit">
                </i>
              </div>
              <div>Settings</div>
            </div>
            <div class="page-title-heading pr-4">
              <button type="button" [routerLink]="['./manage-weather']" class="btn btn-info">
                <i class="fas fa-cloud-sun-rain icon-gradient bg-mean-fruit"></i>&nbsp;Manage Weather Data Source
              </button>
            </div>
            <div class="page-title-heading pr-4">
              <button type="button" [routerLink]="['./manage-alerts']" class="btn btn-info">
                <i class="fas fa-cloud-sun-rain icon-gradient bg-mean-fruit"></i>&nbsp;Manage Alerts
              </button>
            </div>
            <div class="page-title-heading pr-4">
              <button type="button" [routerLink]="['./customize-dashboard']" class="btn btn-info">
                <i class="fas fa-cloud-sun-rain icon-gradient bg-mean-fruit"></i>&nbsp;Manage Weather Data Source
              </button>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
