<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
    <user-header></user-header>
    <div class="app-main">
      <sidebar></sidebar>
      <div class="app-main__outer">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/user/farm">{{ 'Common_labels.Home' | translate }}</a></li>
            <li class="breadcrumb-item"><a routerLink="/user/account">{{ 'Common_labels.Account' | translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'User_edit_password.Change_password' | translate }}</li>
          </ol>
        </nav>
        <div class="app-main__inner profile-container">
          <div class="app-page-title">
            <div class="page-title-wrapper">
              <div class="page-title-heading">
                <div class="page-title-icon">
                  <em class="pe-7s-user icon-gradient bg-mean-fruit">
                  </em>
                </div>
                <div>{{ 'User_edit_password.Change_password' | translate }}</div>
              </div>
            </div>
          </div>
  
          <div class="container mx-auto my-5 page-box">
            <div class="container page-box">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-sm-4">
              </div>
              <div class="form-group col-sm-4">
                <label class="text-info">{{ 'User_edit_password.Current_password' | translate }}</label>
                <input
                  type="password"
                  formControlName="currentPassword"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': f.currentPassword.errors && f.currentPassword.touched }"
                  placeholder=""
                />
                <div *ngIf="f.currentPassword.errors && f.currentPassword.touched" class="invalid-feedback">
                  <div *ngIf="f.currentPassword.errors?.required">{{ 'Error_messages.Password_required' | translate }}</div>
                  <div *ngIf="f.currentPassword.errors?.minlength">{{ 'Error_messages.Password_must_be_at_least_6_characters_lenght' |
                    translate }}</div>
                  <div *ngIf="f.currentPassword.errors?.pattern">{{
                    'Error_messages.Password_must_have_at_least_one_non_alphanumeric_character' | translate }}</div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="form-row">
            <div class="col-sm-4">
            </div>
            <div class="form-group col-sm-4">
              <label class="text-info">{{ 'Reset_password.New_password' | translate }}</label>
              <input
                type="password"
                formControlName="newPassword"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.newPassword.errors && f.newPassword.touched }"
                placeholder=""
              />
              <div *ngIf="f.newPassword.errors && f.newPassword.touched" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors?.required">{{ 'Error_messages.New_password_is_required' | translate }}</div>
                <div *ngIf="f.newPassword.errors?.minlength">{{ 'Error_messages.Password_must_be_at_least_6_characters_lenght' |
                  translate }}</div>
                <div *ngIf="f.newPassword.errors?.pattern">{{
                  'Error_messages.Password_must_have_at_least_one_non_alphanumeric_character' | translate }}</div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-4">
            </div>
            <div class="form-group col-sm-4">
              <label class="text-info">{{ 'Reset_password.Confirm_new_password' | translate }}</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" />
              <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">
                  {{ 'Error_messages.Confirm_password_required' | translate }}
                </div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                  {{ 'Error_messages.Passwords_must_match' | translate }}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-4"> </div>
            <div *ngIf="!(f.newPassword.errors && f.newPassword.touched) && !(f.confirmPassword.errors && f.confirmPassword.touched)" class="form-row passwordSubLabel col-sm-4">
              <label>{{ 'Register.Password_sublabel' | translate }}</label>
            </div>
            <div class="col-sm-4"> </div>
          </div>
          <div class="form-row">
            <div class="col-md-3"></div>
              <div class="text-center form-group col-md-9">
                <button class="btn btn-primary" id="send_password" [disabled]="!changePasswordForm.valid">{{ 'Reset_password.Send_password' | translate }}</button>
                <input type="reset" class="btn btn-default" [value]="('Common_labels.Cancel' | translate)" [routerLink]="['/user/account']"
                  routerLinkActive="router-link-active" />
              </div>
          </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<ng-template #changePasswordModal>
  <div class="modal-body">
    <div class="alert alert-success" *ngIf="!errorDescription">
        <p>{{ 'Information_messages.Account_password_changed' | translate }}</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorDescription">
      <p>{{ 'Common_labels.Error' | translate }}: {{ errorDescription }}</p>
  </div>
    <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()" [routerLink]="['/user/account']">{{ 'User_edit_password.Return_to_user_edit' | translate }}</button>
  </div>
</ng-template>
