<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div class="app-main__outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/user/farm">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">DSS Details</li>
        </ol>
      </nav>
      <div class="app-main__inner">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <i class="pe-7s-note icon-gradient bg-mean-fruit">
                </i>
              </div>
              <div>DSS Details</div>
            </div>
          </div>
        </div>

        <div class="container mx-auto my-5 page-box">
          <div class="row">
            <div class="col-12">
              <h2><i class="fab fa-pagelines dss-icon text-danger"></i>&nbsp;Winter Wheat</h2>
            </div>
            <div class="col-12 d-flex">
              <div class="p-2 mx-3">
                <canvas id="barChart" width="300" height="150"></canvas>
              </div>
              <div class="p-2 mx-3">
                <canvas id="barChart2" width="300" height="150"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
