<user-header [active]="'dashboard-manager'"></user-header>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/user/farm/list">Home</a></li>
    <li class="breadcrumb-item">
      <a routerLink="/user/dashboard-manager">Dashboard Manager</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Dashboard</li>
  </ol>
</nav>

<div class="container mx-auto my-5 page-box">
  <h1 class="text-center mb-5">Edit Dashboard</h1>
  <a routerLink="/user/dashboard-manager/edit">Upload Weather Data</a>
  <br />
  <a routerLink="/user/dashboard-manager/edit">Download Weather Data</a>
  <br />
  <a routerLink="/user/dashboard-manager/edit">Upload Pest-Disease Observation</a>
  <br />
  <a routerLink="/user/dashboard-manager/edit">Download Pest-Disease Observation</a>

  <img src="img/maintenance.png" />
</div>
