.registrazione {
    padding: 10px;
    font-size: 14px;
    color: #1a1b1b;
    font-weight: 600;
    margin-top: -10px;
}

/*.btn-login {
    width: 100%;
    background: #1a1b1b;
    color: #fff !important;
}*/

.btn-login {
    width: 100%;
    background: #07b197;
    color: #fff !important;
}

.btn-disabled {
    background: #646464;
    color: rgb(214, 214, 214) !important;
}

.required-input{
    border: 2px solid #ff7300;
    background-color: #ffec77;
}

.disabled-box {
    pointer-events: none;
    filter: grayscale(100%);
}

.box-content {
    padding: 10px;
    margin-bottom: 20px;
}

.userRoleInvalid {
    background: #f98900;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 80%;
}

.rolebox {
    float: left !important;
    margin-right: 10px;
}

.passwordSubLabel {
    margin-left: 1%;
    color: grey;
    font-size: 80%;
    transform: translateY(-40%);
}

