<div *ngIf="!termsAccepted">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registrazione">
    <div class="form-row">
      <div class="form-group col-12">
        <label>{{ 'Register.User_type' | translate }}</label>
        <select formControlName="userType" class="form-control"
          [ngClass]="{ 'is-invalid': f.userType.errors && f.userType.touched }">
          <option *ngFor="let userType of userTypes" [value]="userType.value">
            {{ userType.description | translate }}</option>
        </select>
        <div *ngIf="f.userType.errors && f.userType.touched" class="invalid-feedback">
          <div *ngIf="f.userType.errors.required">{{ 'Error_messages.User_type_required' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'Common_labels.Email' | translate }}</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
      <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">{{ 'Error_messages.Email_required' | translate }}</div>
        <div *ngIf="f.email.errors.pattern">{{ 'Error_messages.Email_must_be_valid' | translate }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>{{ 'Common_labels.Password' | translate }}</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />

        <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
          <div *ngIf="f.password.errors?.required">{{ 'Error_messages.Password_required' | translate }}</div>
          <div *ngIf="f.password.errors?.minlength">{{ 'Error_messages.Password_must_be_at_least_6_characters_lenght' | translate }}</div>
          <div *ngIf="f.password.errors?.pattern">{{ 'Error_messages.Password_must_have_at_least_one_digit' | translate }}</div>
          <div *ngIf="f.password.errors?.pattern">{{ 'Error_messages.Password_must_have_at_least_one_non_alphanumeric_character' | translate }}</div>
        </div>
      </div>
      <div class="form-group col">
        <label>{{ 'Register.Confirm_password' | translate }}</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" />
        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">
            {{ 'Error_messages.Confirm_password_required' | translate }}
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            {{ 'Error_messages.Passwords_must_match' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button [disabled]="!registerForm.valid" class="btn btn-login btn-block">{{ 'Common_labels.Register' | translate }}</button>
    </div>
  </form>
</div>

<div *ngIf="termsAccepted">
  <app-terms (termsAccepted)="removeAcceptedTerms($event)" (message)="isSuccess=$event"
    [registrationData]="registerForm.value"></app-terms>
</div>

<ng-template #registrationModal>
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="errors.length > 0">
          <div *ngFor="let error of errors">
            <p *ngFor="let errDetail of error">{{ errDetail?.description | translate }}</p>
          </div>
        </div>
        <div class="alert alert-success" *ngIf="isSuccess">
          <strong>{{ 'Register.Registration_confirmation' | translate }}</strong>
          <br>
          <span [innerHtml]="confirmationMessage"></span>
        </div>
        <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()">{{ 'Common_labels.Ok' | translate }}</button>
      </div>
</ng-template>

