<nav class="site-nav-menu">
    <ul>
        <!-- ADMIN MENU -->
        <li *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/admin">Home</a>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active">
            <a routerLink="/admin/cms">CMS</a>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active"><a>Users</a>
            <ul class="sub-menu">
                <li *ngIf="isAdmin"><a routerLink="/admin/add-user">Add User</a></li>
                <li *ngIf="isAdmin"><a routerLink="/admin/user-list">User list</a></li>
                <li *ngIf="isAdmin"><a routerLink="/admin/user-profile">User Profile</a></li>
            </ul>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active">
            <a routerLink="/admin/datasource-repo">Datasource Repository</a>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active">
            <a>Metadata & Catalogue Repository</a>
            <ul class="sub-menu">
                <li *ngIf="isAdmin"><a routerLink="/admin/manage-metadata">Manage Metadata</a></li>
                <li *ngIf="isAdmin"><a routerLink="/admin/manage-catalogue">Manage Catalogue</a></li>
            </ul>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active">
            <a routerLink="/admin/source-repo">Source Code Repository</a>
        </li>


        <!-- USER MENU -->
        <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/user/farm']">Farm</a>
        </li>

        <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
            <a [routerLink]="['/user/farm']">Farm List</a>
            <ul class="sub-menu">
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/farm/add']">Add Farm</a>
                </li>
            </ul>
        </li>

        <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
            <a>DSS</a>
            <ul class="sub-menu">
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/dss/use-dashboard']">DSS Use Dashboard</a>
                </li>
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/dss/evaluation-dashboard']">DSS Evaluation Dashboard</a>
                </li>
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/dss/adaptation-dashboard']">DSS Adaptation Dashboard</a>
                </li>
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/dss/integration-dashboard']">DSS Integration Dashboard</a>
                </li>
                <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
                    <a [routerLink]="['/user/dss/list']">DSS List</a>
                </li>
            </ul>
        </li>

        <li *ngIf="isFarmer || isAdvisor || isDeveloper" routerLinkActive="active">
            <a [routerLink]="['/user/dashboard-manager']">Dashboard Manager</a>
        </li>

    </ul>
</nav>