<app-sign-in *ngIf="!isLoggedIn"></app-sign-in>

<header class="header-section clearfix">

    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-md-left">
                    <a href="#" class="nav-link user-up-nav" id="cmsDropdown" data-toggle="dropdown"
                        aria-expanded="false">
                        CMS URL: {{cmsUrl}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="cmsDropdown">
                        &nbsp;<input #urlInput [attr.value]="cmsUrl"> &nbsp; <button
                            (click)="updateUrl(urlInput.value)">Enter</button>
                        &nbsp;
                    </div>
                </div>

                <div *ngIf="!isLoggedIn" class="col-md-6 text-md-right">
                    <a href="#" data-toggle="collapse" data-target="#login-account">Login or Create Account</a>
                </div>

                <div *ngIf="isLoggedIn" class="col-md-6 text-md-right">
                    <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown"
                        aria-expanded="false">
                        Welcome, Dave Skirvin <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" [routerLink]="[isAdmin ? '/admin/account':'/user/account']">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()" [routerLink]="['/']">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-navbar">
        <!-- Logo -->
        <app-site-logo></app-site-logo>
        <!-- Menu -->
        <app-menu></app-menu>
    </div>

</header>