<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-leaf icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div *ngIf="!farm">{{ 'Add_Edit_farm.Add_title' | translate }}</div>
        <div *ngIf="farm">{{ 'Add_Edit_farm.Edit_title' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="container mx-auto my-5 page-box">
    <form [formGroup]="farmForm" (ngSubmit)="onFarmSubmit()">
      <fieldset class="border p-3">
        <legend class="w-auto px-1 text-muted">{{ 'Add_Edit_farm.Farm_creation' | translate }}</legend>

        <div class="form-group row">
          <label for="farm-name" class="col-sm-3 col-form-label">{{ 'Add_Edit_farm.Farm_name' | translate }}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="farm-name" formControlName="name" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="map">{{ 'Add_Edit_farm.Farm_location' | translate }}</label>
          </div>
          <div class="col-sm-9">
            <div class="map-container" #map [ngClass]="{'disabledMap': mapLocked==true, 'enabledMap': mapLocked==false}"></div>
          </div>
        </div>
        <div class="row" *ngIf="!farm">
          <div class="col justify-content-center">
            <div class="d-flex justify-content-center m-3 alert alert-warning text-muted warningTextWrap">
              <strong>
                <i class="fa fa fa-exclamation-triangle"></i> 
                {{ 'Warning_messages.Farm_creation_warning_message' | translate }}
              </strong>
            </div>
          </div> 
        </div>
        
        <!--<div class="form-group row" *ngIf="farm && farm.id">
          <label for="met-station" class="col-sm-3 col-form-label">{{ 'Add_Edit_farm.Nearest_met_station' | translate }}</label>
          <div class="col-sm-9">
            <select class="form-control" id="met-station" formControlName="weatherHistoricalDto">
              <option *ngFor="let item of weatherHistoricalDtoList" [ngValue]="item">{{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="farm && farm.id">
          <label for="forecast" class="col-sm-3 col-form-label">{{ 'Add_Edit_farm.Weather_forecast_service' | translate }}</label>
          <div class="col-sm-9">
            <select class="form-control" id="forecast" formControlName="weatherForecastDto">
              <option *ngFor="let item of weatherForecastDtoList" [ngValue]="item">{{item.name}}
              </option>
            </select>
          </div>
        </div>-->
        <div class="row pt-3">
          <div class="col-md-12">
            <button class="btn btn-primary pull-right col-md-3 col-xs-12 my-2" type="submit" [disabled]="farmForm.invalid || isSaving">
              <i class="fas fa-save"></i>
              {{ 'Common_labels.Save' | translate }}</button>
            <button class="btn btn-primary pull-right col-md-3 col-xs-12 my-2" *ngIf="farm && mapLocked==true" (click)="lockOrUnlockMap()"><i class="fa fa-unlock" aria-hidden="true"></i>  {{ 'Add_Edit_farm.Farm_unlock_location' | translate }} </button>
            <button class="btn btn-primary pull-right col-md-3 col-xs-12 my-2 yellowBtn" *ngIf="farm && mapLocked==false" (click)="lockOrUnlockMap()"><i class="fa fa-lock" aria-hidden="true"></i>  {{ 'Add_Edit_farm.Farm_lock_location' | translate }} </button>
            <button class="btn btn-info pull-right col-md-3 col-xs-12 my-2" type="button" (click)="goBack()">
              {{ 'Common_labels.Cancel' | translate }}</button>
          </div>
        </div>
      </fieldset>
      <app-edit-farm [farm]="farm" *ngIf="farm && farm.id"></app-edit-farm>
    </form>
  </div>
</div>