.map-container {
  height: 20vw;
  cursor: crosshair !important;
}

.warningTextWrap {
  word-wrap: break-word;
}

.disabledMap {
  pointer-events:none;
  border: 3px solid #16aaff;
}

.enabledMap {
  pointer-events:all;
  border: 3px solid #ffd416;
}

.yellowBtn {
  border-color: #dfb80a;
  background-color: #dfb80a;
}
/* 
.centered-btn-icon {
  font-size: 1.2rem;
  font-weight: 600;
  vertical-align: bottom;
} */

@media (max-width: 767.98px) {

  .map-container {
    height: 200px;
  }
    }