<app-header></app-header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/user/farm/list">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/user/dss/list">DSS</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/dss/details">DSS Details</a></li>
      <li class="breadcrumb-item active" aria-current="page">DSS inputs description</li>
    </ol>
  </nav>
  
  <div class="container mx-auto my-5 page-box">
    <h1 class="text-center mb-5">DSS inputs description</h1>
    <a [routerLink]="['/user/dss/details/parameters-detail']" routerLinkActive="router-link-active" >DSS Parameters Details</a>
    <img src="img/maintenance.png">
  </div>