<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="password">
    <div class="form-group col">
      <label>Insert your email to get instructions for reset password</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder=""
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="text-center form-group col">
      <button class="btn btn-login btn-block">Confirm</button>
    </div>
</form>

<ng-template #resetPasswordModal>
  <div class="modal-body">
    <div class="alert alert-success">
      An email has been sent to you with a link to reset your password. Please follow the 
      instructions in the email to reset your password.
      <br>
      If you do not receive the email then please check your junk folder or with your 
      IT department to ensure that it has not been placed in a spam folder.
    </div>
    <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()">OK</button>
  </div>
</ng-template>