<div class="row">
  <div class="col d-flex flex-column justify-content-end">
    <h6 class="bold-600 text-uppercase">{{ 'DSS_information_table.Title' | translate }}</h6>
  </div>
  <div class="col">
    <button type="button" rel="tooltip" class="btn btn-link pull-right" [routerLink]="['dss/add']">
      <i class="action-icon fas fa-plus-circle fa-2x"></i> {{ 'DSS_information_table.Add_dss_model' | translate }}
    </button>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">{{ 'DSS_information_table.Model_name' | translate }}</th>
            <th class="text-center" scope="col">{{ 'DSS_information_table.Crop' | translate }}</th>
            <th class="text-center" scope="col">{{ 'DSS_information_table.Pest_disease' | translate }}</th>
            <th class="text-center" scope="col">{{ 'DSS_information_table.DSS_name' | translate }}</th>
            <!--<th class="text-center" scope="col">{{ 'DSS_information_table.DSS_suitability' | translate }}</th>-->
            <th class="text-center" scope="col" style="width: 13%">{{ 'DSS_information_table.Actions' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="fieldList.length > 0; else noRows">
          <ng-template ngFor let-field [ngForOf]="fieldList">
            <ng-template ngFor let-cropPestCombo [ngForOf]="field.fieldCropDto.fieldCropPestDto.value">
              <ng-template ngFor let-model [ngForOf]="cropPestCombo.fieldCropPestDssDto.value">
                <tr>
                  <!-- DSS Name -->
                  <td class="text-center">
                    <span
                      *ngIf="model">{{model.cropPestDssDto.dssModelName}}</span>
                  </td>
                  <!-- Crop -->
                  <td class="text-center">
                    
                      {{field.fieldCropDto.cropEppoCode | eppoCode}}
                      <small>({{field.fieldCropDto.cropEppoCode | uppercase}})</small>
                    <!--<a class="details" (click)="openModal(template, field, 'modal-lg')">
                      <i class="fas fa-info-circle light-blue-icon ml-1 icon-toggle"></i>
                    </a>-->
                  </td>
                  <!-- Pest/Desease -->
                  <td class="text-center">
                    {{ cropPestCombo.cropPestDto.pestEppoCode | eppoCode }}
                    <small>
                      ({{ cropPestCombo.cropPestDto.pestEppoCode | uppercase }})
                    </small>
                  </td>
                  <!-- DSS Model Name -->
                  <td class="text-center">
                    <span *ngIf="model">
                      {{ model.cropPestDssDto.dssName }}
                    </span>
                  </td>
                  <!-- Validity status column 
                <td class="text-center"></td>-->
                  <!-- Actions -->
                  <td class="td-actions text-center py-1">
    
                    <a class="btn btn-link" 
                    [tooltip]="('DSS_information_table.Model_parameters' | translate)"
                    *ngIf="model.cropPestDssDto.dssExecutionType !== 'link'"
                    [routerLink]="['dss',model.id,'parametrisation']" 
                    [state]="{ 
                      data: {
                        dssId: model.cropPestDssDto.dssId, 
                        dssModelId: model.cropPestDssDto.dssModelId, 
                        dssModelName: model.cropPestDssDto.dssModelName,
                        farmName: farm.name
                      }
                    }">
                      <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                    </a>

                    <!-- delete field modal -->
                    <ng-template #deleteTemplate>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">{{ 'DSS_information_table.Delete_model' | translate }}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ 'Information_messages.You_are_about_to_delete' | translate }} 
                        <b>{{ model.cropPestDssDto.dssName }} - {{model.cropPestDssDto.dssModelName}}</b>. 
                        <br>{{ 'Information_messages.Are_you_sure' | translate }}
                      </div>
                      <div class="modal-footer pull-right">
                        <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{'Common_labels.Cancel' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="onDssModelDelete(field.id,cropPestCombo.id,model.id)">{{'Common_labels.Yes' | translate}}</button>
                      </div>
                    </ng-template>
                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Delete" [tooltip]="('Common_labels.Delete' | translate)"
                      (click)="openModal(deleteTemplate, null)">
                      <i class="action-icon size-11 fas fa-trash"></i>
                    </button>
                    
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </ng-template>
        </tbody>
        <ng-template #noRows>
          <tbody>
            <tr>
              <td colspan="5" class="text-center">{{ 'Information_messages.No_model_available' | translate }}</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ selectedCrop.fieldCropDto.cropEppoCode }} {{ 'Common_labels.Details' | translate }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scrollable">
    <div class="row mt-3">
      <div class="col-12">
        <div class="row mb-4">
          <div class="col-6">
            <div class="row">
              <div class="col-md-6 details-text">{{ 'DSS_information_table.Sowing_date' | translate }}:</div>
              <div class="col-md-6">{{ formatLocaleDateGB(selectedCrop.sowingDate) }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <h6 class="text-muted size-09">{{ 'DSS_information_table.Sprays_applied' | translate }}:</h6>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">{{ 'Common_labels.Spray' | translate }}</th>
                    <th class="text-center" scope="col">{{ 'Common_labels.Date' | translate }}</th>
                    <th class="text-center" scope="col">{{ 'DSS_information_table.Rate' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let spray of selectedCrop.fieldCropDto.fieldCropPestDto.value[0].fieldSprayApplicationDto.value">
                    <td class="text-center">{{ spray.name }}</td>
                    <td class="text-center">{{ spray.time }}</td>
                    <td class="text-center">{{ spray.rate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <h6 class="text-muted size-09">{{ 'DSS_information_table.List_of_DSS' | translate }}:</h6>
              <div>
                <accordion [isAnimated]="true"
                  *ngIf="selectedCrop.fieldCropDto.fieldCropPestDto.value[0].fieldCropPestDssDto.value != 0; else noDssList">
                  <accordion-group
                    *ngFor="let dss of selectedCrop.fieldCropDto.fieldCropPestDto.value[0].fieldCropPestDssDto.value">
                    <span accordion-heading tooltip="Click to show">
                      {{dss.cropPestDssDto.dssModelName}} - {{dss.cropPestDssDto.dssName}}
                      <i class="fas fa-bars" style="position:absolute; top: 40%; right: 2%;"></i>
                    </span>
                    <div>
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center" scope="col" rowspan="1" colspan="2">{{ 'DSS_information_table.Parameters' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let param of dss.dssParameters | keyvalue">
                            <ng-container 
                              [ngTemplateOutlet]="isObject(param.value)? paramIsAnObject : paramIsNotAnObject"
                              [ngTemplateOutletContext]="{param:param}">
                            </ng-container>
  
                            <ng-template #paramIsNotAnObject let-param='param'>
                              <tr class="text-left" scope="col">
                                <td class="text-center"><b>{{param.key}}</b></td>
                                <td class="text-center">{{param.value}}</td>
                              </tr>
                            </ng-template>
                            <ng-template #paramIsAnObject let-param='param'>
                              <!--<tr class="text-center" scope="col">
                              <td class="text-center" colspan="2"><b>{{param.key}}</b></td>
                            </tr>-->
                              <ng-container *ngFor="let nestedParam of param.value | keyvalue">
                                <ng-container
                                  [ngTemplateOutlet]="isObject(nestedParam.value)? paramIsAnObject : paramIsNotAnObject"
                                  [ngTemplateOutletContext]="{param:nestedParam}">
                                </ng-container>
                              </ng-container>
                            </ng-template>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </accordion-group>
                </accordion>
                <ng-template #noDssList>
                  <div class="text-center">{{ 'Information_messages.No_DSS_available' | translate }}</div>
                </ng-template>
              </div>
              <br>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <h6 class="text-muted size-09">{{ 'DSS_information_table.Pest_observations' | translate }}</h6>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">{{ 'DSS_information_table.Pest' | translate }}</th>
                    <th class="text-center" scope="col">{{ 'Common_labels.Date' | translate }}</th>
                    <th class="text-center" scope="col">{{ 'DSS_information_table.Severity' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let observation of selectedCrop.fieldCropDto.fieldCropPestDto.value[0].fieldObservationDto.value">
                    <td class="text-center">{{ selectedCrop.fieldCropDto.fieldCropPestDto.value[0].pestEppoCode }}</td>
                    <td class="text-center">{{ observation.time }}</td>
                    <td class="text-center">{{ observation.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer pull-right">
    <button type="button" class="btn btn-info push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>