<div class="header-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-md-right">
            <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
                Welcome, Dave Skirvin <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/user/account']">Account</a>
  
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" [routerLink]="['/']">Logout</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-navbar">
    <!-- Logo -->
    <a
      [routerLink]="['/user']"
      routerLinkActive="router-link-active"
      class="site-logo"
    >
      <img
        src="img/logo-ipm-decision.png"
        alt="Logo Ipm Decisions"
        title="Logo IPM"
      />
    </a>
    <div class="header-right">
      <button class="search-switch"><i class="fa fa-search"></i></button>
    </div>
    <!-- Menu -->
    <nav class="site-nav-menu">
      <ul>
        <li>
          <a [routerLink]="['/user']" routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
  
        <li>
          <a [routerLink]="['/user/farm/list']" routerLinkActive="router-link-active"
            >Farm List</a
          >
          <ul class="sub-menu">
            <li>
              <a
                [routerLink]="['/user/farm/add']"
                routerLinkActive="router-link-active"
                >Add Farm</a
              >
            </li>
  
          </ul>
        </li>
        <li>
          <a>DSS</a>
          <ul class="sub-menu">
            <li>
              <a
                [routerLink]="['/user/dss/use-dashboard']"
                routerLinkActive="router-link-active"
                >DSS Use Dashboard</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/user/dss/evaluation-dashboard']"
                routerLinkActive="router-link-active"
                >DSS Evaluation Dashboard</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/user/dss/adaptation-dashboard']"
                routerLinkActive="router-link-active"
                >DSS Adaptation Dashboard</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/user/dss/integration-dashboard']"
                routerLinkActive="router-link-active"
                >DSS Integration Dashboard</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/user/dss/list']"
                routerLinkActive="router-link-active"
                >DSS List</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            [routerLink]="['/user/dashboard-manager']"
            routerLinkActive="router-link-active"
            >Dashboard Manager</a
          >
        </li>
      </ul>
    </nav>
  </div>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/user">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/account">Account</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>
  
  <!-- Header section end  -->
  <div class="container page-box">
    <div class="row">
      <!-- left column -->
      <div class="col-md-4">
        <div class="text-center">
          <img src="img/profile.png" class="avatar img-circle" alt="avatar" />
          <h6>Upload a different photo...</h6>
  
          <input type="file" class="form-control" />
        </div>
      </div>
  
      <!-- edit form column -->
      <div class="col-md-8 personal-info">
        <div class="alert alert-danger" *ngIf="errors && errors.length">
          <p *ngFor="let error of errors">{{ error.description }}</p>
        </div>
        <div class="alert alert-success" *ngIf="isCreated">
          <span>User account successfully created!</span>
        </div>
        <div class="alert alert-success" *ngIf="isUpdated">
          <span>User account successfully updated!</span>
        </div>
        
        <h3>Personal info</h3>
        <form [formGroup]="adminAccountForm" (submit)="onSubmit()" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name</label>
            <div class="col-lg-8">
              <input formControlName="firstName" class="form-control" 
                [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched }" />
              <div *ngIf="f.firstName.errors && f.firstName.touched" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name</label>
            <div class="col-lg-8">
              <input formControlName="lastName" class="form-control" 
                [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }" />
  
              <div *ngIf="f.lastName.errors && f.lastName.touched" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-8">
              <input formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
  
              <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Phone</label>
            <div class="col-md-8">
              <input type="number" formControlName="phoneNumber" class="form-control"
                [ngClass]="{'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched}"/>
                
              <div *ngIf="f.phoneNumber.errors && f.phoneNumber.touched" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
              </div>
            </div>
          </div>
        
          <!-- <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-8">
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }"
              />
  
              <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
                <div *ngIf="f.password.errors?.required">Password is required</div>
                <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
                <div *ngIf="f.password.errors?.pattern">Passwords must have at least one non alphanumeric character.</div>
                <div *ngIf="f.password.errors?.pattern">Passwords must have at least one digit ('0'-'9').</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password</label>
            <div class="col-md-8">
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }"
              />
              <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input
                type="submit"
                class="btn btn-primary"
                style="background-color:#249fa5 !important"
                value="Save Changes"
              />
              <span></span>
              <input
                type="reset"
                class="btn btn-default"
                value="Cancel"
                [routerLink]="['/admin/account']"
                routerLinkActive="router-link-active"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  