<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note2 icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div id="farm-list-page-label">{{ 'Farm_list.Title' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="container my-5 page-box">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="container">
          <div class="row">
            <div class="col-sm pull-left">
              <button rel="tooltip" class="btn btn-primary" [routerLink]="['/user/account/weather-station']">
                <strong>{{ 'User_weather_stations.Weather_stations' | translate }}</strong>
              </button>
            </div>
            <div class="col-sm add-farm">
              <button rel="tooltip" class="btn btn-success mr-2" (click)="openModal(FarmRequest,'modal-sm')">
                <strong>{{ 'Farm_request.Farm_share_request' | translate }}</strong>
              </button>
              <button rel="tooltip" class="btn btn-primary btn-add" [routerLink]="['new']">
                <i class="action-icon fas fa-plus-circle fa-2x"></i> <strong>{{ 'Farm_list.Add_farm' | translate }}</strong>
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <h6 class="bold-600 text-uppercase">{{ 'Farm_list.Farm_information_table' | translate }}</h6>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center" scope="col">{{ 'Farm_list.Name' | translate }}</th>
                  <th class="text-center" scope="col">{{ 'Farm_list.Farm_location' | translate }}</th>
                  <th class="text-center" scope="col">{{ 'Farm_list.Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="farmList.length > 0; else noRows">

                <tr *ngFor="let farm of farmList; let ix = index">
                  <td class="text-center">
                    {{ farm.name }}
                  </td>
                  <td class="text-center hover-pointer">
                    <span placement="top" tooltip={{farm.location?.address?.LongLabel}}>
                      {{farm.location?.address?.LongLabel}}
                    </span>
                  </td>
                  <td class="td-actions text-center py-1">
                    <div class="row ml-2">
                    <!--<button type="button" rel="tooltip" class="btn btn-link" data-original-title="View" title="View" [routerLink]="[farm.id,'view']" >
                      <i class="action-icon light-blue-icon size-11 fas fa-eye"></i>
                    </button>-->

                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Edit" [title]="('Common_labels.Edit' | translate)" [routerLink]="[farm.id,'edit']">
                      <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                    </button>

                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Copy" [title]="('Common_labels.Copy' | translate)"
                      routerLink="/user/farm/" (click)="onFarmCopy(farm)">
                      <i class="action-icon size-11 fas fa-copy"></i>
                    </button>

                    <button *ngIf="farm.owner" type="button" rel="tooltip" class="btn btn-link" data-original-title="Delete" [title]="('Common_labels.Delete' | translate)"
                      (click)="openModal(template)">
                      <i class="action-icon light-blue-icon size-11 fas fa-trash"></i>
                    </button>

                    <!-- delete farm modal -->
                    <ng-template #template>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">{{ 'Farm_list.Delete_farm' | translate }}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ 'Information_messages.Farm_deletion_message' | translate }}
                      </div>
                      <div class="modal-footer pull-right">
                        <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{ 'Common_labels.Cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" (click)="onDeleteFarm(farm.id)">{{ 'Common_labels.Yes' | translate }}</button>
                      </div>
                    </ng-template>

                    <button type="button" rel="tooltip" class="btn btn-green btn-add pull-right m-3" (click)="goToAddModelDSS(farm.id)">
                      <i class="action-icon fas fa-plus-circle fa-2x"></i> <strong>{{ 'Farm_list.Add_dss' | translate }}</strong>
                    </button>
                  </div>

                  </td>
                </tr>
              </tbody>
              <ng-template #noRows>
                <tbody>
                  <tr>
                    <td colspan="3" class="text-center">{{ 'Information_messages.No_farms_available' | translate }}</td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
            <div *ngIf="hasMorePages()">
              <button [disabled]="!hasPreviousPage()" (click)="getPreviousPage()" class="mb-2 mr-2 btn btn-primary previous">&lt;</button>
              <button [disabled]="!hasNextPage()" (click)="getNextPage()"class="mb-2 mr-2 btn btn-primary next">&gt;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #FarmRequest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'Farm_request.Farm_share_request' | translate }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="app-main__inner">
      <div class="container mx-auto my-5 page-box text-center">
        <p>{{ 'Farm_request.Insert_the_email' | translate }}</p>
        <input [(ngModel)]="email" type="email">&nbsp;
        <button type="button" class="btn btn-primary" (click)="sendRequest()">{{ 'Common_labels.Send' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>