<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note2 icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div id="farm-list-page-label">{{ 'Farm_list.Title' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="container my-5 page-box">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="container">
          <div class="row">
            <div class="col-sm text-right">
              <button rel="tooltip" class="btn btn-link" [routerLink]="['new']">
                <i class="action-icon fas fa-plus-circle fa-2x"></i> {{ 'Farm_list.Add_farm' | translate }}
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <h6 class="bold-600 text-uppercase">{{ 'Farm_list.Farm_information_table' | translate }}</h6>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center" scope="col">{{ 'Farm_list.Name' | translate }}</th>
                  <th class="text-center" scope="col">{{ 'Farm_list.Farm_location' | translate }}</th>
                  <th class="text-center" scope="col">{{ 'Farm_list.Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="farmList.length > 0; else noRows">

                <tr *ngFor="let farm of farmList; let ix = index">
                  <td class="text-center">
                    {{ farm.name }}
                  </td>
                  <td class="text-center hover-pointer">
                    <span placement="top" tooltip={{farm.location?.address?.LongLabel}}>
                      {{farm.location?.address?.LongLabel}}
                    </span>
                  </td>
                  <td class="td-actions text-center py-1">

                    <!--<button type="button" rel="tooltip" class="btn btn-link" data-original-title="View" title="View" [routerLink]="[farm.id,'view']" >
                      <i class="action-icon light-blue-icon size-11 fas fa-eye"></i>
                    </button>-->

                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Copy" [title]="(tooltipCopy | translate)"
                      routerLink="/user/farm/" (click)="onFarmCopy(farm)">
                      <i class="action-icon size-11 fas fa-copy"></i>
                    </button>

                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Edit" [title]="(tooltipEdit | translate)" [routerLink]="[farm.id,'edit']">
                      <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
                    </button>

                    <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Delete" [title]="(tooltipDelete | translate)"
                      (click)="openModal(template)">
                      <i class="action-icon size-11 fas fa-trash"></i>
                    </button>

                    <!-- delete farm modal -->
                    <ng-template #template>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">{{ 'Farm_list.Delete_farm' | translate }}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ 'Information_messages.Farm_deletion_message' | translate }}
                      </div>
                      <div class="modal-footer pull-right">
                        <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{ 'Common_labels.Cancel' | translate }}</button>
                        <button type="button" class="btn btn-primary" (click)="onDeleteFarm(farm.id)">{{ 'Common_labels.Yes' | translate }}</button>
                      </div>
                    </ng-template>

                  </td>
                </tr>
              </tbody>
              <ng-template #noRows>
                <tbody>
                  <tr>
                    <td colspan="3" class="text-center">{{ 'Information_messages.No_farms_avaiable' | translate }}</td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>