<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container page-box" *ngIf="!isLoading">
<form [formGroup]="termsForm" (ngSubmit)="onRegister()">
  <div class="form-row">
      <p>{{termsAndConditions}}</p>
   
    <div class="checkbox-box"> 
      <div class="form-group form-check">  
        <input
          type="checkbox"
          formControlName="acceptTerms" 
          id="acceptTerms"
          class="form-check-input" 
          #acceptTerms
          [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />

        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>

        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
          Accept Ts & Cs is required
        </div>
      </div>   

      <div class="text-center col-6 float-right">
        <button [disabled]="!acceptTerms.checked" 
        class="btn btn-login btn-block float-right">Register</button>
      </div>
    </div>
  </div>
</form>
</div>
