<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div class="app-main__outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/user/farm">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/user/farm/list">Farm List</a></li>
          <li class="breadcrumb-item"><a routerLink="/user/farm/edit">Edit Farm</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Field</li>
        </ol>
      </nav>
      <div class="app-main__inner">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <i class="pe-7s-leaf icon-gradient bg-mean-fruit">
                </i>
              </div>
              <div>Edit Field</div>
            </div>
          </div>
        </div>



        <div class="container my-5 p-5 page-box">

          <form [formGroup]="fieldForm">
            <div class="row">
              <div class="col-12">
                <strong class="text-uppercase bold-600">Farm:</strong>
                <span class="ml-2">{{ farmName }}</span>
              </div>
              <div class="col-4 mt-4">
                <div class="row">
                  <label for="name" class="col-sm-2 col-form-label bold-600">Field</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="name" formControlName="name" />
                  </div>
                </div>
              </div>
              <div class="col-8 mt-4"></div>
              <div class="col-12 mt-4">
                <div class="form-row">
                  <div class="col-6">
                    <div class="row">
                      <label for="variety" class="col-sm-2 col-form-label">Variety</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="variety" formControlName="inf1">
                          <option value="Variety_x">Variety_x</option>
                          <option value="Variety_y">Variety_y</option>
                          <option value="Variety_z">Variety_z</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <label for="sowing-date" class="col-4 pr-0 col-form-label">Sowing
                        date</label>
                      <div class="col-8 input-group">
                        <input type="text" class="form-control" id="sowing-date" formControlName="inf2" bsDatepicker
                          placeholder="dd/mm/yyyy" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}">
                        <div class=" input-group-append">
                          <div class="input-group-text">
                            <i class="far fa-calendar-alt fa-lg"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-4">

                <div formArrayName="cropPests"
                  *ngFor="let item of fieldForm.get('cropPests')['controls']; let i = index;">
                  <div [formGroupName]="i">

                    <div class="row">
                      <div class="col-4">
                        <div class="row">
                          <label for="field" class="col-sm-2 col-form-label">Crop</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="crop" formControlName="cropEppoCode">
                              <option value="3WHEC">Wheat</option>
                              <option value="BRSOX">Cabbage</option>
                              <option value="MABSD">Apple</option>
                              <option value="DAUCS">Carrot</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="row">
                          <label for="variety" class="col-sm-2 col-form-label">Pest</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="pest" formControlName="pestEppoCode">
                              <option value="RHOPPA">Aphids</option>
                              <option value="SEPTAM">Septoria</option>
                              <option value="BARABR">Cabbage moth</option>
                              <option value="ASPV00">Apple stem</option>
                              <option value="PSILRO">Carrot rust fly
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12 mt-3 d-flex justify-content-end">

              <button class="btn btn-success col-2 mr-2" routerLink="/user/farm/edit">
                Back</button>
              <button class="btn btn-info col-2" (click)="onEditFieldSubmit()">
                Save</button>
            </div>
          </div>

        </div>
      </div>
    </div>
