<ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">IPM Private</li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/admin" class="mm-active"><i class="metismenu-icon pe-7s-rocket"></i> Home</a>
    </li>
    
    <li class="app-sidebar__heading">UI Components</li>
    <li>
        <a href="#">
            <i class="metismenu-icon pe-7s-diamond"></i>
            Elements
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
            <li>
                <a routerLink="./assets/dropdowns" target="_self">
                    <i class="metismenu-icon">
                    </i>Dropdowns
                </a>
            </li>
            <li>
                <a routerLink="./assets/icons">
                    <i class="metismenu-icon">
                    </i>Icons
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="metismenu-icon pe-7s-car"></i>
            Components
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
            <li>
                <a routerLink="./assets/tabs">
                    <i class="metismenu-icon">
                    </i>Tabs
                </a>
            </li>
            <li>
                
                <a routerLink="./assets/accordions">
                    <i class="metismenu-icon">
                    </i>Accordions
                </a>
            </li>
            <li>
                <a routerLink="./assets/modal">
                    <i class="metismenu-icon">
                    </i>Modals
                </a>
            </li>
        </ul>
    </li>
   
</ul>