<admin-header [active]="'cms'"></admin-header>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Content Management System</li>
  </ol>
</nav>

<div class="container mx-auto my-5 page-box">
  <h1 class="text-center mb-5"> Content Management System </h1>
  <div class="cms-container">
    <div class="cms-sidenav">
      <span (click)="contentComponent='banner'">Banner</span>
      <span (click)="contentComponent='footer'">Footer</span>
      <span (click)="contentComponent='dss-use'">DSS use</span>
      <span (click)="contentComponent='dss-evaluation'">DSS evaluation</span>
      <span (click)="contentComponent='dss-adaptation'">DSS adaptation</span>
      <span (click)="contentComponent='dss-integration'">DSS integration</span>
    </div>

    <div class="cms-content" [ngSwitch]="contentComponent">
      <div *ngSwitchCase="'banner'"><cms-banner></cms-banner></div>
      <div *ngSwitchCase="'footer'"><cms-footer></cms-footer></div>
      <div *ngSwitchCase="'dss-use'"><cms-dssuse></cms-dssuse></div>
      <div *ngSwitchCase="'dss-evaluation'"><cms-dssevaluation></cms-dssevaluation></div>
      <div *ngSwitchCase="'dss-adaptation'"><cms-dssadaption></cms-dssadaption></div>
      <div *ngSwitchCase="'dss-integration'"><cms-dssintegration></cms-dssintegration></div>
    </div>
  </div>
</div>