.cms-container {
    position: relative;
    display: flex;
}

.cms-sidenav {
    height: 100%;
    width: 160px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.cms-sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.cms-sidenav span:hover {
    color: #7abc2a;
    cursor: pointer;
}

.cms-content {
    padding: 0px 10px;
    width: calc(100% - 160px);
}