<div class="chartcontainer" *ngIf="!isAPopUpChart">
    <canvas #chart id="{{chartId}}"></canvas>
    <button class="zoomReset btn btn-info" *ngIf="isZoomedOrPanned()" (click)="resetZoom()"><i class="fas fa-sync"></i></button>
</div>


<div class="chartcontainer-popup" *ngIf="isAPopUpChart">
    <div class="scrollArea">
        <div class="chartArea">       
            <canvas #chart_popup id="{{chartId}}"></canvas>
        </div>
    </div>
    <canvas #yaxis id="custom-chart-axis"></canvas>
   <!-- <button class="zoomReset btn btn-info" *ngIf="isZoomedOrPanned()" (click)="resetZoom()"><i class="fas fa-sync"></i></button>-->
</div>