canvas{
    max-width: 5000px;
    max-height: 600px;
}

.chartcontainer {
    position:relative;
    min-height:auto;
    width:100%;
    display: flex;
    flex-grow:1;
}

.chartcontainer-popup{
    position:relative;
    min-height:auto;
    width:100%;
    display: flex;
    flex-grow:1;
}

.scrollArea {
    width: 90vw;  
    overflow-x: auto;
}

.chartArea{
    width: 2000px;
    min-width: 87vw;  
    height: 500px;
}

.chartcontainer-popup > canvas{
    position: absolute;
    left: 0;
    top: 0;
    height: 600px;
    width: auto;
}

.chartArea > canvas{
    min-width: 87vw;
    max-height: 600px;
}

.zoomReset {
    position: absolute;
    right: 1px;
    top: -45px;
}