<div id="login-account" class="collapse">
    <div class="container">
      <div class="tab-content">
        <div id="login-form" class="container tab-pane active"><br>
          <div class="container login-container">
            <div class="row">
              <div class="col-md-12 login-form">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="password" placeholder="Password">
                  </div>
                  <div class="col-md-4 form-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-login">Sign In</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group forget-password text-right">
                    <a href="#">Forget Password</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="create-form" class="container tab-pane fade"><br>
          Form
        </div>
  
      </div>
    </div>
  </div>
  <header class="header-section clearfix">
  
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6 text-md-right">
              <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
                  Welcome, Dave Skirvin <b class="caret"></b>
              </a>
              <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">  
                <a class="dropdown-item" [routerLink]="['/admin/account']">Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/']" >Logout</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-navbar">
      <!-- Logo -->
      <a routerLink="/admin" class="site-logo">
        <img [src]="bannerUrl" alt="Logo Ipm Decisions" title="Logo IPM">
      </a>
      <div class="header-right">
  
        <button class="search-switch"><i class="fa fa-search"></i></button>
      </div>
      <!-- Menu -->
      <nav class="site-nav-menu">
        <ul>
          <li class="{{active == 'home' ? 'active' : ''}}"><a routerLink="/admin">Home</a></li>
          <li class="{{active == 'cms' ? 'active' : ''}}"><a routerLink="/admin/cms">CMS</a></li>
          <li class="{{active == 'users' ? 'active' : ''}}"><a>Users</a>
            <ul class="sub-menu">
              <li><a routerLink="/admin/add-user">Add User</a></li>
              <li><a routerLink="/admin/user-list">User list</a></li>
              <li><a routerLink="/admin/user-profile">User Profile</a></li>
            </ul>
          </li>
          <li class="{{active == 'datasource-repo' ? 'active' : ''}}">
            <a routerLink="/admin/datasource-repo">Datasource Repository</a>
          </li>
          <li class="{{active == 'metadata-catalogue-repo' ? 'active' : ''}}">
            <a>Metadata & Catalogue Repository</a>
            <ul class="sub-menu">
              <li><a routerLink="/admin/manage-metadata">Manage Metadata</a></li>
              <li><a routerLink="/admin/manage-catalogue">Manage Catalogue</a></li>
            </ul>
          </li>
          <li  class="{{active == 'source-code-repo' ? 'active' : ''}}">
            <a routerLink="/admin/source-repo">Source Code Repository</a>
          </li>
        </ul>
      </nav>
  
    </div>
  
  </header>