<div id="topbar" class="d-none d-sm-flex align-items-center fixed-top">
  <div class="container d-flex">
    <!-- Session Bar -->
    <div *ngIf="isSessionExpiring() && isLoggedIn" class="sessionBarShow">
      <div class="row">
          <div class="warningIcon">
              <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div *ngIf="!sessionIsExpired" class="col d-flex justify-content-center">
              {{ 'Information_messages.Session_expiration_message_start' | translate }} &nbsp;<span class="countdown">{{ sessionTimeLeftToShow }}</span>&nbsp; {{ 'Common_labels.Seconds' | translate }}.&nbsp;
              <span class="clickToExtend" (click)="extendSession()">{{ 'Common_labels.Click_here' | translate }}</span>&nbsp; {{ 'Information_messages.Session_expiration_message_end' | translate }}
          </div>
          <div *ngIf="sessionIsExpired" class="col d-flex justify-content-center"> {{ 'Information_messages.Session_expired' | translate }} </div>
          
      </div>
    </div>
      <div class="contact-info mr-auto">

      </div>
      <app-language-selector></app-language-selector>
      <div class="social-links btn-registration" *ngIf="(!isLoggedIn)">
          <a class="user" routerLink="/login"><i class='bx bx-log-in-circle'></i><span>{{ 'Common_labels.Login' | translate }}</span></a>
          <a class="facebook" (click)='goToRegistrationPage()'><i class='bx bxs-lock-alt'></i><span>{{ 'Common_labels.Register' | translate }}</span></a>
      </div>
      <div class="ml-3 header-user-info" *ngIf="(isLoggedIn)">
        <i class='bx bx-user mr-2'></i><span>{{ username }}</span>
        <a class="ml-2" (click)="navigateToPrivatePages()"><span class="loggedFarmLink"><i class="bx bx-log-in"></i>
          {{ 'Home.IPM_Private' | translate }}</span></a>
      </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">

      <nav class="ml-2 d-none d-sm-block"><!-- Removed nav-menu from class -->
          <ul>
              <li class="active"><a routerLink="/">{{ 'Common_labels.Home' | translate }}</a></li>
          </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<section class="clients-section spad">
  <div class="container">
    <div class="client-text">
      <h2>{{ 'Common_labels.Developers' | translate }}</h2>
      <img class="article-image" src="img/coding.png">
      <span [innerHtml]="articleContent"></span>
      <!--DSS developers will benefit by the platform providing a ‘shop window’ to end users, and to access tools and resources to accelerate DSS innovation. They will be able to make use of the platform in one or more of the following ways depending on their willingness to engage with the Platform and commit resources to ensure that the DSS complies with the Platform data standards:
      <br>
      <ul>
        <li>Full integration - owners or developers would make their DSS fully compliant with the IPM Decisions platform data standards and the DSS would be integrated into the Platform so that the Platform would be the only means by which the DSS would be accessed by end-users. </li>
        <li>Partial integration – owners or developers will provide limited access to their DSS (e.g. region level risk assessments) through the Platform. Platform users will be redirected to the DSS owners own website (via a link) to access the full functionality of the DSS and obtain specific recommendations for their individual circumstances.</li>
        <li>Service Consumer – owners or developers who have an established interface and user base could gain access to the Platform via the API gateway. These users will be solely accessing the underpinning functionality of the platform via an API or web service (Use access level) to allow remote running of the DSS and return of results (minimum) and supply of input data from the Platform or through a link to the DSS existing website, without using a dashboard. </li>
        <li>‘Click through’ link – this is the minimum option as it does not require the DSS to conform to the Platform data standards. For this option, a link that users can click on to access the DSS would be provided </li>
      </ul>-->
    </div>
  </div>
</section>

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container py-4">
    <div class="row">
      <div class="col-md-5 eu-flag">
        <p>{{ 'Common_labels.EU_footer_further_information' | translate }} <a href="mailto:contacts@ipmdecisions.net" target="_blank">contacts@ipmdecisions.net</a>.</p>
        <p>{{ 'Common_labels.EU_footer_further_details_on_project' | translate }} <a href="https://www.ipmdecisions.net" target="_blank">https://www.ipmdecisions.net</a>.</p>
        <img src="img/logo-euro.jpg" style="float: left; display: inline-grid; margin-right: 5px;">
        <p>
          {{ 'Common_labels.Cofundend_by_the_Horizon_2020' | translate }}
          <br>{{ 'Common_labels.Framework_programme' | translate }}
          <br>{{ 'Common_labels.Under_grant_agreement' | translate }}
        </p>
      </div>
      <div class="col-md-3 ">
      </div>

      <div class="col-md-4 ">
        <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2022 <b>{{ 'Common_labels.All_rights_reserved' | translate }} Engineering</b> <br>VAT: 05724831002
  </div>
</footer><!-- End Footer -->
<div>

</div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
