<header class="header-section clearfix">

  <div class="site-navbar">
    <!-- Logo -->
    <a routerLink="/" class="site-logo">
      <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions" title="Logo IPM" />
    </a>
    <div class="login-registration-menu">
      <div class="login-registration-menu-item">
        <a routerLink="/login">
          <i class="fas fa-sign-in-alt icon-size" aria-hidden="true"></i>
          <br>
          <span class="small text-muted">Log in</span>
        </a>
      </div>
      <div class="login-registration-menu-item">
        <a class="register-link mr-2" (click)='goToRegistrationPage()'>
          <i class="fas fa-user-circle icon-size" aria-hidden="true"></i>
          <br>
          <span class="small text-muted">Register</span>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- Header section end  -->
<div class="border-animation"></div>

<section class="clients-section spad">
  <div class="container">
    <div class="client-text">
      <h2>Developers</h2>
      <img class="article-image" src="img/coding.png">
      DSS developers will benefit by the platform providing a ‘shop window’ to end users, and to access tools and resources to accelerate DSS innovation. They will be able to make use of the platform in one or more of the following ways depending on their willingness to engage with the Platform and commit resources to ensure that the DSS complies with the Platform data standards:
      <br>
      <ul>
        <li>Full integration - owners or developers would make their DSS fully compliant with the IPM Decisions platform data standards and the DSS would be integrated into the Platform so that the Platform would be the only means by which the DSS would be accessed by end-users. </li>
        <li>Partial integration – owners or developers will provide limited access to their DSS (e.g. region level risk assessments) through the Platform. Platform users will be redirected to the DSS owners own website (via a link) to access the full functionality of the DSS and obtain specific recommendations for their individual circumstances.</li>
        <li>Service Consumer – owners or developers who have an established interface and user base could gain access to the Platform via the API gateway. These users will be solely accessing the underpinning functionality of the platform via an API or web service (Use access level) to allow remote running of the DSS and return of results (minimum) and supply of input data from the Platform or through a link to the DSS existing website, without using a dashboard. </li>
        <li>‘Click through’ link – this is the minimum option as it does not require the DSS to conform to the Platform data standards. For this option, a link that users can click on to access the DSS would be provided </li>
      </ul>
    </div>
  </div>
</section>

<footer id="footer">

  <div class="container py-4">
      <div class="row">
          <div class="col-lg-4 col-md-4 eu-flag">
              <img src="img/logo-euro.jpg" style="float: left;
display: inline-grid;
margin-right: 5px;">
              <p>Co-funded by the Horizon 2020<br>Framework Programme of the European Union<br>Under grant agreement No 817617</p>
          </div>
          <div class="col-lg-4 col-md-4 ">
              <p>Project lead:<br>Neil Paveley (neil.paveley@adas.co.uk)</p>
              <p>Technical contacts:<br>Dave Skirvin (Dave.Skirvin@adas.co.uk)</p>
              <p>Tor-Einar Skog (tor-einar.skog@nibio.no)</p>
              <p>General enquiries:<br>IPMDecisions@adas.co.uk</p>
          </div>

          <div class="col-lg-4 col-md-4 ">
              <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
          </div>
      </div>
  </div>
  <div class="copyright">
      © 2020 <b>All Rights Reserved Engineering</b> <br>VAT: 05724831002
  </div>
</footer><!-- End Footer -->
