<div class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-md-right">
          <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
              Welcome, Dave Skirvin <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/user']">Lorem ipsum</a>
              <a class="dropdown-item" [routerLink]="['/user']">Lorem ipsum</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/']" >Logout</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="site-navbar">
  <!-- Logo -->
  <a href="index.html" class="site-logo">
    <img
      src="img/logo-ipm-decision.png"
      alt="Logo Ipm Decisions"
      title="Logo IPM"
    />
  </a>
  <div class="header-right">
    <button class="search-switch"><i class="fa fa-search"></i></button>
  </div>
  <!-- Menu -->
  <nav class="site-nav-menu">
    <ul>
      <li>
        <a [routerLink]="['/user']" routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/user/account']"
          routerLinkActive="router-link-active"
          >Account</a
        >
      </li>
      <li class="active">
        <a
          [routerLink]="['/user/farm/list']"
          routerLinkActive="router-link-active"
          >Farm List</a
        >
        <ul class="sub-menu">
          <li>
            <a
              [routerLink]="['/user/farm/add']"
              routerLinkActive="router-link-active"
              >Add Farm</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/user/farm/manage']"
              routerLinkActive="router-link-active"
              >Manage Farm</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>DSS</a>
        <ul class="sub-menu">
          <li>
            <a
              [routerLink]="['/user/dss/use-dashboard']"
              routerLinkActive="router-link-active"
              >DSS Use Dashboard</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/user/dss/evaluation-dashboard']"
              routerLinkActive="router-link-active"
              >DSS Evaluation Dashboard</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/user/dss/adaptation-dashboard']"
              routerLinkActive="router-link-active"
              >DSS Adaptation Dashboard</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/user/dss/integration-dashboard']"
              routerLinkActive="router-link-active"
              >DSS Integration Dashboard</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/user/dss/list']"
              routerLinkActive="router-link-active"
              >DSS List</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          [routerLink]="['/user/dashboard-manager']"
          routerLinkActive="router-link-active"
          >Dashboard Manager</a
        >
      </li>
    </ul>
  </nav>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/user">Home</a></li>
    <li class="breadcrumb-item">
      <a routerLink="/user/farm/list">Farm List</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/user/farm/manage">Manage Farm</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/user/crop/list">Crop list</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/user/crop/manage">Manage Crop</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/user/pest-disease/pest-disease-list">Pest-Disease List</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/user/pest-disease/manage">Manage Pest-Disease</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Observation List</li>
  </ol>
</nav>

<div class="container mx-auto my-5 page-box">
  <div class="row">
    <div class="col-lg-12 col-md-10 ml-auto mr-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h4>Observation list</h4>
          </div>
          <div class="col-sm text-right add-farm">
            <button
              type="button"
              rel="tooltip"
              class="btn btn-info btn"
              data-original-title=""
              title=""
              routerLink="/user/pest-disease/observation-list/add"
            >
              + Add-Upload
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Details</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Observation 1</td>
                <td class="text-center">Lorem ipsum</td>
                <td class="td-actions text-center">
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-info btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list/edit"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-warning btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Connect
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-danger btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              <tr>
                <td class="text-center">Observation 2</td>
                <td class="text-center">Lorem ipsum</td>
                <td class="td-actions text-center">
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-info btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list/edit"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-warning btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Connect
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-danger btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              <tr>
                <td class="text-center">Observation 3</td>
                <td class="text-center">Lorem ipsum</td>
                <td class="td-actions text-center">
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-info btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list/edit"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-warning btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Connect
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    class="btn btn-danger btn-sm button-custom"
                    data-original-title=""
                    title=""
                    routerLink="/user/pest-disease/observation-list"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
