<app-header></app-header>



  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/user/farm/list">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/farm/manage">Manage Farm</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/crop/list">Crop list</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/crop/manage">Manage Crop</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/pest-disease/pest-disease-list">Pest-Disease List</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/pest-disease/manage">Manage Pest-Disease</a></li>
      <li class="breadcrumb-item"><a routerLink="/user/pest-disease/observation-list">Observation List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Observation</li>
    </ol>
  </nav>
  
  <div class="container mx-auto my-5 page-box">
    <h1 class="text-center mb-5">Edit Observation</h1>
    <img src="img/maintenance.png" />
  </div>