<!--<div class="app-sidebar sidebar-shadow bg-happy-green sidebar-text-light">
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <admin-header-sx *ngIf="this.authenticationService.isAdmin(); else userheadersx"></admin-header-sx>
            <ng-template #userheadersx>
                <user-header-sx></user-header-sx>
            </ng-template>
        </div>
        
    </div>
    <div class="footer p-2 d-sm-none d-md-block">
        <div class="text-center pb-3"><img src="img/logo-euro.jpg" alt="EU"></div>
        <div>{{ 'User_menu_footer.Content' | translate }} <a href="https://ec.europa.eu" target="_blank">https://ec.europa.eu</a></div>
    </div>
</div>-->
<div id="mySidebarId" class="mySidebar">
    <!-- ADMIN MENU -->
    <div *ngIf="this.authenticationService.isAdmin(); else usermenu">
        <ul class="vertical-nav-menu">
            <li class="mySidebar_heading">IPM Private</li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/admin" class="mm-active"><i class="metismenu-icon pe-7s-rocket"></i> <span
                        class="ml-3">Home</span></a>
            </li>

            <li class="mySidebar_heading">UI Components</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-diamond"></i>
                    <span class="ml-3">Elements</span>
                    <span class="ml-3"></span><i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a routerLink="./assets/dropdowns" target="_self">
                            <i class="metismenu-icon">
                            </i><span class="ml-3">Dropdowns</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="./assets/icons">
                            <i class="metismenu-icon">
                            </i><span class="ml-3">Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-car"></i>
                    <span class="ml-3">Components</span>
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a routerLink="./assets/tabs">
                            <i class="metismenu-icon">
                            </i><span class="ml-3">Tabs</span>
                        </a>
                    </li>
                    <li>

                        <a routerLink="./assets/accordions">
                            <i class="metismenu-icon">
                            </i><span class="ml-3">Accordions</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="./assets/modal">
                            <i class="metismenu-icon">
                            </i><span class="ml-3">Modals</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- USER MENU -->
    <ng-template #usermenu>
        <div class="mySidebar_heading">{{'User_menu.Farm_menu' | translate}}</div>
        <ul class="vertical-nav-menu mySidebar_body">
            <div>
                <li>
                    <a routerLink="/user/farm" routerLinkActive="mm-active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="metismenu-icon pe-7s-ribbon"></i><div class="ml-5 mySidebarDiv">{{ 'Farm_list.Title' | translate }}</div></a>
                </li>
                <li>
                    <a routerLink="/user/dss/dashboard" routerLinkActive="mm-active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class="metismenu-icon pe-7s-graph2"></i><div class="ml-5 mySidebarDiv">{{ 'DSS_use_dashboard.Title' | translate }}</div></a>
                </li>
                <li>
                    <a routerLink="/user/dss/comparison" routerLinkActive="mm-active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class="metismenu-icon pe-7s-display1"></i><div class="ml-5 mySidebarDiv">{{ 'DSS_comparison.Title' | translate }}</div></a>
                </li>
                <!----><li>
                    <a routerLink="/user/dss/adaptation" routerLinkActive="mm-active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class="metismenu-icon pe-7s-photo-gallery"></i><div class="ml-5 mySidebarDiv">{{ 'DSS_adaptation.Title' | translate }}</div></a>
                </li>
            </div>
        </ul>
    </ng-template>

    <div id="mySidebarFooter" class="footer p-2">
        <div class="text-center pb-3"><img class="euFlag" src="img/logo-euro.jpg" alt="EU"></div>
        <div>{{ 'User_menu_footer.Content' | translate }} <a href="https://ec.europa.eu" target="_blank">https://ec.europa.eu</a></div>
    </div>
</div>