<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>{{ 'DSS_model_parameterisation.Title' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="container mx-auto my-5 page-box">
    <fieldset class="border p-2">
      <legend class="w-auto px-1 text-muted h3">
        <strong class="bold-600">
          {{ farmName }}
        </strong>
      </legend>

      <div class="progress m-3" *ngIf="remoteCallLoading">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">
          {{ 'Common_labels.Loading' | translate }}
        </div>
      </div>
      <legend class="w-auto px-1 text-muted h6">
        <strong class="bold-600">
          {{ dssModelName }} ({{ dssModelId }})
        </strong>
      </legend>
      <!--<div class="row pt-3">
        <div class="col-md-6">
          <div class="table-responsive">
            <div>
              <accordion [isAnimated]="true">
                <accordion-group>
                  <span accordion-heading tooltip="Click to show">
                    {{ 'DSS_model_parameterisation.Saved_parameters' | translate }}
                    <i class="fas fa-bars" style="position:absolute; top: 20px; right: 2%;"></i>
                  </span>
                  <div>
                    <table class="table table-bordered">
                      <tbody>
                        <ng-container *ngFor="let param of dssParameters | keyvalue">
                          <ng-container 
                            [ngTemplateOutlet]="isObject(param.value)? paramIsAnObject : paramIsNotAnObject"
                            [ngTemplateOutletContext]="{param:param}">
                          </ng-container>

                          <ng-template #paramIsNotAnObject let-param='param'>
                            <tr class="text-left" scope="col">
                              <td class="text-center"><b>{{param.key}}</b></td>
                              <td class="text-center">{{param.value}}</td>
                            </tr>
                          </ng-template>
                          <ng-template #paramIsAnObject let-param='param'>
                            <!- -<tr class="text-center" scope="col">
                            <td class="text-center" colspan="2"><b>{{param.key}}</b></td>
                          </tr>- ->
                            <ng-container *ngFor="let nestedParam of param.value | keyvalue">
                              <ng-container
                                [ngTemplateOutlet]="isObject(nestedParam.value)? paramIsAnObject : paramIsNotAnObject"
                                [ngTemplateOutletContext]="{param:nestedParam}">
                              </ng-container>
                            </ng-container>
                          </ng-template>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </accordion-group>
              </accordion>
            </div>
            <br>
          </div>
        </div>
      </div>-->
      <div id="paramForm">
        <div id="json-editor-form"></div>
      </div>
      
    </fieldset>
    <div class="row pt-3">
      <div class="col-md-12">
        <button class="btn btn-primary col-2 pull-right ml-1" (click)="onSubmit()" [disabled]="!editorValid">
          <i class="fas fa-save"></i>&nbsp;
          {{ 'Common_labels.Save' | translate }}
        </button>
        <button class="btn btn-primary pull-right ml-1" (click)="onResetToDefault()">
          <i class="fa fa-retweet"></i>&nbsp;
          {{ 'DSS_model_parameterisation.Reset_to_default' | translate }}
        </button>
        <button class="btn btn-info col-2 pull-right" type="button" (click)="goBack()">
          {{ 'Common_labels.Close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>