<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-display1 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>{{ 'DSS_comparison.Title' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="container mx-auto my-5 page-box" *ngIf="showComparisonDSS; else showWarning">
        <form [formGroup]="modelSelectionForm">
            <div formGroupName="modelSelection">
                <div class="form-group row">
                    <div class="col-md-10">
                        <legend class="w-auto px-1 text-muted h5">
                            <b>{{ 'DSS_comparison.Select_two_or_more_models' | translate }}</b>
                        </legend>
                        <!--<select multiple class="form-control" id="models" formControlName="modelId" data-maxoption="2">
                            <ng-template ngFor let-model [ngForOf]="dssList">
                                <option value="{{model.id}}">{{ model.dssModelName }} ({{ model.dssName }}) 
                                    {{ 'DSS_comparison.for' | translate }} {{ model.cropEppoCode | eppoCode }} 
                                    {{ 'DSS_comparison.on' | translate }} {{ model.farmName }}
                                </option>
                            </ng-template>
                        </select>-->
                        <div class="mb-2">
                            <strong class="col-2 pull-left text-muted"
                                [innerHtml]="( 'DSS_comparison.Note_message' | translate )">
                            </strong>
                        </div>
                        <div class="container scrollableContainer">
                            <ng-template ngFor let-model [ngForOf]="dssList">
                                <app-multi-select
                                textToShow="{{model.dssModelName}} ({{ model.dssName }}) {{ 'DSS_comparison.for' | translate }} {{ model.cropEppoCode | eppoCode }} {{ 'DSS_comparison.on' | translate }} {{ model.farmName }}"
                                [valueContent]="model.id"
                                [maxSelectableOptions]="maxSelections"
                                [currentSelected]="numberOfModelSelected" 
                                (select)="onSelectModel($event)" 
                                (deselect)="onDeselectModel($event)">
                                </app-multi-select>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-sm-2 buttonContainer">
                        <button class="btn btn-info buttonPosition" (click)="onConfirmSelectedModels()"
                            [disabled]="!checkSelectedModelsLenght()">
                            {{ 'DSS_comparison.Compare_models' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" *ngIf="areModelsSelected">
            <div class="col comparisonSeparator">
                <i class="fas fa-caret-right"></i>
                <i class="fas fa-caret-left"></i>
            </div>
        </div>
        <div class="mb-4" *ngFor="let model of dssInComparison; let i = index;">
            <div class="form-group d-flex text-muted pt-2">
                <div class="mr-auto">
                    <label class="h6">
                        <b>{{ 'DSS_comparison.Model' | translate }} {{i+1}} : {{ model.dssModelName }} ({{ model.dssName }}) 
                            {{ 'DSS_comparison.for' | translate }} {{ model.cropEppoCode | eppoCode }} {{ 'DSS_comparison.on' | translate }} 
                            {{ model.farmName }}
                        </b>
                    </label>
                </div>
            </div>
            <app-dss-comparison-row [dssDetail]="model"></app-dss-comparison-row>
        </div>
    </div>
</div>

<ng-template #showWarning>
    <div class="card">
        <div class="progress m-3" *ngIf="remoteCallLoading">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">
            {{ 'Common_labels.Loading' | translate }}
          </div>
        </div>
        <div class="d-flex justify-content-center m-3 alert alert-warning text-muted errorTextWrap" *ngIf="!remoteCallLoading">
          <strong>
            <i class="fa fa fa-exclamation-triangle"></i> 
            {{ 'Warning_messages.Not_enough_DSS_to_compare' | translate }}
          </strong>
        </div>
    </div>
</ng-template>