<div class="card">
  <div class="row">
    <div class="col ml-2">
      <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
      <input type="date" id="{{'startDate' + dssDetail.id + comparisonMode}}" name="period-start" [min]="minDate" [max]="startDateFormMax" (change)="startDateSelected($event)">
      &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
      <input type="date" id="{{'endDate' + dssDetail.id + comparisonMode}}" name="period-end" [min]="twoWeekAhead" [max]="maxDate" 
      (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
      <button class="btn btn-primary ml-3" (click)="onConfirmDays()" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col pr-0">
      <table class="table table-responsive-sm text-muted">
        <thead class="tableHeader">
          <tr>
            <th class="text-center tableHeader">
              <label>{{ 'DSS_details.Risk_score' | translate }}</label>
            </th>
            <th class="text-center tableHeader">
              <select class="form-control text-muted selItem" [ngModel]="selectedDssChartGroup"
                (ngModelChange)="onChangeChartGroup($event)" *ngIf="dssChartGroups.length > 1">
                <option *ngFor="let chartGroup of dssChartGroups" [ngValue]="chartGroup">{{ chartGroup.title }}
                </option>
              </select>
              <span *ngIf="dssChartGroups.length == 1" class="text-muted selItem">
                {{ dssChartGroups[0].title }}
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <custom-chart [data]="warning.data" [labels]="warning.labels" [config]="warning.chartInformation" [chartId]="'comparisonChart-'+dssDetail.id + comparisonMode"
              [isAPopUpChart]="false">
              </custom-chart>
              <a (click)="openModal(expandedRiskChart, 'modal-xl', 'risk')">
                <i class="fas fa-expand light-blue-icon risk-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
              </a>
            </td>
            <td>
              <div class="row" *ngIf="dssChartGroups.length > 0; else noGroupChart">
                <div class="col">
                  <custom-group-chart [chartId]="'comparisonGroupChart-'+selectedDssChartGroup.id+'-'+ dssDetail.id + comparisonMode" [chartResultParameters]="selectedDssChartGroup.resultParameters"
                  [isAPopUpChart]="false"></custom-group-chart>
                </div>
              </div>
              <a (click)="openModal(expandedGroupChart, 'modal-xl', 'group')"  *ngIf="dssChartGroups.length > 0">
                <i class="fas fa-expand light-blue-icon group-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col dataSet" *ngIf="dssChartGroups.length > 0">
      <div *ngFor="let chartGroup of dssChartGroups">
        <div *ngIf="selectedDssChartGroup.id === chartGroup.id">
          <table class="table table-responsive-sm datasetTable text-muted">
            <thead>
              <tr>
                <th class="datasetTh" [title]="('DSS_comparison.Day' | translate)">
                  {{ 'DSS_comparison.Day' | translate }}
                </th>
                <th class="datasetTh" *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.title">
                  {{ resultParams.title }}
                </th>
                <th class="datasetTh" [title]="('DSS_comparison.Risk_score' | translate)">
                  {{ 'DSS_comparison.Risk_score' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dssDetail.warningStatusLabels; let i = index;">
                <td [title]="data">
                  {{data}}
                </td>
                <td *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.data[i]">
                  {{ resultParams.data[i] }}
                </td>
                <td [title]="dssDetail.warningStatusPerDay[i]">
                  {{ dssDetail.warningStatusPerDay[i] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>      
    </div>
    <div class="col dataSet" *ngIf="dssChartGroups.length === 0">
      <table class="table table-responsive-sm datasetTable text-muted">
        <thead>
          <tr>
            <th class="datasetTh" [title]="('DSS_comparison.Day' | translate)">
              {{ 'DSS_comparison.Day' | translate }}
            </th>
            <th class="datasetTh" [title]="('DSS_comparison.Risk_score' | translate)">
              {{ 'DSS_comparison.Risk_score' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dssDetail.warningStatusLabels; let i = index;">
            <td [title]="data">
              {{data}}
            </td>
            <td [title]="dssDetail.warningStatusPerDay[i]">
              {{ dssDetail.warningStatusPerDay[i] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a (click)="openModal(expandedTable, 'modal-lg')">
    <i class="fas fa-expand light-blue-icon fixed pull-right" [title]="('DSS_comparison.Expand_table' | translate)"></i>
  </a>
</div>

<ng-template #expandedTable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'DSS_comparison.Parameters_table' | translate }}: {{ dssDetail.dssModelName }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scrollable mr-4">
    <div class="col" *ngIf="dssChartGroups.length > 0">
      <div *ngFor="let chartGroup of dssChartGroups">
        <div *ngIf="selectedDssChartGroup.id === chartGroup.id">
          <table class="table table-responsive-sm modalDatasetTable text-muted">
            <thead>
              <tr>
                <th class="modalDatasetTh" [title]="('DSS_comparison.Day' | translate)">
                  {{ 'DSS_comparison.Day' | translate }}
                </th>
                <th class="modalDatasetTh" *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.title">
                  {{ resultParams.title }}
                </th>
                <th class="modalDatasetTh" [title]="('DSS_comparison.Risk_score' | translate)">
                  {{ 'DSS_comparison.Risk_score' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dssDetail.warningStatusLabels; let i = index;">
                <td [title]="data">
                  {{data}}
                </td>
                <td *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.data[i]">
                  {{ resultParams.data[i] }}
                </td>
                <td [title]="dssDetail.warningStatusPerDay[i]">
                  {{ dssDetail.warningStatusPerDay[i] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>      
    </div>
    <div class="col" *ngIf="dssChartGroups.length === 0">
      <table class="table table-responsive-sm modalDatasetTable text-muted">
        <thead>
          <tr>
            <th class="modalDatasetTh" [title]="('DSS_comparison.Day' | translate)">
              {{ 'DSS_comparison.Day' | translate }}
            </th>
            <th class="modalDatasetTh" [title]="('DSS_comparison.Risk_score' | translate)">
              {{ 'DSS_comparison.Risk_score' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dssDetail.warningStatusLabels; let i = index;">
            <td [title]="data">
              {{data}}
            </td>
            <td [title]="dssDetail.warningStatusPerDay[i]">
              {{ dssDetail.warningStatusPerDay[i] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer pull-right">
    <button type="button" class="btn btn-info push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>



<ng-template #expandedRiskChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'DSS_details.Risk_score' | translate }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('risk')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <custom-chart [data]="warning.data" [labels]="warning.labels" [config]="warning.chartInformation" [chartId]="'detailChartPopup-'+ dssDetail.id + comparisonMode"
   [isAPopUpChart]="true">
  </custom-chart>
  </div>
  <div class="modal-footer">
    <div class="col-sm-7">
      <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
      <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
      [value]="startDate" (change)="startDateSelectedInPopup($event)">
      &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
      <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
      (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
      <button class="btn btn-primary ml-2" (click)="onConfirmDays()" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
    </div>
    <button type="button" class="btn btn-info push-right" (click)="closeModal('risk')">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>

<ng-template #expandedGroupChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <select class="form-control text-muted selItem" [ngModel]="selectedDssChartGroup"
        (ngModelChange)="onChangeChartGroup($event)" *ngIf="dssChartGroups.length > 1">
        <option *ngFor="let chartGroup of dssChartGroups" [ngValue]="chartGroup" style="font-weight: bold">
          {{ chartGroup.title }}
        </option>
      </select>
      <span *ngIf="dssChartGroups.length == 1" class="text-muted selItem">
        <b>{{ dssChartGroups[0].title }}</b>
      </span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('group')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div *ngFor="let chartGroup of dssChartGroups">
        <div *ngIf="selectedDssChartGroup.id === chartGroup.id">
          <custom-group-chart [chartId]="'detailChartPopup-'+chartGroup.id + this.comparisonMode" [chartResultParameters]="chartGroup.resultParameters"
          [isAPopUpChart]="true"></custom-group-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-sm-7">
      <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
      <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
      [value]="startDate" (change)="startDateSelectedInPopup($event)">
      &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
      <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
      (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
      <button class="btn btn-primary ml-2" (click)="onConfirmDays()" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
    </div>
    <button type="button" class="btn btn-info push-right" (click)="closeModal('group')">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>


<ng-template #noGroupChart>
  <div class="row">
    <div class="col no-group-chart">
      <div class="d-flex justify-content-center p-3 text-muted">
        <strong>
          {{ 'Information_messages.Chart_information_not_provided' | translate }}
        </strong>
      </div>
    </div>
  </div>
</ng-template>
