.dss-icon {
    font-size: 45px;
  }

.tableHeader {
  font-size: 18px;
}

.scrollable {
  height: 70vh;
  overflow-y: auto;
}

.selItem {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.errorTextWrap {
  word-wrap: break-word;
}