.adaptationContainer {
    padding-left: 10px;
    padding-right: 10px;
    /*height: 70vh;*/
}

/*.adaptationContainer .originalContainer {
    border: 1px solid black;
}

.adaptationContainer .revisedContainer {
    border: 1px solid black;
}

.adaptationContainer .row .col {
    border: 1px solid black;
}*/

.adaptationContainer .myHeading {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 34px;
}

.adaptationContainer .selectionGroupChart {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.parametersFormContainer {
    border: 1px solid rgb(110, 158, 247);
    /* max-width: 265px; */
    overflow: auto;
}

.dataSetContainer {
    max-height: 200px;
    /* max-width: 265px; */
    overflow: auto;
}

.dataSetContainer .miniTable {
    border-collapse: collapse;
    border-spacing: 2;
    width: 100%;
    border: 1px solid #ddd;
}

.dataSetContainer .miniTable th,
td {
    text-align: left;
    padding: 8px;
}

.miniTable th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    max-width: 80px;
    text-align: center;
    background: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #e4e2e2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #16aaff;
}

.saveParametersButton{
    font-size: 150%;
    float: right;
  }
.disabledPosition {
    float: right;
}
.disabledSaveIcon {
    color: #645f5f;
}

.banIcon {
    color: tomato;
}

.fullScreenButtonDataset{
    text-shadow: 2px 2px 3px #0f0f0f91;
    font-size: 150%;
    float: right;
  }
  
  .modalTableIcon {
    font-size: 1.5em;
    color: #16aaff;
    padding: 2px 25px 2px 25px;
  }

  .scrollableDatasetModalBody {
    height: auto;
    max-height: 60vh;
    overflow: auto;
  }

.modalDatasetTable {
    max-width: auto;
    max-height: 60vh;
    overflow: auto;
}

.expandedTable {
    border: 1px solid #e9ecef;
    max-width: auto;
    text-align: center;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
}

.modalDatasetTable .expandedTable th,
td {
    text-align: left;
    padding: 8px;
}

.revisedContainer .syncOverlay {
    background-color: #000000cc;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 2px;
    text-align: center;
    padding: 125px 0;
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;
}

.revisedContainer .syncOverlay .spinningArrows{
    color: #ffffffad;
    font-size: 250%;
    /* top: 9%; */
    /* left: 50%; */
    transform: translate(-50%,-50%);
    z-index: -1;
}

.risk-chart-popup-btn{
  position: absolute;
  bottom: 150px;
  right: 10px;
  text-shadow: 2px 2px 3px rgba(15,15,15,.56);
  font-size: 150%;
}

.group-chart-popup-btn{    
  position: absolute;
  top: -20px;
  right: 10px;
  text-shadow: 2px 2px 3px rgba(15,15,15,.56);
  font-size: 150%;
}

.btn-revised{
    background-color: orange;
    border-color: orange;
}
