.dss-icon {
    font-size: 45px;
}

.info-icon {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: 10px;
    right: 10px;
    height: 15px;
}

.farm-box {
    border-bottom: 3px solid;
    margin-bottom:20px;
    border-image: linear-gradient(45deg, rgb(16,169,139), rgb(150,201,61)) 1;
}
