<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>DSS Details</div>
      </div>
    </div>
  </div>

  <div class="container mx-auto my-5 page-box">
    <fieldset class="border p-3"  *ngIf="dssDetail && warning; else noData">
      <legend class="w-auto px-1 text-muted h3">
        <b>{{ dssDetail.cropEppoCode  | eppoCode }}</b>
      </legend>

      <div class="form-group d-flex pl-5 text-muted">
        <div class="mr-auto p-2">
          <label class="h4">
            <b>{{ dssDetail.pestEppoCode  | eppoCode }}</b> 
            <i [tooltip]="tolStatus" [ngStyle]="{ 'color': warning.chartInformation?.color[0],'margin-right':'5px'}" class="fas fa-circle pl-3"></i>
          </label>
        </div>
        <div class="p-2">
          <label class="h4">
            <b>{{ dssDetail.dssModelId }}</b><a class="details" (click)="openModal(dssDetails,'modal-lg')">
              <i class="fas fa-info-circle light-blue-icon ml-1 icon-toggle"></i>
            </a>
          </label>
        </div>
      </div>

      <div class="card">
        <table class="table table-borderless text-muted">
          <thead class="tableHeader">
            <tr>
              <th class="text-center" style="width: 33.33%">
                <label>Risk score</label>
              </th>
              <th class="text-center" style="width: 33.34%">
                <select class="form-control text-muted selItem" [ngModel]="selectedDssChartGroup" (ngModelChange)="onChangeChartGroup($event)">
                  <option *ngFor="let chartGroup of dssChartGroups" [ngValue]="chartGroup">{{ chartGroup.title }}</option>
                </select>
              </th>
              <th class="text-center" style="width: 33.33%">
                <label>Reccomended actions</label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><custom-chart [data]="warning.data" [labels]="warning.labels" [config]="warning.chartInformation"></custom-chart></td>
              <td>
                <div class="row" *ngFor="let chartGroup of dssChartGroups">
                  <div class="col" *ngIf="selectedDssChartGroup.id === chartGroup.id">
                    <custom-group-chart [chartResultParameters]="chartGroup.resultParameters"></custom-group-chart>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <accordion class="col" [isAnimated]="true">
                  <accordion-group>
                    <span accordion-heading tooltip="Click to show">
                      Show data legend
                    </span>
                    <div class="row" *ngFor="let result of selectedDssChartGroup.resultParameters">
                      <i [ngStyle]="{ 'color': result.chartInformation?.color,'margin-right':'5px'}" class="fas fa-square"></i>
                      <small class="d-flex justify-content-center"><b>  {{result.title}}  </b></small>        
                    </div>
                  </accordion-group>
                </accordion>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </fieldset>
    <div class="row pt-3">
      <div class="col-md-12">
        <button class="btn btn-info pull-right" type="button" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Back
        </button>

        <button type="button" class="btn btn-danger mr-2 pull-right" (click)="openModal(deletedsstemplate)">
          <i class="fas fa-trash"></i> Delete
        </button>
        <ng-template #deletedsstemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete DSS Result</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You are about to delete DSS Result. Are you sure?
          </div>
          <div class="modal-footer pull-right">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="delete()">Yes</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #dssDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Dss Informations
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scrollable">
    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Crop / Pest Combination</label>
      <div class="col-sm-9">
        <p><strong>{{dssDetail.cropEppoCode}}</strong> - {{dssDetail.cropEppoCode  | eppoCode}} | <strong>{{dssDetail.pestEppoCode}}</strong> - {{dssDetail.pestEppoCode  | eppoCode}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Type of the output</label>
      <div class="col-sm-9">
        <p>{{dssDetail.dssTypeOfOutput}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Description</label>
      <div class="col-sm-9">
        <p>{{dssDetail.dssDescription}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Creation Date</label>
      <div class="col-sm-9">
        <p>{{dssDetail.creationDate | date}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">DSS ID</label>
      <div class="col-sm-9">
        <p>{{dssDetail.dssId}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">DSS Model ID</label>
      <div class="col-sm-9">
        <p>{{dssDetail.dssModelId}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Warning Status Representation</label>
      <div class="col-sm-9">
        <p>{{dssDetail.warningStatusRepresentation}}</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="met-station" class="col-sm-3 col-form-label">Warning Message</label>
      <div class="col-sm-9">
        <p>{{dssDetail.warningMessage}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer pull-right">
    <button type="button" class="btn btn-info push-right" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #noData>
  <div class="card">
    <div class="d-flex justify-content-center p-3 text-muted">
      <strong>
        No data avaiable for the selected DSS, please verify the input parameters.
      </strong>
    </div>
    <div class="d-flex justify-content-center p-3 text-muted">
      <button type="button" 
        class="btn btn-md btn-primary" 
        (click)="goToModelParametrisation()">
          <i class="fas fa-plus"></i>&nbsp;
          Add Parameters
        </button>
    </div>
  </div>
</ng-template>

<ng-template #tolStatus>{{ dssDetail.warningStatusRepresentation }}</ng-template>