<div class="row d-flex">
    <div class="align-self-center p-2" [ngClass]="{'data-selected': selectedDss === true}">
        <eppo-code-badge
            [dssDetail]="model"
            [dssDescription]="model.dssDescription"
            [endpoint]="model.dssEndPoint" 
            [code]="model.pestEppoCode"
            [dss]="model.dssModelName" 
            [executionType]="('link')"
            [isEditing]="isEditing"
            [isUserSelected]="isUserSelected"
            [selectedDss]="selectedDss"
            (select)="onSelect($event)" 
            (deselect)="onDeselect($event)"
            (delete)="onDelete($event)">
        </eppo-code-badge>
    </div>
</div>

