/*::ng-deep input {
    position: relative;
    width: 150px; height: 20px;
    color: white;
}

::ng-deep input:before {
    position: absolute;
    top: 5px; left: 12px;
    content: attr(data-date);
    display: inline-block;
    color: #495057;
}

::ng-deep input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

::ng-deep input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 7px; right: 12px;
    color: black;
    opacity: 1;
}*/