.btn.btn-info:disabled{
    background: #dddddd;
    border-color: #dddddd;
}

.countryFilterLabel {
    display: inline;
}
@media (max-width: 992px) {
    .hideForMobile {
        display: none;
    }
}