<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>DSS Selection</div>
      </div>
    </div>
  </div>

  <div class="page-box">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="container">
          <fieldset class="border p-3">
            <legend class="w-auto px-1 text-muted"><span class="text-primary">Step 1: Search DSS using farm's crop and pest combinations</span></legend>
            <div class="row pull-right pl-4 pr-4">
              <button type="button" class="pull-right btn btn-md btn-outline-info" (click)="reset()">
                <i class="fas fa-sync"></i>&nbsp;
                Reset
              </button>
            </div>
            <div class="">
              <div class="form-group">
                <label for="crops" class="col-md-3 col-form-label">Farm</label>
                <select id="crops" class="col-md-9 form-control" (change)="farmSelectChanged($event)">
                  <option value="" disabled [selected]='!farmSelectIsNewState'>Select a Farm</option>
                  <option *ngFor="let farm of farms;let i = index" [value]="i" [selected]="i == farmSelectedOption">{{farm.name}}</option>
                </select>
              </div>
            </div>
            <div class="">
              <div class="form-group">
                <label for="pests" class="col-md-3 col-form-label">Select a Crop / Pest</label>
                <select id="pests" class="col-md-9 form-control" (change)="fieldSelectChanged($event)">
                  <option value="" disabled [selected]='!fieldSelectIsNewState'>Crop / Pest</option>
                  <option *ngFor="let field of fields;let i = index" [value]="i" [selected]="i == fieldSelectedOption">
                    <b>{{field.fieldCropDto.cropEppoCode}}</b> {{field.fieldCropDto.cropEppoCode | eppoCode}} - <strong>{{field.fieldCropDto.fieldCropPestDto.value[0].pestEppoCode}}</strong> {{field.fieldCropDto.fieldCropPestDto.value[0].pestEppoCode | eppoCode}}
                  </option>
                </select>
              </div>
            </div>
            <div class="">
              <div class="form-group">
                <label for="dsss" class="col-md-3 col-form-label">DSS</label>
                <select id="dsss" class="col-md-9 form-control" (change)="dssSelectChanged($event)">
                  <option value="" disabled [selected]='!dssSelectIsNewState'>Select a DSS</option>
                  <option *ngFor="let dssModel of dssList;let i = index" [value]="i" [selected]="i == dssSelectedOption" [title]="dssModel.description">
                    {{dssModel.name}}
                  </option>
                </select>
              </div>
            </div>
            
            <div class="progress m-3" *ngIf="remoteCallLoading">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">
                Loading...
              </div>
            </div>

            <div class="form-inline row">
              <div class="form-group col-md pt-4" *ngIf="farmsLoaded && farms.length==0">
                <h5 class="pr-3">No farms available!</h5>
                <button type="button" class="pull-right btn btn-md btn-primary" [routerLink]="['/user/farm/new']">
                  <i class="fas fa-plus"></i>&nbsp;
                  Create Farm
                </button>
              </div>
              <div class="form-group col-md pt-4" *ngIf="fieldsLoaded && fields.length==0">
                <h5 class="pr-3">No Crop and Pest Combination available!</h5>
                <button type="button" class="pull-right btn btn-md btn-primary" [routerLink]="['/user/farm',selectedFarm.id,'edit']">
                  <i class="fas fa-plus"></i>&nbsp;
                  Create Crop and Pest Combination
                </button>
              </div>
              <div class="form-group col-md pt-4" *ngIf="dssLoaded && dssList.length==0">
                <h5 class="pr-3">No DSS available!</h5>
              </div>
            </div>
          </fieldset>
          

          <fieldset class="border p-3 col-12 my-4" [ngStyle]="{'display':dssSelectedOption>=0 ? 'block' : 'none' }">
            <legend class="w-auto px-1 text-muted"><span class="text-success">Step 2: Fill form inputs</span></legend>
            <div id="json-editor-form"></div>
            <div class="box-block">
              <div class="btn-group text-right" *ngIf="dssSelectedOption>=0">
                  <button type="submit" class="btn btn-md btn-primary" (click)="submit()" [disabled]="!editorValid">
                      <i class="fas fa-save"></i>&nbsp;
                      Save
                  </button>
              </div>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>