<div class="row adaptationContainer">
    <div class="col revisedContainer">
      <div class="syncOverlay" *ngIf="isSyncronizing">
        <div class="pb-3">{{ 'DSS_adaptation.Data_is_updating' | translate }} <br> {{ 'DSS_adaptation.Please_wait' | translate }}<br></div>
        <i class="fas fa-sync fa-spin spinningArrows"></i> 
      </div>
      <!-- REVISED DSS PAGE BLOCK -->
      <div class="row revisedDssDetailContainer">
        <!-- DSS DETAILS -->
        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <label class="text-muted"><b>{{ 'DSS_adaptation.Revised_parameters_label' | translate }}</b></label>
              <div id="paramFormRevised" class="parametersFormContainer" (scroll)="updateScrollParameters()"
                #revisedParameters>
                <div id="json-editor-form"></div>
              </div>
              <!-- SAVE PARAMETER BUTTON -->
              <div *ngIf="revisedEditorValid">
                <button class="btn btn-primary mt-2" (click)="onSubmitRevisedParameters()">{{ 'DSS_adaptation.Run_configuration' | translate }}</button>
              </div>
              <div class="disabledPosition" *ngIf="!revisedEditorValid" [tooltip]="toolTipBannedSaveParameters">
                <span class="fa-stack fa-1x">
                  <i class="fas fa-save fa-stack-1x disabledSaveIcon"></i>
                  <i class="fas fa-ban fa-stack-2x banIcon"></i>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row" *ngIf="configurationExecuted">
                <button id="originalDataButton" class="btn btn-primary mb-1" (click)="showOriginalData()" [disabled]="!revisedDataShowed"> ORIGINAL </button>&nbsp;
                <button id="revisedDataButton" class="btn btn-primary btn-revised mb-1" (click)="showRevisedData()" [disabled]="revisedDataShowed"> REVISED </button>
              </div>
              <div *ngIf="revisedDataShowed">
                <div class="row">
                  <div class="col">
                    <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>&nbsp;
                    <input type="date" id="startDate" name="period-start" [min]="minDate" [max]="startDateFormMax" (change)="startDateSelected($event)">
                    &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>&nbsp;
                    <input type="date" id="endDate" name="period-end" [min]="twoWeekAhead" [max]="maxDate" 
                    (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
                    <button class="btn btn-primary ml-2" (click)="onConfirmDays('revised')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col myHeading text-muted">{{ 'DSS_details.Risk_score' | translate }}</div>
                </div>
                <div class="row">
                  <div class="col" *ngIf="showRevisedRiskChart">
                    <custom-chart [data]="revisedWarningChart.data" [labels]="revisedWarningChart.labels"
                      [config]="revisedWarningChart.chartInformation" [chartId]="'adaptationChartRevised-'+revisedDssDetails.id" [isAPopUpChart]="false">
                    </custom-chart>
                    <a (click)="openModal(expandedRiskChart, 'modal-xl')">
                      <i class="fas fa-expand light-blue-icon risk-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
                    </a>
                  </div>
                  <!-- USED TO SHOWING PREVIOUS DATA WHILE UPDATING -->
                  <div class="col" *ngIf="!showRevisedRiskChart">
                    <custom-chart [data]="revisedWarningChart.data" [labels]="revisedWarningChart.labels"
                      [config]="revisedWarningChart.chartInformation" [chartId]="'adaptationChartRevised-'+revisedDssDetails.id" [animation]="false"
                      [isAPopUpChart]="false">
                    </custom-chart> 
                  </div>
                </div>
                <div class="row">
                  <div class="col myHeading text-muted">
                    <select class="form-control text-muted selectionGroupChart" [ngModel]="selectedRevisedDssChartGroup"
                      (ngModelChange)="onChangeChartGroup($event)" *ngIf="revisedDssChartGroups.length > 1">
                      <option *ngFor="let chartGroup of originalDssChartGroups" [ngValue]="chartGroup">{{
                        chartGroup.title }}
                      </option>
                    </select>
                    <span *ngIf="revisedDssChartGroups.length == 1" class="text-muted selectionGroupChart">
                      {{ revisedDssChartGroups[0].title }}
                    </span>
                  </div>
                </div>
                <div class="row" *ngFor="let chartGroup of revisedDssChartGroups">
                  <div class="col" *ngIf="selectedRevisedDssChartGroup.id === chartGroup.id">
                    <custom-group-chart [chartId]="'adaptationGroupChartRevised-'+chartGroup.id" [chartResultParameters]="chartGroup.resultParameters"
                    [isAPopUpChart]="false"></custom-group-chart>
                    <a (click)="openModal(expandedGroupChart, 'modal-xl')">
                      <i class="fas fa-expand light-blue-icon group-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div *ngIf="!revisedDataShowed">
                <div class="row">
                  <div class="col">
                    <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>&nbsp;
                    <input type="date" id="startDate" name="period-start" [min]="minDate" [max]="startDateFormMax" (change)="startDateSelected($event)">
                    &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>&nbsp;
                    <input type="date" id="endDate" name="period-end" [min]="twoWeekAhead" [max]="maxDate" 
                    (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
                    <button class="btn btn-primary ml-2" (click)="onConfirmDays('original')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col myHeading text-muted">{{ 'DSS_details.Risk_score' | translate }}</div>
                </div>
                <div class="row">
                  <div class="col" *ngIf="showRevisedRiskChart">
                    <custom-chart [data]="originalWarningChart.data" [labels]="originalWarningChart.labels"
                      [config]="originalWarningChart.chartInformation" [chartId]="'adaptationChartOriginal-'+originalDssDetails.id" [isAPopUpChart]="false">
                    </custom-chart>
                    <a (click)="openModal(expandedRiskChart, 'modal-xl')">
                      <i class="fas fa-expand light-blue-icon risk-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
                    </a>
                  </div>
                  <!-- USED TO SHOWING PREVIOUS DATA WHILE UPDATING -->
                  <div class="col" *ngIf="!showRevisedRiskChart">
                    <custom-chart [data]="originalWarningChart.data" [labels]="originalWarningChart.labels"
                      [config]="originalWarningChart.chartInformation" [chartId]="'adaptationChartOriginal-'+originalDssDetails.id" [animation]="false"
                      [isAPopUpChart]="false">
                    </custom-chart> 
                  </div>
                </div>
                <div class="row">
                  <div class="col myHeading text-muted">
                    <select class="form-control text-muted selectionGroupChart" [ngModel]="selectedOriginalDssChartGroup"
                      (ngModelChange)="onChangeChartGroup($event)" *ngIf="originalDssChartGroups.length > 1">
                      <option *ngFor="let chartGroup of originalDssChartGroups" [ngValue]="chartGroup">{{
                        chartGroup.title }}
                      </option>
                    </select>
                    <span *ngIf="originalDssChartGroups.length == 1" class="text-muted selectionGroupChart">
                      {{ originalDssChartGroups[0].title }}
                    </span>
                  </div>
                </div>
                <div class="row" *ngFor="let chartGroup of originalDssChartGroups">
                  <div class="col" *ngIf="selectedOriginalDssChartGroup.id === chartGroup.id">
                    <custom-group-chart [chartId]="'adaptationGroupChartOriginal-'+chartGroup.id" [chartResultParameters]="chartGroup.resultParameters"
                    [isAPopUpChart]="false"></custom-group-chart>
                    <a (click)="openModal(expandedGroupChart, 'modal-xl')">
                      <i class="fas fa-expand light-blue-icon group-chart-popup-btn" [title]="('DSS_comparison.Expand_table' | translate)"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="col mt-2"> 
              <button class="btn btn-primary pull-right ml-2" (click)="saveParametrization()">{{'DSS_adaptation.Save_parameters' | translate}}</button>
              <input class="pull-right" type="text" id="dss_name" [value]="'new'+ ' ' + revisedDssDetails.dssModelName" required size="20">&nbsp;
              <label class="mr-2 pull-right" for="name">{{'DSS_adaptation.Dss_name' | translate}}:</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- EXPANDED REVISED DATASET -->

  <ng-template #expandedTableRevised>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <i class="modalTableIcon fa fa-table" aria-hidden="true"></i><b class="text-muted">{{
          'DSS_adaptation.Parameters_table_revised' | translate }}</b>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mr-4">
      <div class="col">
        <ng-template ngFor let-chartGroup [ngForOf]="revisedDssChartGroups">
          <div class="modalDatasetTable" *ngIf="selectedRevisedDssChartGroup.id === chartGroup.id">
            <table class="expandedTable table-bordered text-muted">
              <tr>
                <th [title]="('DSS_adaptation.Day' | translate)">
                  {{ 'DSS_adaptation.Day' | translate }}
                </th>
                <th *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.title">
                  {{ resultParams.title }}
                </th>
                <th [title]="('DSS_adaptation.Risk_score' | translate)">
                  {{ 'DSS_adaptation.Risk_score' | translate }}
                </th>
              </tr>
              <tr *ngFor="let data of revisedDssDetails.warningStatusLabels; let i = index;">
                <td [title]="data">
                  {{data}}
                </td>
                <td *ngFor="let resultParams of chartGroup.resultParameters;" [title]="resultParams.data[i]">
                  {{ resultParams.data[i] }}
                </td>
                <td [title]="revisedDssDetails.warningStatusPerDay[i]">
                  {{ revisedDssDetails.warningStatusPerDay[i] }}
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer pull-right">
      <button type="button" class="btn btn-info push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate
        }}</button>
    </div>
  </ng-template>
  
  <!-- TOOLTIPS SECTION -->
  <ng-template #toolTipExpandTable>
    {{'DSS_adaptation.Expand_table' | translate}}
  </ng-template>
  
  <ng-template #toolTipBannedSaveParameters>
    {{'DSS_adaptation.Banned_save_parameters' | translate}}
  </ng-template>

  <ng-template #expandedRiskChart>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        {{ 'DSS_details.Risk_score' | translate }}
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="revisedDataShowed">
     <custom-chart [data]="revisedWarningChart.data" [labels]="revisedWarningChart.labels" [config]="revisedWarningChart.chartInformation" [chartId]="'detailChartPopupRevised-'+revisedDssDetails.id"
     [isAPopUpChart]="true">
    </custom-chart>
    </div>
    <div class="modal-body" *ngIf="!revisedDataShowed">
      <custom-chart [data]="originalWarningChart.data" [labels]="originalWarningChart.labels" [config]="originalWarningChart.chartInformation" [chartId]="'detailChartPopupOriginal-'+originalDssDetails.id"
      [isAPopUpChart]="true">
     </custom-chart>
     </div>
    <div class="modal-footer">
      <div class="col-sm-7" *ngIf="revisedDataShowed">
        <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
        <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
        [value]="startDate" (change)="startDateSelectedInPopup($event)">
        &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
        <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
        (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
        <button class="btn btn-primary ml-2" (click)="onConfirmDays('revised')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
      </div>
      <div class="col-sm-7" *ngIf="!revisedDataShowed">
        <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
        <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
        [value]="startDate" (change)="startDateSelectedInPopup($event)">
        &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
        <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
        (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
        <button class="btn btn-primary ml-2" (click)="onConfirmDays('original')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
      </div>
      <button type="button" class="btn btn-info push-right" (click)="closeModal()">{{ 'Common_labels.Close' | translate }}</button>
    </div>
  </ng-template>
  
  <ng-template #expandedGroupChart>
    <div *ngIf="revisedDataShowed">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <select class="form-control text-muted selItem" [ngModel]="selectedRevisedDssChartGroup"
            (ngModelChange)="onChangeChartGroup($event)" *ngIf="revisedDssChartGroups.length > 1">
            <option *ngFor="let chartGroup of revisedDssChartGroups" [ngValue]="chartGroup" style="font-weight: bold">
              {{ chartGroup.title }}
            </option>
          </select>
          <span *ngIf="revisedDssChartGroups.length == 1" class="text-muted selItem">
            <b>{{ revisedDssChartGroups[0].title }}</b>
          </span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div *ngFor="let chartGroup of revisedDssChartGroups">
            <div *ngIf="selectedRevisedDssChartGroup.id === chartGroup.id">
              <custom-group-chart [chartId]="'detailChartPopupRevised-'+chartGroup.id" [chartResultParameters]="chartGroup.resultParameters"
              [isAPopUpChart]="true"></custom-group-chart>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-center" *ngFor="let result of selectedRevisedDssChartGroup.resultParameters">
              <i [ngStyle]="{ 'color': result.chartInformation?.color,'margin-right':'5px'}" class="fas fa-square mt-1"></i>
              <span><b> {{result.title}} </b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!revisedDataShowed">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <select class="form-control text-muted selItem" [ngModel]="selectedOriginalDssChartGroup"
            (ngModelChange)="onChangeChartGroup($event)" *ngIf="originalDssChartGroups.length > 1">
            <option *ngFor="let chartGroup of originalDssChartGroups" [ngValue]="chartGroup" style="font-weight: bold">
              {{ chartGroup.title }}
            </option>
          </select>
          <span *ngIf="originalDssChartGroups.length == 1" class="text-muted selItem">
            <b>{{ originalDssChartGroups[0].title }}</b>
          </span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div *ngFor="let chartGroup of originalDssChartGroups">
            <div *ngIf="selectedOriginalDssChartGroup.id === chartGroup.id">
              <custom-group-chart [chartId]="'detailChartPopupOriginal-'+chartGroup.id" [chartResultParameters]="chartGroup.resultParameters"
              [isAPopUpChart]="true"></custom-group-chart>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-center" *ngFor="let result of selectedOriginalDssChartGroup.resultParameters">
              <i [ngStyle]="{ 'color': result.chartInformation?.color,'margin-right':'5px'}" class="fas fa-square mt-1"></i>
              <span><b> {{result.title}} </b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-sm-7" *ngIf="revisedDataShowed">
        <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
        <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
        [value]="startDate" (change)="startDateSelectedInPopup($event)">
        &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
        <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
        (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
        <button class="btn btn-primary ml-2" (click)="onConfirmDays('revised')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
      </div>
      <div class="col-sm-7" *ngIf="!revisedDataShowed">
        <label for="start">{{ 'Common_labels.Start_Date' | translate }}:</label>
        <input type="date" id="startDatePopup" name="period-start" [min]="minDate" [max]="startDateFormMax" 
        [value]="startDate" (change)="startDateSelectedInPopup($event)">
        &nbsp;<label for="end">{{ 'Common_labels.End_Date' | translate }}:</label>
        <input type="date" id="endDatePopup" name="period-end" [min]="twoWeekAhead" [max]="maxDate" [value]="endDate" 
        (change)="endDateSelected($event)" [disabled]="!isStartDateSelected">
        <button class="btn btn-primary ml-2" (click)="onConfirmDays('original')" [disabled]="!isEndDateSelected">{{ 'Common_labels.Select' | translate }}</button>
      </div>
      <button type="button" class="btn btn-info push-right" (click)="closeModal()">{{ 'Common_labels.Close' | translate }}</button>
    </div>
  </ng-template>