<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>{{ 'DSS_use_dashboard.Title' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="page-box" *ngIf="gotData(); else noData">
    <div *ngFor="let farm of farmsDssMap">
      <div class="farm-box" [id]="farm.farmId">
        <h3 class="text-muted">
          <strong>
            {{ farm.farmName }}
          </strong>
        </h3>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-hover">
            <tr *ngFor="let crop of farm.groupedByCrops">
              <td class="col-2 ">
                <div class="p-2">
                  <b class="">{{ crop.eppoCode | eppoCode }}</b>
                </div>
              </td>
              <td class="col-12 w-570 ">
                <div class="cardTdDSS" *ngFor="let item of crop.dssModels" style="position:relative">
                  <span *ngIf="item.dssExecutionType !== 'link'" style="position:relative">
                    <eppo-code-badge 
                      [dssDetail]="item" 
                      [itemId]="item.id" 
                      [code]="item.pestEppoCode"
                      [statusRepresentation]="item.warningStatusRepresentation"
                      [dss]="item.dssModelName + ' (' + item.dssModelId +')'" 
                      [status]="item.warningStatus"
                      [executionType]="item.dssExecutionType" 
                      [dssDescription]="item.dssDescription"
                      [errorType]="item.resultMessageType" 
                      [errorMessage]="item.resultMessage"
                      [isQueued]="isQueued(item.dssTaskStatusDto.jobStatus)"
                      [isScheduled]="isScheduled(item.dssTaskStatusDto.jobStatus)"
                      [scheduleTime]="item.dssTaskStatusDto.scheduleTime" 
                      [isValid]="item.isValid">
                    </eppo-code-badge>
                  </span>
                </div>
              </td>
              <!--<td class="col-4" style="border-left:2px solid green;">
                <div class="d-flex p-2 mx-1" *ngFor="let dssLinked of linkedDSS" style="position:relative">
                  <div *ngIf="dssLinked.cropEppoCode === crop.eppoCode" style="position:relative">
                    <eppo-code-badge
                      [dssDetail]="dssLinked"
                      [dssDescription]="dssLinked.dssDescription"
                      [endpoint]="dssLinked.dssEndPoint" 
                      [code]="dssLinked.pestEppoCode"
                      [dss]="dssLinked.dssModelName" 
                      [executionType]="('link')">
                    </eppo-code-badge>
                  </div>
                </div>
              </td>-->
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div>
      <fieldset class="border p-3">
        <legend class="w-auto px-1 text-muted dss-legend">&nbsp;&nbsp; {{ 'DSS_use_dashboard.Legend' | translate }}&nbsp;&nbsp;</legend>
        <div class="row">
          <!--<div class="col-2 text-center">
            <div class="p-2">
              <b class="">Crop EPPO Code</b>
              <br>
              <ng-template #tolTemplate>Latin name of the plants cultivated and wild) getted by the European and
                Mediterranean Plant Protection Organization (EPPO) code.</ng-template>
              <small class="d-inline-block text-truncate" style="width: 100%;" [tooltip]="tolTemplate"
                placement="bottom">
                Latin name of the plants cultivated and wild) getted by the European and Mediterranean Plant Protection
                Organization (EPPO) code
              </small>
            </div>
          </div>-->
          <div class="d-flex text-center oflowX">
            <div class="p-2 mx-3 ml-4">
              <!--
                  0 = Status gives no meaning (e.g. outside of season or before biofix), GREY
                  1 = Cannot give status due to error, e.g. missing data,  GREY
                  2 = No risk of infection,  GREEN
                  3 = Medium risk of infection, ORANGE
                  4 = High risk of infection. RED
                -->
              <eppo-code-badge 
                [code]="" 
                [dss]="( 'DSS_use_dashboard.Grey_box' | translate)" 
                [status]="0"
                [statusRepresentation]="" 
                [isLegend]="true">
              </eppo-code-badge>
            </div>
            <div class="p-2 mx-3">
              <eppo-code-badge 
                [code]="" 
                [dss]="( 'DSS_use_dashboard.White_box' | translate)" 
                [status]="1"
                [statusRepresentation]="" 
                [isLegend]="true">
              </eppo-code-badge>
            </div>
            <div class="p-2 mx-3">
              <eppo-code-badge 
                [code]="" 
                [dss]="( 'DSS_use_dashboard.Green_box' | translate)" 
                [status]="2"
                [statusRepresentation]="" 
                [isLegend]="true">
              </eppo-code-badge>
            </div>
            <div class="p-2 mx-3">
              <eppo-code-badge 
                [code]="" 
                [dss]="( 'DSS_use_dashboard.Yellow_box' | translate)" 
                [status]="3"
                [statusRepresentation]="" 
                [isLegend]="true">
              </eppo-code-badge>
            </div>
            <div class="p-2 mx-3">
              <eppo-code-badge 
                [code]="" 
                [dss]="( 'DSS_use_dashboard.Red_box' | translate)" 
                [status]="4"
                [statusRepresentation]="" 
                [isLegend]="true">
              </eppo-code-badge>
            </div>
          </div>
        </div>
        <div class="row">
          <li class="ml-2 mt-2 mb-3 noBullets">
            <strong>{{ 'DSS_use_dashboard.Icons_info' | translate }} :</strong>
            <ul class="ml-4 mt-2 noBullets">
              <li class="mb-3">
                <span class="errorIcon-red fa-stack">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fas fa-exclamation-triangle fa-stack-2x"></i>
                </span>
                <strong>{{ 'DSS_use_dashboard.Red_triangle_description' | translate }}</strong>
              </li>
              <li class="mb-3">
                <span class="errorIcon-yellow fa-stack">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fas fa-exclamation-triangle fa-stack-2x"></i>
                </span>
                <strong>{{ 'DSS_use_dashboard.Yellow_triangle_description' | translate }}</strong>
              </li>
              <li class="mb-3">
                <span class="errorIcon-green fa-stack">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fas fa-exclamation-triangle fa-stack-2x"></i>
                </span>
                <strong>{{ 'DSS_use_dashboard.Green_triangle_description' | translate }}</strong>
              </li>
            </ul>
          </li>
        </div>
      </fieldset>
      <div class="row">
        <div class="col justify-content-center">
          <div class="d-flex justify-content-center m-3 alert alert-warning text-muted warningTextWrap">
            <strong>
              {{ 'DSS_use_dashboard.Platform_rationale_information' | translate }}
              <br><br>
              BASIS registered users of the IPM Decisions platform in the UK for the 2022-23 season can receive 2 CDP points by sending the following code to cpd@basis-reg.co.uk: IPM/125329/2223/h
            </strong>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="card">
    <div class="progress m-3" *ngIf="remoteCallLoading">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">
        {{ 'Common_labels.Loading' | translate }}
      </div>
    </div>
    <div class="d-flex justify-content-center p-3 text-muted" *ngIf="!remoteCallLoading">
      <strong>
        {{ 'Information_messages.No_DSS_available_please_add' | translate }}
      </strong>
    </div>
  </div>
</ng-template>