<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>DSS USE Dashboard</div>
      </div>
    </div>
  </div>
  <div class="page-box">  
      <div class="row pb-3" *ngFor="let cropEppoCode of dssMap | keyvalue">
        <div class="col-2 text-center">
          <div class="p-2">
            <b class="">{{cropEppoCode.key}}</b>
            <br>
            <ng-template #tolTemplate>{{cropEppoCode.key | eppoCode | uppercase}}</ng-template>
            <small class="d-inline-block text-truncate" style="width: 100%;" [tooltip]="tolTemplate" placement="bottom">{{cropEppoCode.key | eppoCode | uppercase}}</small>
          </div>
        </div>
        <div class="d-flex col-10 text-center">
          <div class="p-2 mx-1" *ngFor="let item of cropEppoCode.value">
            <a [routerLink]="[item.id,'view']">
              <eppo-code-badge [code]="item.pestEppoCode" [dss]="item.dssId+' - '+item.dssModelId" [status]="item.warningStatus"></eppo-code-badge>
            </a>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br>
      <div>
        <div class="row">
          <div class="col-2 text-center">
            <div class="p-2">
              <b class="">CropEppoCode</b>
              <br>
              <small>Code description</small>
            </div>
          </div>
          <div class="d-flex col-10 text-center">
            <div class="p-2 mx-1">
              <eppo-code-badge [code]="'SEPTTR'" [dss]="'DSS - test 0'" [status]="0"></eppo-code-badge>
            </div>
            <div class="p-2 mx-1">
              <eppo-code-badge [code]="'PSILRO'" [dss]="'DSS - test 1'" [status]="1"></eppo-code-badge>
            </div>
            <div class="p-2 mx-1">
              <eppo-code-badge [code]="'DAUCS'" [dss]="'DSS - test 2'" [status]="2"></eppo-code-badge>
            </div>
            <div class="p-2 mx-1">
              <eppo-code-badge [code]="'3RYEC'" [dss]="'DSS - test 3'" [status]="3"></eppo-code-badge>
            </div>
            <div class="p-2 mx-1">
              <eppo-code-badge [code]="'CUSTM2'" [dss]="'DSS - test 4'" [status]="4"></eppo-code-badge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>