<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-note icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>{{ 'DSS_model_selection.Title' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="container mx-auto my-5 page-box">
    <fieldset class="border p-2">
      <legend class="w-auto px-1 text-muted h3">
        <strong class="bold-600">
          {{ farm.name }}
        </strong>
      </legend>
      <form [formGroup]="selCropForm">
        <div class="row">
          <div class="col-6">
            <fieldset class="border p-3 m-3">
              <legend class="w-auto px-1 text-muted h5">
                <b>{{ 'DSS_model_selection.Crops_selection' | translate }}</b>
              </legend>

              <div formGroupName="cropSelection">
                <div class="form-group row">
                  <div class="col-sm-11">
                    <select multiple class="form-control" id="crops" formControlName="cropEppoCode">
                      <ng-template ngFor let-crop [ngForOf]="cropsEppoCodes">
                        <option value="{{crop.code}}">{{ crop.code | eppoCode }} ({{ crop.code }})</option>
                      </ng-template>
                    </select>
                    <span>
                      <small class="col-2 pull-left mt-2" [innerHtml]="( 'DSS_model_selection.Multiselect_tip' | translate )"></small>
                      <button class="btn btn-info btn-sm pull-right mt-2 col-3" (click)="onConfirmSelectedCrops()"
                      [disabled]="!selCropForm.get('cropSelection').get('cropEppoCode').valid">
                      {{ 'DSS_model_selection.Show_DSS' | translate }}
                    </button>
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div *ngIf="areCropsSelected" class="col-12 mt-4">
            <fieldset class="border p-3 ml-3 mr-3 mb-3">
              <legend class="w-auto px-1 text-muted h5">
                <b>{{ 'DSS_model_selection.DSS_models_selection' | translate }}</b>
              </legend>
              <div class="row">
                <div class="col">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center col-3">{{ 'DSS_model_selection.Crop_name' | translate }}</th>
                        <th class="text-center col-3">{{ 'DSS_model_selection.Pest_name' | translate }}</th>
                        <th class="text-center col-3">{{ 'DSS_model_selection.Model_name' | translate }}</th>
                        <th class="text-center">{{ 'DSS_model_selection.DSS_name' | translate }}</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let dssSel of data">
                        <tr app-dss-model-row *ngFor="let model of dssSel.models; index as i" [model]="model"
                          [selectedCrops]="selCropForm.get('cropSelection').get('cropEppoCode').value"
                          [dssSelection]="dssSel" (select)="onSelectDSS($event)" (deselect)="onDeselectDSS($event)">
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <!--<accordion class="col" [isAnimated]="true">
                  <accordion-group *ngFor="let dssSel of data">
                    <span accordion-heading tooltip="Click to show">
                      {{dssSel.name}}
                      <i class="fas fa-bars" style="position:absolute; top: 20px; right: 2%;"></i>
                    </span>
                    <div class="col">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center col-3">{{ 'DSS_model_selection.Crop_name' | translate }}</th>
                            <th class="text-center col-3">{{ 'DSS_model_selection.Pest_name' | translate }}</th>
                            <th class="text-center">{{ 'DSS_model_selection.DSS_name' | translate }}</th>
                            <th class="text-center"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr app-dss-model-row *ngFor="let model of dssSel.models; index as i" [model]="model"
                            [selectedCrops]="selCropForm.get('cropSelection').get('cropEppoCode').value"
                            [dssSelection]="dssSel" (select)="onSelectDSS($event)" (deselect)="onDeselectDSS($event)">
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </accordion-group>
                </accordion>-->
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </fieldset>
    <div class="row pt-3">
      <div class="col-md-12">
        <button class="btn btn-primary col-2 pull-right ml-1" (click)="onSave()"
          [disabled]="!selectedDss || selectedDss.length ==0">
          <i class="fas fa-save"></i>&nbsp;
          {{ 'Common_labels.Save' | translate }}
        </button>
        <button class="btn btn-info col-2 pull-right" type="button" (click)="goBack()">
          {{ 'Common_labels.Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>