.data-selected{
    background-color: #ff0000;
}
.data-notSelected{
  display: none;
}
.btn.btn-info:disabled{
  background: #dddddd;
  border-color: #dddddd;
}
.scrollable{
  height: 70vh;
  overflow-y: auto;
}
.tooltipStyle {
  color: #8cbcfa;
  font-weight: bold;
}