.h6 {
    color: red;
}

.buttonContainer {
    position:relative;
}
.buttonPosition {
    position: absolute;
    left: 0;
    bottom: 13%;
}

.comparisonSeparator {
    font-size: 220%;
    color: rgba(91, 92, 92, 0.61);
    left: 48%;
}

.errorTextWrap {
    word-wrap: break-word;
}

.scrollableContainer {
    padding-top:6px;
    padding-bottom:6px;
    max-height: 210px;
    overflow-y:auto;
    overflow-x:hidden;
    border: 1px solid #ccc!important;
    border-radius: 8px;
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #797f83;
    border-color: #797f83;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background: #d1d1d1;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #16aaff;
  }

  .note-message {
      color: red
  }

 @media only screen and (max-width: 600px) {
    .buttonPosition {
        position: relative;
        left: 0;
        bottom: -13px;
        width: 100%;
    }


}

.select-days-row {
    width: 55%;
}

.revisedContainer{
    position: relative;
}

.revisedContainer .syncOverlay {
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 2px;
    text-align: center;
    padding: 125px 0;
    font-weight: bold;
    font-size: xx-large;
    color: #32303087;
}

.revisedContainer .syncOverlay .spinningArrows{
    color: #32303087;
    font-size: 250%;
    /* top: 9%; */
    /* left: 50%; */
    transform: translate(-50%,-50%);
    z-index: -1;
}