<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>DSS USE Dashboard</div>
      </div>
    </div>
  </div>
  <div class="page-box">  
      <div class="row pb-3" *ngFor="let cropEppoCode of dssMap | keyvalue">
        <div class="col-2 text-center">
          <div class="p-2">
            <b class="">{{cropEppoCode.key}}</b>
            <br>
            <ng-template #tolTemplate>{{cropEppoCode.key | eppoCode | uppercase}}</ng-template>
            <small class="d-inline-block text-truncate" style="width: 100%;" [tooltip]="tolTemplate" placement="bottom">{{cropEppoCode.key | eppoCode | uppercase}}</small>
          </div>
        </div>
        <div class="d-flex col-10 text-center">
          <div class="p-2 mx-1" *ngFor="let item of cropEppoCode.value">
            <a [routerLink]="[item.id,'view']" [title]="item.warningStatusRepresentation">
              <eppo-code-badge [code]="item.pestEppoCode" [dss]="item.dssId+' - '+item.dssModelId" [status]="item.warningStatus"></eppo-code-badge>
            </a>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br>
      <div>
        <fieldset class="border p-3">
          <legend class="w-auto px-1 text-muted">Legend / Example</legend>
          <div class="row">
            <div class="col-2 text-center">
              <div class="p-2">
                <b class="">Crop EPPO Code</b>
                <br>
                <ng-template #tolTemplate>Latin name of the plants cultivated and wild) getted by the European and Mediterranean Plant Protection Organization (EPPO) code.</ng-template>
                <small class="d-inline-block text-truncate" style="width: 100%;" [tooltip]="tolTemplate" placement="bottom">
                  Latin name of the plants cultivated and wild) getted by the European and Mediterranean Plant Protection Organization (EPPO) code
                </small>
              </div>
            </div>
            <div class="d-flex col-10 text-center">
              <div class="p-2 mx-1">
                <!--
                  0 = Status gives no meaning (e.g. outside of season or before biofix), GREY
                  1 = Cannot give status due to error, e.g. missing data,  GREY
                  2 = No risk of infection,  GREEN
                  3 = Medium risk of infection, ORANGE
                  4 = High risk of infection. RED
                -->
                <eppo-code-badge [code]="'PEST'" [dss]="'No meaning status'" [status]="0"></eppo-code-badge>
              </div>
              <div class="p-2 mx-1">
                <eppo-code-badge [code]="'PSILRO'" [dss]="'Cannot give status'" [status]="1"></eppo-code-badge>
              </div>
              <div class="p-2 mx-1">
                <eppo-code-badge [code]="'SEPTAP'" [dss]="'No risk of infection'" [status]="2"></eppo-code-badge>
              </div>
              <div class="p-2 mx-1">
                <eppo-code-badge [code]="'TRFPR'" [dss]="'Medium risk'" [status]="3"></eppo-code-badge>
              </div>
              <div class="p-2 mx-1">
                <eppo-code-badge [code]="'VERAR'" [dss]="'High risk'" [status]="4"></eppo-code-badge>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>