<div id="login-background"></div>
<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column">
        <div [ngSwitch]="success" id="login-box" class="col-md-12 text-center">
          <h3 *ngSwitchCase="undefined" class="content-center">{{ 'Common_labels.Wait' | translate }}</h3>
          <div *ngSwitchCase="true" class="content-center">
            <h3>{{ 'Common_labels.Success' | translate }}</h3><br>
            <a routerLink="/login">
              <i class="fas fa-sign-in-alt icon-size"></i>
              <br>
              <span>{{ 'Common_labels.Login' | translate }}</span>
            </a>
          </div>
          <div *ngSwitchCase="false" class="overflow-auto">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
