<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div class="app-main__outer">
      <section class="hero-section">
        <div class="hero-slider owl-carousel">
          <ng-template ngFor let-picture [ngForOf]="homeSlideshow?.gallery">
            <div class="hero-item set-bg" [attr.data-setbg]="picture.path | cmsLink">
              <div class="container">
                <div class="row">
                  <div class="col-xl-8">
                    <h2>
                      <span>IPM</span><span>DECISIONS</span><span> Support System Platform</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="border-animation"></div>
      </section>
      <div class="container">
        <router-outlet></router-outlet>  
      </div>
    </div>
  </div>
</div>
