<div class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-md-right">
          <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
              Welcome, Dave Skirvin <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/user/account']">Account</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/']" >Logout</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="site-navbar">
  <!-- Logo -->
  <a [routerLink]="['/user']" class="site-logo">
    <img
      src="img/logo-ipm-decision.png"
      alt="Logo Ipm Decisions"
      title="Logo IPM"
    />
  </a>
  <div class="header-right">
    <button class="search-switch"><i class="fa fa-search"></i></button>
  </div>
  <!-- Menu -->
  <nav class="site-nav-menu">
    <ul>
      <li><a [routerLink]="['/user']" routerLinkActive="router-link-active" >Home</a></li>
      <li><a [routerLink]="['/user/farm/list']"  routerLinkActive="router-link-active" >Farm List</a>
        <ul class="sub-menu"> 
          <li><a [routerLink]="['/user/farm/add']" routerLinkActive="router-link-active" >Add Farm</a></li>
        </ul></li>
      <li>
        <a>DSS</a>
        <ul class="sub-menu"> 
          <li><a [routerLink]="['/user/dss/use-dashboard']" routerLinkActive="router-link-active" >DSS Use Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/evaluation-dashboard']" routerLinkActive="router-link-active" >DSS Evaluation Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/adaptation-dashboard']" routerLinkActive="router-link-active" >DSS Adaptation Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/integration-dashboard']" routerLinkActive="router-link-active" >DSS Integration Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/list']" routerLinkActive="router-link-active" >DSS List</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/user/dashboard-manager']" routerLinkActive="router-link-active" >Dashboard Manager</a></li>
    </ul>
  </nav>
</div>

<!-- Hero section  -->
<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <div class="hero-item set-bg" data-setbg="img/hero-slider/1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <h2>
              <span>IPM</span><span>DECISIONS</span
              ><span> Support System Platform</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-item set-bg" data-setbg="img/hero-slider/2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <h2>
              <span>IPM</span><span>DECISIONS</span
              ><span> Support System Platform</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-item set-bg" data-setbg="img/hero-slider/3.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <h2>
              <span>IPM</span><span>DECISIONS</span
              ><span> Support System Platform</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-animation"></div>
</section>
<!-- Hero section end  -->

<!-- Services section  -->
<section class="services-section">
  <div class="services-warp">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <h5>Actors</h5>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <h5>Data standards</h5>
            </div>
            <p>
              Quisque orci purus, sodales in est quis, blandit sollicitudin est.
              Nam ornare ipsum ac accumsan auctor. Donec consequat arcu.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <!--<div class="si-icon">
                   <img src="img/icons/wind-engine.png" alt=""> 
                </div>-->
              <h5>Architectural Approach</h5>
            </div>
            <p>
              Sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac
              accumsan auctor. Donec con-sequat arcu et commodo interdum.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <h5>Farm</h5>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <h5>Crop</h5>
            </div>
            <p>
              Quisque orci purus, sodales in est quis, blandit sollicitudin est.
              Nam ornare ipsum ac accumsan auctor. Donec consequat arcu.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <h5>Pest</h5>
            </div>
            <p>
              Sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac
              accumsan auctor. Donec con-sequat arcu et commodo interdum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end  -->

<!-- Features section   -->
<section class="features-section spad set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="feature-box">
          <img src="img/features/1.jpg" alt="" />
          <div class="fb-text">
            <h5>DSS use</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi-scing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est. Nam
              ornare ipsum ac accumsan auctor.
            </p>
            <a href="" class="fb-more-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature-box">
          <img src="img/features/2.jpg" alt="" />
          <div class="fb-text">
            <h5>DSS evaluation</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi-scing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est. Nam
              ornare ipsum ac accumsan auctor.
            </p>
            <a href="" class="fb-more-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="feature-box">
          <img src="img/features/3.jpg" alt="" />
          <div class="fb-text">
            <h5>DSS adaptation</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi-scing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est. Nam
              ornare ipsum ac accumsan auctor.
            </p>
            <a href="" class="fb-more-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature-box">
          <img src="img/features/4.jpg" alt="" />
          <div class="fb-text">
            <h5>DSS integration</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi-scing elit. Quisque
              orci purus, sodales in est quis, blandit sollicitudin est. Nam
              ornare ipsum ac accumsan auctor.
            </p>
            <a href="" class="fb-more-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features section end  -->

<!-- Clients section  -->
<section class="clients-section spad">
  <div class="container">
    <div class="client-text">
      <h2>IPM DSS Innovation</h2>
      <p>
        "Farming must address the key challenge of increasing production of
        affordable food to meet global demand, whilst minimising environmental
        impacts. Clearly, crops affected by pests are less productive and plant
        protection products pose an environmental hazard. <br />
        The impact of Decision Support Systems (DSS) in crop protection has been
        constrained by regional and sectoral fragmentation of actors, inadequate
        testing of DSS and quantification of their benefits, lack of
        quantification of the economic, environmental and consumer benefits of
        using DSS, the fact that DSS address single pests whilst farmer
        decisions need to account for multiple pests. <br />
        The ‘IPM Decisions’ project will accelerate impact from farm DSS for
        Integrated Pest Management (IPM), as advocated in the Sustainable Use
        Directive, by addressing these constraints through the creation of a
        ‘one stop shop’ delivering DSS, data, tools and resources through a
        pan-European online Platform and an ‘IPM Decisions Network’. <br />

        IPM Decisions will prioritise 10 ‘case study DSS’ for pests threatening
        contrasting crop sectors, representing the key challenges IPM in arable
        crops, high value horticultural and fruit crops, and permanent crops.
        The project consortium brings together 28 multi-actors participants from
        public and commercial DSS providers, the research community, farmer and
        extension organisations, major international crop protection companies,
        ICT system integrators, meteorological services and national
        authorities."
      </p>
    </div>
  </div>
</section>
<!-- Clients section end  -->

<!-- Testimonial section -->
<section class="testimonial-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div
          class="testimonial-bg set-bg"
          data-setbg="img/testimonial-bg.jpg"
        ></div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="testimonial-box">
          <div class="testi-box-warp">
            <h2>News</h2>
            <div class="testimonial-slider owl-carousel">
              <div class="testimonial">
                <h5>News 1</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque orci purus, sodales in est quis, blandit sollicitudin
                  est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu
                  et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum
                  dolor sit amet, consecte-tur adipiscing elit. Quisque orci
                  purus, sodales in est quis, blandit sollicitudin est.
                </p>
              </div>
              <div class="testimonial">
                <h5>News 1</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque orci purus, sodales in est quis, blandit sollicitudin
                  est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu
                  et commodo interdum. Vivamus posuere lorem lacus.Lorem ipsum
                  dolor sit amet, consecte-tur adipiscing elit. Quisque orci
                  purus, sodales in est quis, blandit sollicitudin est.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Video section  -->
<section class="video-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="video-text">
          <h2>Knowage dss</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            orci purus, sodales in est quis, blandit sollicitudin est. Nam
            ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo
            interdum. Vivamus posuere lorem lacus.Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Quisque orci purus, sodales in est
            quis, blandit sollicitudin est. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Quisque orci purus, sodales in est
            quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor.
            Donec consequat arcu et commodo interdum. Vivamus posuere lorem
            lacus.Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-box set-bg" data-setbg="img/video-box.jpg">
          <a
            href="https://www.youtube.com/watch?v=wbnaHgSttVo"
            class="video-popup"
          >
            <i class="fa fa-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video section end  -->

<!-- Search model -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here....." />
    </form>
  </div>
</div>
<!-- Search model end -->
