<span>
    <ng-template #tolTemplateStatusRep>
      {{statusRepresentation}}
    </ng-template>
    <span class="badge dss-badge containerBox"
        [tooltip]="statusRepresentation ? tolTemplateStatusRep : null"
        [ngClass]="{'badge-secondary':!status, 'badge-info': status==1, 'badge-success': status==2, 'badge-warning':status==3, 'badge-danger': status==4}"
        *ngIf="!(executionType==='link')">
        <!--<span *ngIf="dssDescription"
            class="infoIcon fa-stack" 
            popover="{{dssDescription}}" 
            popoverTitle="{{statusRepresentation}}" 
            placement="auto" 
            [outsideClick]="true"
            container='body'>
            <i class="fas fa-circle fa-stack-1x"></i>
            <i class="fas fa-info-circle fa-stack-1x"></i>
        </span>-->
        <span *ngIf="!isValid" class="errorIcon fa-stack">
            <a class="details" (click)="openModal(errorModal,'modal-lg')">
                <i class="fas fa-circle fa-stack-1x"></i>
                <i class="fas fa-times-circle fa-stack-1x"></i>
            </a>
        </span>
        <a *ngIf="itemId && status>0; else notClickable"[routerLink]="[itemId,'view']" style="color: white">
            <h6  *ngIf="!isLegend"><b>{{code | eppoCode }}</b></h6>
            <small  *ngIf="!isLegend">({{ code }})</small>
        </a>
        <ng-template #notClickable>
            <h6  *ngIf="!isLegend"><b>{{code | eppoCode }}</b></h6>
            <small  *ngIf="!isLegend">({{ code }})</small>
        </ng-template>
    </span>
    <!-- Template for External DSS Badge -->
    <span class="exeLink"
        *ngIf="executionType==='link'">
        <!--<span *ngIf="dssDescription"
            class="infoIcon fa-stack" 
            popover="{{dssDescription}}" 
            popoverTitle="{{statusRepresentation}}" 
            placement="auto" 
            [outsideClick]="true"
            container='body'>
            <i class="fas fa-circle fa-stack-1x"></i>
            <i class="fas fa-info-circle fa-stack-1x"></i>
        </span>-->
        <i class="fas fa-link"></i>
        <span class="label label-danger label-as-badge"></span>
        <a [href]="endpoint" target="_blank" style="color: #6c757d">
            <h6><b>{{code | eppoCode }}</b></h6>
            <small>({{ code }})</small>
        </a>
    </span>
    <span *ngIf="dss && !isLegend" class="dss text-truncate" placement="bottom">{{dss}}</span>
    <span *ngIf="isLegend" class="dss-legend text-truncate" placement="bottom"><b>{{dss}}</b></span>
</span>

<!-- ERROR MODAL -->
<ng-template #errorModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <span class="modalErrorIcon fa-stack">
                <i class="fas fa-circle fa-stack-1x"></i>
                <i class="fas fa-times-circle fa-stack-1x"></i>
        </span> <b>{{ 'Common_labels.Error' | translate }}</b>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body scrollable m-2">
      <div class="form-group row">
        <div class="col-md justify-content-center">
            <div class="alert alert-danger text-muted">
                <strong>{{ 'Error_messages.DSS_an_error_occured' | translate }}:</strong>
                <br>
                {{ errorMessage }}
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer pull-right">
      <button type="button" class="btn btn-info push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
    </div>
  </ng-template>