/*Remove white-space: normal; to allow the text-truncate class*/
.containerBox{
  position: relative;
}
.dss {
  display: block;
  font-size: 80%;
  color: #6c757d;
  min-width: 120px;
  max-width: 150px;
  height: auto;
  white-space: normal;
}

.dss-legend {
  display: block;
  font-size: 90%;
  color: #2e3133;
  min-width: 120px;
  max-width: 150px;
  height: auto;
  white-space: normal;
}

.dss-badge {
  display: inline-block;
  min-width: 120px;
  max-width: 150px;
  min-height: 50px;
  height: auto;
  white-space: normal;
}

.exeLink {
  display: inline-block;;
  font-size: 80%;
  color: #6c757d;
  min-width: 120px;
  max-width: 150px;
  height: auto;
  white-space: normal;
}

.fa-link {
  font-size: 125%;
}

.fa-circle {
  color: white;
}

.infoIcon {
  font-size: 125%;
  color: rgb(0, 140, 255);
  position: absolute;
  top: -3px;
  right: -6px;
}

.errorIcon {
  font-size: 125%;
  color: red;
  position: absolute;
  bottom: -3px;
  right: -6px;
}

.scrollable {
  height: auto;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.modalErrorIcon {
  font-size: 150%;
  color: red;
}

.badge-info {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: red;
}
