<div class="site-navbar">
  <!-- Logo -->
  <a href="index.html" class="site-logo">
    <img
      src="img/logo-ipm-decision.png"
      alt="Logo Ipm Decisions"
      title="Logo IPM"
    />
  </a>
  <div class="header-right">
    <button class="search-switch"><i class="fa fa-search"></i></button>
  </div>
  <!-- Menu -->
  <nav class="site-nav-menu">
    <ul>
      <li><a [routerLink]="['/user']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="active"><a [routerLink]="['/user/account']" routerLinkActive="router-link-active" >Account</a></li class="active">
      <li><a [routerLink]="['/user/farm']" routerLinkActive="router-link-active" >Farm</a></li>
      <li>
        <a>DSS</a>
        <ul class="sub-menu"> 
          <li><a [routerLink]="['/user/dss/use-dashboard']" routerLinkActive="router-link-active" >DSS Use Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/evaluation-dashboard']" routerLinkActive="router-link-active" >DSS Evaluation Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/adaptation-dashboard']" routerLinkActive="router-link-active" >DSS Adaptation Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/integration-dashboard']" routerLinkActive="router-link-active" >DSS Integration Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/list']" routerLinkActive="router-link-active" >DSS List</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/user/dashboard-manager']" routerLinkActive="router-link-active" >Dashboard Manager</a></li>
    </ul>
  </nav>
</div>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../../img/profile.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            John Doe
          </h5>
          <h6>
            Farmer
          </h6>
          <p class="proile-rating">Number of Farms : <span>3</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List of Farms</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="button"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          [routerLink]="['/user/account/edit']"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Contact Name</label>
              </div>
              <div class="col-md-6">
                <p>John Doe</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>johndoe@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Mobile</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Adress Line 1</label>
              </div>
              <div class="col-md-6">
                <p>This Farm</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Adress Line 2</label>
              </div>
              <div class="col-md-6">
                <p>This Vilage</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Adress Line 3</label>
              </div>
              <div class="col-md-6">
                <p>This Town</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Post Code</label>
              </div>
              <div class="col-md-6">
                <p>11111</p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Country</label>
                </div>
                <div class="col-md-6">
                  <p>Wonderland</p>
                </div>
              </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <a href="">Lorem ipsum</a><br />
            <a href="">Lorem ipsum</a><br />
            <a href="">Lorem ipsum</a><br />
            <a href="">Lorem ipsum</a><br />
            <a href="">Lorem ipsum</a><br />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
