<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
  <user-header></user-header>
  <div class="app-main">
    <sidebar></sidebar>
    <div id="mainDocument" class="app-main__outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumbBar">
          <li class="breadcrumb-item"><a routerLink="/admin">{{ 'Common_labels.Home' | translate }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ 'Common_labels.Account' | translate }}</li>
        </ol>
      </nav>
      <div class="app-main__inner profile-container">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <em class="pe-7s-user icon-gradient bg-mean-fruit">
                </em>
              </div>
              <div>{{ 'User_account.Title' | translate }}</div>
            </div>
          </div>
        </div>

        <div class="container mx-auto my-5 page-box">
          <div class="container page-box w-75 p-3">
            <form method="post">
              <div class="row">
                <div class="col-md-2">
                  <!--<div class="profile-img">
                    <img src="../../../../img/profile.png" alt="" />
                  </div>-->
                </div>
                <div class="col-md-6">
                  <div class="profile-head">
                    <h5>
                      {{ user?.fullName | titlecase }}
                      <!-- {{ user?.fullName | titlecase }} -->
                    </h5>
                    <h6>
                      <small>{{ 'User_account.User_role' | translate }}:&nbsp;</small><span class="badge user-role-badge">{{ userRole.description | translate | titlecase }}</span>
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                          aria-controls="home" aria-selected="true">{{ 'Common_labels.About' | translate }}</a>
                      </li>
                      <li class="nav-item">
                          {{ userRole.value == 'farmer' ? ('User_account.Check_farm_control' | translate) : userRole.value == 'advisor' ? ('User_account.Request_farm_control' | translate) : ''}}
                      </li>
                      <!--<li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                          aria-controls="profile" aria-selected="false">Settings</a>
                      </li>-->
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="text-center col-sm-12">
                      <button type="button" class="profile-edit-btn mb-2" [routerLink]="['/user/account/edit']">
                        <i class="fas fa-edit"></i> {{ 'User_account.Edit_profile' | translate }}
                      </button>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="text-center col-sm-12">
                      <button type="button" class="profile-edit-btn mb-2" [routerLink]="['/user/account/password']">
                        {{ 'User_edit_password.Change_password' | translate }}
                      </button>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="text-center col-sm-12">
                      <button type="button" class="profile-edit-btn mb-2" [routerLink]="['/user/account/weather-station']">
                        {{ 'User_weather_stations.Weather_stations' | translate }}
                      </button>
                    </div>
                  </div>
           <!---->
                  <div class="row" *ngIf="userRole.value == 'advisor'">
                    <div class="text-center col-sm-12">
                      <button  type="button" class="profile-edit-btn"  (click)="openModal(FarmRequest,'modal-sm')">
                        {{ 'Farm_request.Farm_share_request' | translate }}
                      </button>
                    </div>
                  </div>
                  
                  <div class="row" *ngIf="userRole.value == 'farmer'">
                    <div class="text-center col-sm-12">
                      <button  type="button" class="profile-edit-btn"  [routerLink]="['/user/account/share-request']">
                        {{ 'Farm_share.Farm_share_requests' | translate }}
                      </button>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                  <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <label>{{ 'Common_labels.Contact_name' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user?.fullName | titlecase }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>{{ 'Common_labels.Email' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ authService.currentUserValue.email }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>{{ 'Common_labels.Phone' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user?.phoneNumber }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>{{ 'Common_labels.Mobile' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user?.mobileNumber }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>{{ 'Common_labels.Address' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user?.fullAddress }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<ng-template #FarmRequest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'Farm_request.Farm_share_request' | translate }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div farm-request (Close)="closeModal()" class="modal-body">
  </div>
</ng-template>
