<!-- Header section  -->
<div id="login-account" class="collapse">
    <div class="container">
  
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#login-form">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#create-form">Create Account</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="login-form" class="container tab-pane active"><br>
          <div class="container login-container">
            <div class="row">
              <div class="col-md-12 login-form">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="password" placeholder="Password">
                  </div>
                  <div class="col-md-4 form-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-login">Sign In</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group forget-password text-right">
                    <a href="#">Forget Password</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="create-form" class="container tab-pane fade"><br>
          Form
        </div>
  
      </div>
    </div>
  </div>
  <header class="header-section clearfix">
  
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6 text-md-right">
            <a href="admin">Greetings Admin!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="site-navbar">
      <!-- Logo -->
      <a routerLink="/admin" class="site-logo">
        <img src="img/logo-ipm-decision.png" alt="Logo Ipm Decisions" title="Logo IPM">
      </a>
      <div class="header-right">
  
        <button class="search-switch"><i class="fa fa-search"></i></button>
      </div>
      <!-- Menu -->
      <nav class="site-nav-menu">
        <ul>
          <li><a routerLink="/admin">Home</a></li>
          <li><a routerLink="/admin/cms">CMS</a></li>
          <li><a>Users</a>
            <ul class="sub-menu">
              <li><a routerLink="/admin/add-user">Add User</a></li>
              <li><a routerLink="/admin/user-list">User list</a></li>
              <li><a routerLink="/admin/user-profile">User Profile</a></li>
            </ul>
          </li>
          <li><a routerLink="/admin/datasource-repo">Datasource Repository</a></li>
          <li><a>Metadata & Catalogue Repository</a>
            <ul class="sub-menu">
              <li><a routerLink="/admin/manage-metadata">Manage Metadata</a></li>
              <li><a routerLink="/admin/manage-catalogue">Manage Catalogue</a></li>
            </ul>
          </li>
          <li><a href="https://github.com/H2020-IPM-Decisions/IPM-Decisions-Platform">Source Code Repository</a></li>
        </ul>
      </nav>
  
    </div>
  
  </header>
  <!-- Header section end  -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Datasource Repository</li>
  </ol>
</nav>
  
  <div class="container mx-auto my-5">
    <h1 class="text-center mb-5">Datasource Repository</h1>
    <img src="img/maintenance.png">
  </div>