label {
    text-align: center;
    margin: 50px auto;
    display: block;
    color: #1a1b1b;
    font-weight: 600;
} 

.btn-login {
    width: 100%;
    background: #07b197;
    color: #fff !important;
}

.confirmationEmail {
    margin-top: 33px;
}