<header class="header-section clearfix">

  <div class="site-navbar">
    <!-- Logo -->
    <a routerLink="/" class="site-logo">
      <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions" title="Logo IPM" />
    </a>
    <div class="login-registration-menu">
      <div class="login-registration-menu-item">
        <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i><br>Log in</a>
      </div>
      <div class="login-registration-menu-item">
        <a class="register-link" (click)='goToRegistrationPage()'><i class="fa fa-user-circle-o"
            aria-hidden="true"></i><br>Register</a>
      </div>
    </div>
  </div>
</header>
<!-- Header section end  -->
<div class="border-animation"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="news">
        <h3>IPM Decisions key information</h3>
        <div class="articles">
          <ng-template ngFor let-article [ngForOf]="news?.articles">
            <div [innerHtml]="article.value">
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-8 px-0">
      <div id="map">
      </div>
    </div>
  </div>
</div>

<!-- Features section   -->
<section class="features-section set-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 features-section-column">
        <a routerLink="/farmer-advisor-article">
          <div class="feature-box">
            <img src="img/farming.jpg" alt="">
            <br>
            Farmers/Advisors
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 features-section-column">
        <a routerLink="/research-article">
          <div class="feature-box">
            <img src="img/research.jpg" alt="">
            <br>
            Researchers
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 features-section-column">
        <a routerLink="/coding-article">
          <div class="feature-box">
            <img src="img/coding.jpg" alt="">
            <br>
            DSS Developers
          </div>
        </a>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>
<!-- Features section end  -->

<app-footer></app-footer>
