<div id="topbar" class="d-sm-flex align-items-center fixed-top">
  <div class="container d-flex">
    <!-- Session Bar -->
    <div *ngIf="isSessionExpiring() && isLoggedIn" class="sessionBarShow">
      <div class="row">
          <div class="warningIcon">
              <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div *ngIf="!sessionIsExpired" class="col d-flex justify-content-center">
              {{ 'Information_messages.Session_expiration_message_start' | translate }} &nbsp;<span class="countdown">{{ sessionTimeLeftToShow }}</span>&nbsp; {{ 'Common_labels.Seconds' | translate }}.&nbsp;
              <span class="clickToExtend" (click)="extendSession()">{{ 'Common_labels.Click_here' | translate }}</span>&nbsp; {{ 'Information_messages.Session_expiration_message_end' | translate }}
          </div>
          <div *ngIf="sessionIsExpired" class="col d-flex justify-content-center"> {{ 'Information_messages.Session_expired' | translate }} </div>
          
      </div>
    </div>
    <div class="contact-info mr-auto">

    </div>
    <app-language-selector></app-language-selector>
    <div class="social-links btn-registration" *ngIf="(!isLoggedIn)">
      <a id="home-anchor-login" class="user" routerLink="/login"><i class='bx bx-log-in-circle'></i><span>
        {{ 'Common_labels.Login' | translate }}</span></a>
      <a class="facebook" (click)='goToRegistrationPage()'><i class='bx bxs-lock-alt'></i><span>
        {{ 'Common_labels.Register' | translate }}</span></a>
    </div>
    <div class="ml-3 header-user-info" *ngIf="(isLoggedIn)">
      <i class='bx bx-user mr-2'></i><span>{{ username }}</span>
      <a class="ml-2" (click)="navigateToPrivatePages()"><span class="loggedFarmLink"><i class="bx bx-log-in"></i>
        {{ 'Home.IPM_Private' | translate }}</span></a>
    </div>
  </div>
</div>

<!-- In development banner 
  <div class="developmentBanner" *ngIf = "showDevBanner">
    <h2><i class='bx bx-wrench backgroundIcon'></i> IN DEVELOPMENT <i class='bx bx-wrench backgroundIcon'></i></h2>
    <p>
      This web platform is currently in development and will be updated without warning, potentially resulting in the loss of information or errors. 
We strongly recommend that you do not use this platform ahead of its release date, which is currently scheduled for 19th September 2022.
<br><br><span class="linkText" (click)="hideDevBanner()">Hide this banner</span>
    </p>
  </div>-->

<!-- ======= Header ======= -->
<header id="header" class=" bannerHeader fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <a href="../">
            <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
          </a>
        </div>
        <div class="col-md-8 col-xs-12 text-align-top-left desc-header">
          <span><strong>{{ homeTitle }}</strong></span>
        </div>
      </div>
      
    </div>
</header><!-- End Header -->

  <section id="hero" class="d-flex align-items-center">
    
  </section>

<main id="main">
  <div class="row no-gutters cmsIntroduction client-text">
    <!-- TEMPORARY DISABLED -->
    <!--<div [ngStyle]="{'margin-top': '127px', 'padding': '20px 60px'}" [innerHtml]="homeIntro"></div>-->

    <!--<div class="col-md-6">
       ======= Hero Section ======= 
      <section id="map-content" class="hero-section d-flex align-items-center">
        <i class="fas fa-play-circle" (click)="play()"></i>
        <i class="fas fa-pause-circle" (click)="pause()"></i>
        <i class="fas fa-search-plus" (click)="zoomIn()"></i>
        <i class="fas fa-search-minus" (click)="zoomOut()"></i>
        <div class="hero-slider owl-carousel">
          <ng-template ngFor let-picture [ngForOf]="homeSlideshow?.gallery">
            <div class="hero-item set-bg" [attr.data-setbg]="picture.path | cmsLink"
              [style.background-size]="sliderImageSize + 'px'">
            </div>
          </ng-template>
        </div>
      </section>
    </div>-->
  </div>
  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="content">
            <h3 [innerHtml]="('Home.IPM_Decisions_News' | translate)" class="title-carousel"></h3>
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let n of testNews">
                <ng-template class="slide" carouselSlide>
                  <div class="post-slide8">
                    <div class="post-content">
                      <h3 class="post-title">
                        {{ n.title }}
                      </h3>
                      <p class="post-description" [innerHtml]="n.content">
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <a routerLink="/farmer-advisor-article" class="link">
                <div class="icon-box mt-4 mt-xl-0">
                  <div class="icon">
                    <img src="img/farming.png">
                  </div>
                  <h4 class="title">{{ 'Common_labels.Farmers_and_Advisors' | translate }}</h4>
                </div>
                </a>
                
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <a routerLink="/research-article" class="link">
                <div class="icon-box mt-4 mt-xl-0">
                  <div class="icon">
                    <img src="img/research.png">
                  </div>
                  <h4 class="title">{{ 'Common_labels.Researchers' | translate }}</h4>
                </div>
                </a>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <a routerLink="/coding-article" class="link">
                <div class="icon-box mt-4 mt-xl-0">
                  <div class="icon"><img src="img/coding.png"></div>
                  <h4 class="title">{{ 'Common_labels.Developers' | translate }}</h4>
                </div>
                </a>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
  
    </div>
  
  
  
  </section><!-- End Featured Services Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h3><span>{{ 'Home.Contacts' | translate }}</span></h3>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">


        <div class="col-md-4 col-md-6">
          <div class="info-box  mb-4">
            <h3>{{ 'Home.Email_us' | translate }}</h3>
            <p><a href="mailto:contact@ipmdecisions.net" target="_blank">contact@ipmdecisions.net</a></p>
            <br>
          </div>
        </div>

        <div class="col-md-4 col-md-6">
          <div class="info-box  mb-4">
            <h3>{{ 'Home.Web_Site' | translate }}</h3>
            <a href="https://www.ipmdecisions.net" target="_blank">https://www.ipmdecisions.net</a>
            <!--<p>https://www.ipmdecisions.net</p>-->
            <br>
          </div>
        </div>

        <div class="col-md-4 col-md-6">
          <div class="info-box  mb-4">
            <h3>{{ 'Home.Useful_links' | translate }}</h3>
            <a href="https://bdspublishing.com/resources/ipm-decisions/"
              target="_blank">https://bdspublishing.com/resources/ipm-decisions/</a>
            <br>
            <a href="https://ipmworks.net/" target="_blank">https://ipmworks.net/</a>
            <br>
            <a href="https://platform.smartprotect-h2020.eu/"
              target="_blank">https://platform.smartprotect-h2020.eu/</a> 
            <!--<p>https://bdspublishing.com/resources/ipm-decisions/</p>
            <p>https://ipmworks.net/</p>
            <p>https://platform.smartprotect-h2020.eu/</p>-->
            <br>
            <a href="https://www.effispray.com/"
              target="_blank">https://www.effispray.com/</a>
            <br>
          </div>
        </div>

        <div class="col-md-4 col-md-6">
          <div class="info-box mb-4">
            <h3>{{ 'Home.Social' | translate }}</h3>
            <a href="https://www.facebook.com/IPM-Decisions-113070703594951" class="icoFacebook" title="Facebook"><i
                class='bx bxl-facebook-square'></i></a>
            <a href="https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=IpmDecisions"
              class="icoTwitter" title="Twitter"><i class='bx bxl-twitter'></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container py-4">
    <div class="row">
      <div class="col-md-5 eu-flag">
        <p>{{ 'Common_labels.EU_footer_further_information' | translate }} <a href="mailto:contact@ipmdecisions.net" target="_blank">contact@ipmdecisions.net</a>.</p>
        <p>{{ 'Common_labels.EU_footer_further_details_on_project' | translate }} <a href="https://www.ipmdecisions.net" target="_blank">https://www.ipmdecisions.net</a>.</p>
        <img src="img/logo-euro.jpg" style="float: left; display: inline-grid; margin-right: 5px;">
        <p>
          {{ 'Common_labels.Cofundend_by_the_Horizon_2020' | translate }}
          <br>{{ 'Common_labels.Framework_programme' | translate }}
          <br>{{ 'Common_labels.Under_grant_agreement' | translate }}
        </p>
      </div>
      <div class="col-md-3 ">
      </div>

      <div class="col-md-4 ">
        <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2022 <b>{{ 'Common_labels.All_rights_reserved' | translate }} Engineering</b> <br>VAT: 05724831002
  </div>
</footer><!-- End Footer -->
<div>

</div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>