#map {
  height: 400px;
  max-width: 100%;
}

.news {
  max-height: 400px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 260px;
}

.fa-play, .fa-pause {
  position: absolute;
  font-size: 1.5rem;
  color: gray;
  z-index: 2;
  bottom: 10px;
  left:50%;
  cursor: pointer;
}

.fa-play {
  transform: translateX(-100%);
}

.fa-pause {
  transform: translateX(100%);
}
