#map {
  height: 400px;
  max-width: 100%;
}

.news {
  max-height: 400px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 260px;
}

.fa-play-circle, .fa-pause-circle {
  position: absolute;
  font-size: 2rem;
  color: gray;
  z-index: 2;
  bottom: 10px;
  left:50%;
  cursor: pointer;
}

.fa-play-circle {
  transform: translateX(-50%);
}

.fa-pause-circle {
  transform: translateX(50%);
}
