<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
  <div class="container d-flex">
      <div class="contact-info mr-auto">

      </div>
      <div class="social-links btn-registration">
          <a class="user" routerLink="/login"><i class='bx bx-log-in-circle'></i><span>Login </span></a>
          <a class="facebook" (click)='goToRegistrationPage()'><i class='bx bxs-lock-alt'></i><span>Registrer</span></a>
      </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <a href="index.html"><img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions"></a>

      <nav class="nav-menu d-none d-lg-block">
          <ul>
              <li class="active"><a href="index.html">Home</a></li>
          </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->



<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="map-content" class="hero-section d-flex align-items-center">
    <i class="fas fa-play-circle" (click)="play()"></i>
    <i class="fas fa-pause-circle" (click)="pause()"></i>
    <div class="hero-slider owl-carousel">
      <ng-template ngFor let-picture [ngForOf]="homeSlideshow?.gallery">
        <div class="hero-item set-bg" [attr.data-setbg]="picture.path | cmsLink">
          <a [attr.href]="picture.path | cmsLink">
            <div class="container">
              <div class="row">
                <div class="col-xl-8">
                  <h2>
                    <span>IPM</span><span>DECISIONS</span><span> Support System Platform</span>
                  </h2>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-template>
    </div>
  </section>

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">

      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 sect-news no-padd">
                  <div class="section-title">
                      <span class="subheading">News &amp; Blog</span>
                      <h3><b>IPM Decisions</b> key information </h3>
                  </div>
                  <div id="news-slider8" class="owl-carousel">
                      <div class="post-slide8">
                          <div class="post-content">
                              <h3 class="post-title">
                                  <a href="#">Latest News Post</a>
                              </h3>
                              <p class="post-description">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......
                              </p>
                              <a href="#" class="read-more">read more</a>
                          </div>
                      </div>

                      <div class="post-slide8">
                          <div class="post-content">
                              <h3 class="post-title">
                                  <a href="#">Latest News Post</a>
                              </h3>
                              <p class="post-description">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......
                              </p>
                              <a href="#" class="read-more">read more</a>
                          </div>
                      </div>

                      <div class="post-slide8">
                          <div class="post-content">
                              <h3 class="post-title">
                                  <a href="#">Latest News Post</a>
                              </h3>
                              <p class="post-description">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......
                              </p>
                              <a href="#" class="read-more">read more</a>
                          </div>
                      </div>

                      <div class="post-slide8">
                          <div class="post-content">
                              <h3 class="post-title">
                                  <a href="#">Latest News Post</a>
                              </h3>
                              <p class="post-description">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......
                              </p>
                              <a href="#" class="read-more">read more</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 no-padd">
                  <div class="container" data-aos="fade-up">
                      <div class="section-title">
                          <h3>SECTIONS </h3>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-lg-6">
                              <a routerLink="/farmer-advisor-article">
                                  <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="margin: 0 auto;">
                                      <div class="icon">
                                          <img src="img/farming.png">
                                      </div>
                                      <h4 class="title">Farming</h4>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-3 col-lg-3">
                              <a routerLink="/research-article">
                                  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                      <div class="icon">
                                          <img src="img/research.png">
                                      </div>
                                      <h4 class="title">Research</h4>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-3 col-lg-3">
                              <a routerLink="/coding-article">
                                  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                      <div class="icon"><img src="img/coding.png"></div>
                                      <h4 class="title">Coding</h4>
                                  </div>
                              </a>
                          </div>

                      </div>

                  </div>
              </div>

          </div>
      </div>



  </section><!-- End Featured Services Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

          <div class="section-title">
              <h3><span>Contacts</span></h3>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">


              <div class="col-lg-4 col-md-6">
                  <div class="info-box  mb-4">
                      <h3>Email Us</h3>
                      <p> info@XXX.eu</p>
                      <br>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="info-box  mb-4">
                      <h3>Web Site</h3>
                      <p>https://XXX/</p>
                      <br>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="info-box mb-4">
                      <h3>Social</h3>
                      <a href="#" class="icoLinkedin" title="Linkedin"><i class='bx bxl-linkedin-square'></i></a>
                      <a href="#" class="icoTwitter" title="Twitter"><i class='bx bxl-twitter'></i></a>
                  </div>
              </div>

          </div>

      </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container py-4">
      <div class="row">
          <div class="col-lg-4 col-md-4 eu-flag">
              <img src="img/logo-euro.jpg" style="float: left;
display: inline-grid;
margin-right: 5px;">
              <p>Co-funded by the Horizon 2020<br>Framework Programme of the European Union<br>Under grant agreement No 817617</p>
          </div>
          <div class="col-lg-4 col-md-4 ">
              <p>Project lead:<br>Neil Paveley (neil.paveley@adas.co.uk)</p>
              <p>Technical contacts:<br>Dave Skirvin (Dave.Skirvin@adas.co.uk)</p>
              <p>Tor-Einar Skog (tor-einar.skog@nibio.no)</p>
              <p>General enquiries:<br>IPMDecisions@adas.co.uk</p>
          </div>

          <div class="col-lg-4 col-md-4 ">
              <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
          </div>
      </div>
  </div>
  <div class="copyright">
      © 2020 <b>All Rights Reserved Engineering</b> <br>VAT: 05724831002
  </div>
</footer><!-- End Footer -->
<div>

</div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
