#map {
  height: 400px;
  max-width: 100%;
}

.news {
  max-height: 400px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 260px;
}

.fa-play-circle,
.fa-pause-circle,
.fa-search-plus,
.fa-search-minus {
  position: absolute;
  font-size: 2rem;
  color: gray;
  z-index: 2;
  cursor: pointer;
}

.fa-play-circle {
  bottom: 10px;
  left:50%;
  transform: translateX(-50%);
}

.fa-pause-circle {
  bottom: 10px;
  left:50%;
  transform: translateX(50%);
}

.fa-search-plus {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fa-search-minus {
  right: 10px;
  top: 50%;
  transform: translateY(50%);
}

.hero-section {
  position: relative;
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
