<div id="topbar" class="d-sm-flex align-items-center fixed-top">
  <div class="container d-flex">
    <!-- Session Bar -->
    <div *ngIf="isSessionExpiring() && isLoggedIn" class="sessionBarShow">
      <div class="row">
          <div class="warningIcon">
              <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div *ngIf="!sessionIsExpired" class="col d-flex justify-content-center">
              {{ 'Information_messages.Session_expiration_message_start' | translate }} &nbsp;<span class="countdown">{{ sessionTimeLeftToShow }}</span>&nbsp; {{ 'Common_labels.Seconds' | translate }}.&nbsp;
              <span class="clickToExtend" (click)="extendSession()">{{ 'Common_labels.Click_here' | translate }}</span>&nbsp; {{ 'Information_messages.Session_expiration_message_end' | translate }}
          </div>
          <div *ngIf="sessionIsExpired" class="col d-flex justify-content-center"> {{ 'Information_messages.Session_expired' | translate }} </div>

      </div>
    </div>
    <div class="contact-info mr-auto">

    </div>
    <app-language-selector></app-language-selector>
    <!--<div class="social-links btn-registration" *ngIf="(!isLoggedIn)">
      <a id="home-anchor-login" class="user" routerLink="/login"><i class='bx bx-log-in-circle'></i><span>
        {{ 'Common_labels.Login' | translate }}</span></a>
      <a class="facebook" (click)='goToRegistrationPage()'><i class='bx bxs-lock-alt'></i><span>
        {{ 'Common_labels.Register' | translate }}</span></a>
    </div>
    <div class="ml-3 header-user-info" *ngIf="(isLoggedIn)">
      <i class='bx bx-user mr-2'></i><span>{{ username }}</span>
      <a class="ml-2" (click)="navigateToPrivatePages()"><span class="loggedFarmLink"><i class="bx bx-log-in"></i>
        {{ 'Home.IPM_Private' | translate }}</span></a>
    </div>-->
  </div>
</div>

  <!-- ======= Header ======= -->
<header id="header" class=" bannerHeader fixed-top">
    <div class="container align-items-center justify-content-between">
      <div class="row">
        <div class="col-xl-9">
          <a href="../">
            <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions">
          </a>
          <br>
          <span class="homeTitle"><strong>{{ homeTitle }}</strong></span>
        </div>
        <div class="col-md-3 mt-4">
          <strong class="mr-5"> <a href="https://www.ipmdecisions.net/the-platform/about/" target="_blank" rel="noopener noreferrer"> {{ 'Common_labels.About' | translate }}</a> </strong>
          <strong> <a href="https://www.ipmdecisions.net/documents/" target="_blank" rel="noopener noreferrer"> {{ 'Home.Factsheets' | translate }}</a> </strong>
        </div>
      </div>
    </div>
</header><!-- End Header -->

<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
        <div class="left col-xl-3">
            <div class="panel">
                <div class="inner">
                    <div class="login" *ngIf="(!isLoggedIn)">
                      <a (click)='goToRegistrationPage()' class="button button-secondary button-medium button full-width">
                        <i class="bx bx-log-in-circle"></i>&nbsp; {{ 'Common_labels.Register' | translate }}</a>
                        <a routerLink="/login" class="button button-secondary button-medium button full-width">
                          <i class="fa fa-unlock-alt"></i>&nbsp; {{ 'Common_labels.Login' | translate }}</a>
                    </div>
                    <div class="login" *ngIf="(isLoggedIn)">
                      <div class="button button-secondary button-medium button full-width">
                        <i class='bx bx-user mr-2'></i><span>{{ username }}</span></div>
                        <a (click)="navigateToPrivatePages()" class="button button-secondary button-medium button full-width">
                          <span class="loggedFarmLink"><i class="bx bx-log-in"></i>{{ 'Home.IPM_Private' | translate }}</span></a>
                    </div>
                    <div class="quicklinks">
                      <a href="https://www.ipmdecisions.net/documents/quick-start-guide-ipm-platform/"
                      target="_blank" rel="noopener noreferrer" class="button button-primary button-medium button full-width">
                        <i class="fa fa-book"></i>&nbsp; {{ 'Home.Quickstart_guide' | translate }}</a>
                      <a href="mailto: contact@ipmdecisions.net" class="button button-primary button-medium button full-width"
                      target="_blank" rel="noopener noreferrer"><i class="fa fa-headphones"></i>&nbsp; {{ 'Home.Support' | translate }}</a>
                      <a href="https://www.ipmdecisions.net/the-project/newsletters/" class="button button-primary button-medium button full-width"
                      target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope"></i>&nbsp; {{ 'Home.Newsletter' | translate }}</a>
                      <a routerLink="/terms&conditions" class="button button-primary button-medium button full-width">
                        <i class="fa fa-bars"></i>&nbsp; {{ 'Home.Terms_and_conditions' | translate }} </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right col-xl-9">
          <div class="panel" id="riskmap-panel">
            <div class="inner">
              <div class="row" style="background-color: white;">
                <div class="col-xl-3" >
                  <div>
                    <span>Current model:<br />{{SelectedRiskMap.title}}</span>
                  </div>
                  <div [innerHTML]="riskMapDescription"></div>
                  <button class="btn btn-info mt-2" (click)="openModal(mapDisclaimer,'modal-xl')">{{ 'Home.Disclaimer' | translate }}</button>
                </div>
                <div class="col-xl-9">
                  <select class="form-control" [value]="SelectedRiskMapProvider.title"
                  (change)="riskMapProviderChanged($event)">
                  <option hidden disabled selected value></option>
                  <ng-template ngFor let-provider [ngForOf]="AvailableRiskMapProviders">
                    <option value='{{provider.id}}.{{provider.providerId}}'> {{provider.title}}
                    </option>
                  </ng-template>
                  </select>
                  <a id="riskmap-info-button" (click)="openModal(mapDetails,'modal-xl')">
                    <i class="fas fa-info-circle light-blue-icon icon-toggle ml-1" ></i>
                  </a>
                  <div id="riskmap-legend">
                    <ng-template ngFor let-legend [ngForOf]="selectedLayerLegend">
                      <i class="fas fa-square ml-1" [style]="legend.legendIconCSS"></i> &nbsp;
                      <span>{{legend.legendLabel}}</span> <br>
                    </ng-template>
                  </div>
                  <div id="riskmap" class="riskmap mt-1"></div>
                  <div class="row">
                    <div class="col-md-7">
                      <div id="riskmap-dataslider">
                        <span>{{ 'Common_labels.Date' | translate }}: {{riskMapCurrentDate}}</span><br>
                        <button type="button" class="btn slider-btn" (click)="moveDateSlider(-1);"><i class="fa fa-step-backward" aria-hidden="true"></i></button>&nbsp;
                        <input (change)="riskMapCurrentDateChange($event.target.value)" type="range" min="0" [max]="riskMapCurrentLayer.dates.length - 1" id="dataslider"  [value]="riskMapCurrentLayer.dates.length -1" class="slider">&nbsp;
                        <button type="button" class="btn slider-btn" (click)="moveDateSlider(1);"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                      </div>
                      {{ 'Home.Risk_map_weather_source' | translate }}: <a href="https://www.dwd.de/EN/ourservices/opendata/opendata.html"
                      target="_blank" rel="noopener noreferrer" id="weather-source-credit">Deutscher Wetterdienst</a> <br>
                    </div>
                    <div class="col-md-5">
                      <div id="riskmap-layers">
                        <ng-template ngFor let-layer [ngForOf]="SelectedRiskMapLayersName" let-i="index">
                          <input class="layer-button" (change)="riskMapCurrentLayerChanged($event.target.value)" type="radio" [id]="layer" [value]="layer" checked *ngIf="layer == 'WARNING_STATUS'"/>
                          <input class="layer-button" (change)="riskMapCurrentLayerChanged($event.target.value)" type="radio" [id]="layer" [value]="layer" *ngIf="layer != 'WARNING_STATUS'"/>
                          &nbsp;<label *ngIf="layer == 'WARNING_STATUS'" [for]="layer">{{layer}}</label>
                          <label *ngIf="layer != 'WARNING_STATUS'" [for]="layer">{{RiskMapLayers[i-1]}}</label> <br>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">

      <div class="container top-container">
        <div class="row">
          <div class="pad-col col-xl-3 d-flex align-items-stretch">
            <a routerLink="/farmer-advisor-article" class="link">
            <div class="icon-box mt-4 mt-xl-0">
              <div class="icon">
                <img src="img/new_farming.png">
              </div>
              <h2 class="title">{{ 'Common_labels.Farmers_and_Advisors' | translate }}</h2>
            </div>
            <div class="arrow-link align-items-center">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
            <img class="leaf-image" src="img/bg-leaf.svg">
            </a>
          </div>
          <div class="pad-col col-xl-3 d-flex align-items-stretch">
            <a routerLink="/research-article" class="link">
            <div class="icon-box mt-4 mt-xl-0">
              <div class="icon">
                <img src="img/new_research.png">
              </div>
              <h2 class="title">{{ 'Common_labels.Researchers' | translate }}</h2>
            </div>
            <div class="arrow-link align-items-center">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
            <img class="leaf-image" src="img/bg-leaf.svg">
            </a>
          </div>
          <div class="pad-col col-xl-3 d-flex align-items-stretch">
            <a routerLink="/coding-article" class="link">
            <div class="icon-box mt-4 mt-xl-0">
              <div class="icon"><img src="img/new_coding.png"></div>
              <h2 class="title">{{ 'Common_labels.Developers' | translate }}</h2>
            </div>
            <div class="arrow-link align-items-center">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
            <img class="leaf-image" src="img/bg-leaf.svg">
            </a>
          </div>
          <div class="pad-col col-xl-3 d-flex align-items-stretch">
            <a routerLink="/dss-info-list" class="link">
            <div class="icon-box mt-4 mt-xl-0">
              <div class="icon"><img src="img/new_dss-info-list.png"></div>
              <h2 class="title">{{ 'Common_labels.Dss_info' | translate }}</h2>
            </div>
            <div class="arrow-link align-items-center">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
            <img class="leaf-image" src="img/bg-leaf.svg">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->
    <div class="container flex" id="latin-placeholder">
      <div class="container related-projects">
        <button (click)="showRelatedProjectsList()" class="button button-primary button-large button-open related-projects-button">
          {{ 'Home.Related_project' | translate }}
          <i class="fa fa-chevron-right"></i>
        </button>
        <div id="related-projects-list" *ngIf="showRelatedProjects">
          <a href="https://bdspublishing.com/" target="_blank" rel="noopener noreferrer">bdspublishing.com</a>
          <a href="https://ipmworks.net/" target="_blank" rel="noopener noreferrer">ipmworks.net</a>
          <a href="https://www.smartprotect-h2020.eu/" target="_blank" rel="noopener noreferrer">smartprotect-h2020.eu</a>
          <a href="https://www.effispray.com/" target="_blank" rel="noopener noreferrer">effispray.com</a>
        </div>
      </div>
    </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container container-wide flex">
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.ipmdecisions.net/">
              <img src="img/logo-white.svg">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3><span>{{ 'Home.Contacts' | translate }}</span></h3>
            <h2><div [innerHtml]="emailUsContent"></div></h2>
          </div>
          <div class="col-md-4">
            <h3><span>IPM DECISIONS</span></h3>
            <div id="footer-cms" [innerHtml]="footerContent"></div>
          </div>
          <div class="col-md-4">
            <h3>{{ 'Home.Social' | translate }}</h3>
            <!--
            <p>{{ 'Home.Newsletter_subscribe' | translate }}</p>
            <div class="row">
              <div class="col-md">
                <input type="email" class="form-email" placeholder="{{ 'Common_labels.Email' | translate }}" />&nbsp;
                <button class="form-email-button">{{ 'Common_labels.Register' | translate }}</button>
              </div>
            </div>-->
            <p>{{ 'Home.Follow_us' | translate }}</p>
            <div class="row">
              <div class="col-xl">
                <a href="https://www.facebook.com/IPM-Decisions-113070703594951"  title="Facebook" target="_blank" rel="noopener noreferrer">
                  <img class="social-icon" src="img/icons/facebook-icon.png" id="facebook-icon"></a>&nbsp;
                <a href="https://www.linkedin.com/company/ipm-decisions/?viewAsMember=true" title="linkedin" target="_blank" rel="noopener noreferrer">
                  <img class="social-icon" src="img/icons/linkedin-icon.png" id="linkedin-icon"></a>
                  &nbsp;<a href="https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=IpmDecisions" title="Twitter" target="_blank" rel="noopener noreferrer">
                  <img class="social-icon" src="img/icons/twitterx-icon.png" id="twitterx-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="row">
      <div class="col-md-8 footer-content" >
        <div [innerHTML]="footerMiddleContent">
        </div>
      </div>
      <div class="col-md-1 footer-content">
      </div>
      <div class="col-md-3 footer-content">
        © 2024 <b>{{ 'Common_labels.All_rights_reserved' | translate }} Engineering</b> VAT: 05724831002
      </div>
    </div>
  </footer><!-- End Footer -->
  <div>

  </div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<ng-template #mapDetails>
  <div class="modal-header">
    <h4 class="modal-title w-100" id="modal-basic-title">
      <span class="modalInfoIcon fa-stack">
      </span> <b>{{ SelectedRiskMap.title }}</b> </h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body flex-grow-1">
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-8" [innerHTML]="SelectedRiskMapConfiguration.abstract">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>

<ng-template #mapDisclaimer>
  <div class="modal-header">
    <h4 class="modal-title w-100" id="modal-basic-title">
      <span class="modalInfoIcon fa-stack">
      </span> <b>{{ 'Home.Disclaimer' | translate }}</b> </h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body flex-grow-1">
    <div class="form-group row">
      <div class="col justify-content-center">
        <div class="d-flex justify-content-center m-3 text-muted warningTextWrap">
          <strong>
            {{ 'DSS_use_dashboard.Platform_rationale_information' | translate }}
            <br><br>
            BASIS registered users of the IPM Decisions platform in the UK for the 2022-23 season can receive 2 CDP points by sending the following code to cpd@basis-reg.co.uk: IPM/125329/2223/h
          </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary push-right" (click)="modalRef.hide()">{{ 'Common_labels.Close' | translate }}</button>
  </div>
</ng-template>
