<div class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-md-left">
        <a href="#" class="nav-link user-up-nav" id="cmsDropdown" data-toggle="dropdown" aria-expanded="false">
          CMS URL: {{cmsUrl}}
        </a>
        <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="cmsDropdown">
          &nbsp;<input #urlInput [attr.value]="cmsUrl"> &nbsp; <button
            (click)="updateUrl(urlInput.value)">Enter</button>
          &nbsp;
        </div>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="#" class="nav-link dropdown-toggle user-up-nav" id="navbarDropdown" data-toggle="dropdown"
          aria-expanded="false">
          Welcome, Dave Skirvin <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user/account']">Account</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" [routerLink]="['/']">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-navbar">
  <!-- Logo -->
  <a [routerLink]="['/user']" class="site-logo">
    <img [src]="bannerUrl | cmsLink" alt="Logo Ipm Decisions" title="Logo IPM" />
  </a>
  <div class="header-right">
    <button class="search-switch"><i class="fa fa-search"></i></button>
  </div>
  <!-- Menu -->
  <nav class="site-nav-menu">
    <ul>
      <li class="{{active == 'home' ? 'active' : ''}}"><a [routerLink]="['/user/farm/list']"
          routerLinkActive="router-link-active">Home</a></li>
      <li class="{{active == 'farm-list' ? 'active' : ''}}"><a [routerLink]="['/user/farm/list']"
          routerLinkActive="router-link-active">Farm List</a>
        <ul class="sub-menu">
          <li><a [routerLink]="['/user/farm/add']" routerLinkActive="router-link-active">Add Farm</a></li>
        </ul>
      </li>
      <li class="{{active == 'dss' ? 'active' : ''}}">
        <a>DSS</a>
        <ul class="sub-menu">
          <li><a [routerLink]="['/user/dss/use-dashboard']" routerLinkActive="router-link-active">DSS Use Dashboard</a>
          </li>
          <li><a [routerLink]="['/user/dss/evaluation-dashboard']" routerLinkActive="router-link-active">DSS Evaluation
              Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/adaptation-dashboard']" routerLinkActive="router-link-active">DSS Adaptation
              Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/integration-dashboard']" routerLinkActive="router-link-active">DSS
              Integration Dashboard</a></li>
          <li><a [routerLink]="['/user/dss/list']" routerLinkActive="router-link-active">DSS List</a></li>
        </ul>
      </li>
      <li class="{{active == 'dashboard-manager' ? 'active' : ''}}"><a [routerLink]="['/user/dashboard-manager']"
          routerLinkActive="router-link-active">Dashboard Manager</a></li>
    </ul>
  </nav>
</div>