<td class="text-center">
    {{ weatherStation.weatherStationId }}
</td>
<td class="text-center">
    {{ weatherStation.weatherStationReference }}
</td>
<td class="text-center">
    {{ weatherStation.weatherName }}
</td>
<td class="td-actions text-center py-1">
    <div class="row ml-2">
        <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Edit" [title]="('Common_labels.Edit' | translate)"
        [routerLink]="['/user/account/weather-station', weatherStation.id,'edit']">
            <i class="action-icon light-blue-icon size-11 fas fa-edit"></i>
        </button>
        <button type="button" rel="tooltip" class="btn btn-link" data-original-title="Delete" [title]="('Common_labels.Delete' | translate)"
        (click)="disassociateWeatherStation()">
        <i class="action-icon light-blue-icon size-11 fas fa-trash"></i>
      </button>
    </div>
</td>
