<div class="app-container app-theme-white fixed-sidebar fixed-header body-tabs-shadow fixed-footer">
    <user-header></user-header>
    <div class="app-main">
      <sidebar></sidebar>
      <div class="app-main__outer">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/user/farm">{{ 'Common_labels.Home' | translate }}</a></li>
            <li class="breadcrumb-item"><a routerLink="/user/account">{{ 'Common_labels.Account' | translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'User_weather_stations.Weather_stations' | translate }}</li>
          </ol>
        </nav>
        <div class="app-main__inner profile-container">
          <div class="app-page-title">
            <div class="page-title-wrapper">
              <div class="page-title-heading">
                <div class="page-title-icon">
                  <em class="pe-7s-user icon-gradient bg-mean-fruit">
                  </em>
                </div>
                <div>{{ 'User_weather_stations.Weather_stations' | translate }}</div>
              </div>
            </div>
          </div>
  
          <div class="container mx-auto my-5 page-box">
            <div class="container page-box" *ngIf="!noWeatherStationsAvailable; else noWeatherStation">
                <div class="row">
                    <div class="col-12 mt-4">
                      <fieldset class="border p-3 ml-3 mr-3 mb-3">
                        <legend class="w-auto px-1 text-muted h5">
                          <b>{{ 'User_weather_stations.Available_stations' | translate }}</b>
                        </legend>
                        <div class="row">
                          <div class="col">
                            <table class="table table-striped table-responsive-sm table-bordered">
                              <thead>
                                <tr>
                                  <th class="text-center col-3">{{ 'User_weather_stations.Station_name' | translate }}</th>
                                  <th class="text-center col-3">{{ 'DSS_information_table.Actions' | translate }}</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let weatherStation of AvailableWeatherStations; index as i">
                                  <tr app-weather-station-row [weatherStation]="weatherStation" [isStationAssociatedWithUser]="isTheStationAssociated[i]" (Success)="refreshWeatherStationLists()"
                                  (Disassociate)="disassociateWeatherStation($event)" (Manage)="manageUserWeatherStation($event)">
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row" *ngIf="selectedUserWeatherStationToManage">
                    <div class="col-12 mt-4">
                      <fieldset class="border p-3 ml-3 mr-3 mb-3" app-weather-station-body [weatherStation]="userWeatherStationToManage" 
                      (farmsUpdate)="updateAssociatedFarms($event)" (Close)="closeInfo()">
                      </fieldset>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<ng-template #noWeatherStation>
  <div class="card">
    <div class="d-flex justify-content-center p-3 text-muted">
      <strong>
        {{ 'Information_messages.No_weather_stations_available' | translate }}
      </strong>
    </div>
  </div>
</ng-template>

